Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2018-04, with the labels that each got.

#2563 multi plugin `ParticleCalorimeter`
  docs/TBG_macros.cfg
  docs/source/usage/plugins.rst
  docs/source/usage/plugins/particleCalorimeter.rst
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
Labels: component: plugin, refactoring

#2565 Docker: Update ISAAC Client URL
  share/picongpu/dockerfiles/ubuntu-1604/start_lwfa.sh
Labels: component: third party, install

#2566 Boost: Format String Version
  include/picongpu/versionFormat.cpp
Labels: component: third party, refactoring

#2567 Docs: Namespace ComputeGridValuePerFrame
  docs/source/dev/picongpu.rst
Labels: component: core, documentation

#2569 add particle filter to `ParticleCalorimeter`
  docs/TBG_macros.cfg
  docs/source/usage/plugins/particleCalorimeter.rst
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.kernel
Labels: component: plugin

#2570 Hypnos: Zlib
  etc/picongpu/hypnos-hzdr/k20_picongpu.profile.example
  etc/picongpu/hypnos-hzdr/k80_picongpu.profile.example
  etc/picongpu/hypnos-hzdr/laser_picongpu.profile.example
Labels: affects latest release, bug, documentation, machine/system

#2575 Doxygen: Publish As Well
  README.md
  docs/Doxyfile
  docs/source/dev/doxygen.rst
  docs/source/index.rst
  include/picongpu/main.cpp
Labels: documentation

#2574 Docs: Limit Filters to Eligible Species
  docs/source/usage/particles.rst
  docs/source/usage/plugins/energyHistogram.rst
  docs/source/usage/workflows.rst
  docs/source/usage/workflows/particleFilters.rst
  include/picongpu/param/particleFilters.param
  share/picongpu/examples/KelvinHelmholtz/include/picongpu/param/particleFilters.param
Labels: documentation

#2576 Radiation Plugin: Namespace
  include/picongpu/plugins/radiation/ExecuteParticleFilter.hpp
  include/picongpu/plugins/radiation/Radiation.kernel
  include/picongpu/plugins/radiation/amplitude.hpp
  include/picongpu/plugins/radiation/calc_amplitude.hpp
  include/picongpu/plugins/radiation/nyquist_low_pass.hpp
  include/picongpu/plugins/radiation/parameters.hpp
  include/picongpu/plugins/radiation/particle.hpp
  include/picongpu/plugins/radiation/radFormFactor.hpp
  include/picongpu/plugins/radiation/taylor.hpp
  include/picongpu/plugins/radiation/utilities.hpp
  include/picongpu/plugins/radiation/vector.hpp
Labels: component: plugin, refactoring

#2578 Misc Plugins: Namespace
  include/picongpu/plugins/output/GatherSlice.hpp
  include/picongpu/plugins/output/header/ColorHeader.hpp
  include/picongpu/plugins/output/header/DataHeader.hpp
  include/picongpu/plugins/output/header/MessageHeader.hpp
  include/picongpu/plugins/output/header/NodeHeader.hpp
  include/picongpu/plugins/output/header/SimHeader.hpp
  include/picongpu/plugins/output/header/WindowHeader.hpp
  include/picongpu/plugins/output/images/PngCreator.hpp
  include/picongpu/plugins/output/images/PngCreator.tpp
Labels: component: plugin, refactoring

#2579 PMacc: Add Missing Namespaces
  include/pmacc/RefWrapper.hpp
  include/pmacc/eventSystem/tasks/TaskSetCurrentSizeOnDevice.hpp
Labels: component: PMacc, refactoring

#2580 PMacc Tests: Add Missing Namespaces
  include/pmacc/eventSystem/events/kernelEvents.hpp
  include/pmacc/test/PMaccFixture.hpp
  include/pmacc/test/memory/HostBufferIntern/copyFrom.hpp
  include/pmacc/test/memory/HostBufferIntern/reset.hpp
  include/pmacc/test/memory/HostBufferIntern/setValue.hpp
  include/pmacc/test/memory/memoryUT.cpp
  include/pmacc/test/particles/IdProvider.hpp
  include/pmacc/test/particles/particlesUT.cpp
  include/pmacc/test/random/2DDistribution.cpp
Labels: component: PMacc, component: tests, refactoring

#2584 Docs: Note on Energy Reduce
  docs/source/usage/plugins/energyFields.rst
  docs/source/usage/plugins/energyParticles.rst
Labels: component: plugin, documentation

#2581 Piz Daint: avoid pmi_alps warnings
  etc/picongpu/pizdaint-cscs/normal.tpl
Labels: documentation, machine/system
