Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2018-09, with the labels that each got.

#2697 fix plotting tool for numerical heating
  src/tools/bin/plotNumericalHeating
Labels: affects latest release, component: tools

#2701 accelerator `threads`
  bin/pic-configure
Labels: backend: C++ threads, component: tools

#2700 fix gameOfLife
  include/pmacc/mappings/kernel/MappingDescription.hpp
  share/pmacc/examples/gameOfLife2D/include/Evolution.hpp
  share/pmacc/examples/gameOfLife2D/include/Simulation.hpp
Labels: affects latest release, bug, component: PMacc, component: examples

#2706 Boost Template Aliases: Fix Workaround
  etc/picongpu/titan-ornl/gpu_picongpu.profile.example
  include/pmacc/PMaccConfig.cmake
Labels: affects latest release, backend: cuda, backend: omp2b, bug, component: PMacc

#2707 Boost: Deprecated Math Header
  include/pmacc/cuSTL/algorithm/kernel/run-time/Foreach.hpp
  include/pmacc/cuSTL/container/assigner/DeviceMemAssigner.hpp
Labels: component: third party, warning
