Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2018-08, with the labels that each got.

#2651 Plugin PhaseSpace: fix momentum meta information
  include/picongpu/plugins/PhaseSpace/PhaseSpace.tpp
Labels: affects latest release, bug, component: plugin

#2655 Update Piz-Daint installation script
  docs/source/install/profile.rst
  etc/picongpu/pizdaint-cscs/picongpu.profile.example
Labels: documentation, install, machine/system

#2662 Log: per device instead of GPU
  include/picongpu/initialization/InitialiserController.hpp
  include/picongpu/plugins/hdf5/WriteSpecies.hpp
Labels: refactoring

#2657 cuSTL: HostBuffer 1D Support
  include/pmacc/cuSTL/container/HostBuffer.hpp
  include/pmacc/memory/buffers/HostBuffer.hpp
Labels: affects latest release, bug, component: PMacc

#2659 fix `Manipulate*`
  include/picongpu/particles/InitFunctors.hpp
  include/picongpu/particles/Manipulate.hpp
Labels: bug, component: core

#2660 remove unused species template signature
  include/picongpu/particles/filter/generic/FreeRng.def
  include/picongpu/particles/filter/generic/FreeRng.hpp
  include/picongpu/particles/functor/misc/Rng.def
  include/picongpu/particles/functor/misc/Rng.hpp
  include/picongpu/particles/manipulators/generic/FreeRng.def
  include/picongpu/particles/manipulators/generic/FreeRng.hpp
  include/picongpu/particles/startPosition/generic/FreeRng.def
  include/picongpu/particles/startPosition/generic/FreeRng.hpp
Labels: component: core, refactoring

#2663 Early Normalized Speed of Light
  include/picongpu/param/physicalConstants.param
  include/picongpu/param/unit.param
  include/picongpu/unitless/physicalConstants.unitless
Labels: component: user input, refactoring

#2658 Python: EnergyHistogram MPL Plot
  lib/python/picongpu/plugins/plot_mpl/energy_histogram_visualizer.py
Labels: bug, component: plugin, component: tools

#2661 Hypnos Laser Profile: GCC 5.3.0
  etc/picongpu/hypnos-hzdr/laser_picongpu.profile.example
Labels: documentation, machine/system

#2665 fix fallthrough warning
  include/picongpu/main.cpp
  include/pmacc/types.hpp
Labels: refactoring, warning

#2671 gnu::fallthough is GCC 7+
  include/pmacc/types.hpp
Labels: warning

#2669 fix memory leaks PMacc/PIConGPU
  include/picongpu/fields/FieldTmp.hpp
  include/picongpu/fields/FieldTmp.tpp
  include/pmacc/memory/buffers/ExchangeIntern.hpp
Labels: affects latest release, bug, component: PMacc, component: core

#2670 ADIOS: No adios_set_max_buffer_size
  include/picongpu/plugins/adios/ADIOSWriter.hpp
Labels: affects latest release, bug, component: plugin

#2676 PNG Unitless: Fix Static Asserts
  include/picongpu/unitless/png.unitless
Labels: bug, component: plugin

#2677 MySimulation: GPU => Device
  include/picongpu/simulationControl/MySimulation.hpp
Labels: component: core, refactoring

#2678 remove define `ENABLE_CURRENT`
  include/picongpu/param/components.param
  include/picongpu/simulationControl/MySimulation.hpp
  share/picongpu/examples/Bunch/include/picongpu/param/components.param
  share/picongpu/examples/LaserWakefield/cmakeFlags
  share/picongpu/examples/ThermalTest/include/picongpu/param/components.param
Labels: component: core, component: examples, component: user input

#2675 PMacc: Min GCC & Clang
  include/pmacc/PMaccConfig.cmake
Labels: component: PMacc

#2682 fix missing const quallifier
  include/picongpu/particles/filter/generic/FreeTotalCellOffset.hpp
  include/picongpu/particles/manipulators/unary/FreeTotalCellOffset.hpp
Labels: bug, component: core

#2680 fix gcc compile of IsaacPlugin
  include/picongpu/plugins/IsaacPlugin.hpp
Labels: affects latest release, backend: omp2b, backend: serial, backend: tbb, bug, component: plugin

#2679 phase space mpl: fix update colorbar
  lib/python/picongpu/plugins/plot_mpl/phase_space_visualizer.py
Labels: bug, component: tools

#2683 fix possible deadlock in blocking MPI ops
  include/picongpu/initialization/InitialiserController.hpp
  include/picongpu/plugins/IntensityPlugin.hpp
  include/picongpu/plugins/IsaacPlugin.hpp
  include/picongpu/plugins/PhaseSpace/DumpHBufferSplashP.hpp
  include/picongpu/plugins/PhaseSpace/PhaseSpace.tpp
  include/picongpu/plugins/adios/ADIOSCountParticles.hpp
  include/picongpu/plugins/adios/ADIOSWriter.hpp
  include/picongpu/plugins/adios/NDScalars.hpp
  include/picongpu/plugins/adios/restart/LoadParticleAttributesFromADIOS.hpp
  include/picongpu/plugins/adios/restart/LoadSpecies.hpp
  include/picongpu/plugins/adios/restart/RestartFieldLoader.hpp
  include/picongpu/plugins/hdf5/NDScalars.hpp
  include/picongpu/plugins/hdf5/WriteSpecies.hpp
  include/picongpu/plugins/hdf5/restart/LoadParticleAttributesFromHDF5.hpp
  include/picongpu/plugins/hdf5/restart/LoadSpecies.hpp
  include/picongpu/plugins/hdf5/restart/RestartFieldLoader.hpp
  include/picongpu/plugins/hdf5/writer/Field.hpp
  include/picongpu/plugins/hdf5/writer/ParticleAttribute.hpp
  include/picongpu/plugins/makroParticleCounter/PerSuperCell.hpp
  include/picongpu/plugins/output/GatherSlice.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
  include/pmacc/cuSTL/algorithm/mpi/Gather.tpp
  include/pmacc/cuSTL/algorithm/mpi/Reduce.tpp
  include/pmacc/mpi/MPIReduce.hpp
  include/pmacc/mpi/reduceMethods/AllReduce.hpp
  include/pmacc/mpi/reduceMethods/Reduce.hpp
  include/pmacc/simulationControl/SimulationHelper.hpp
  share/pmacc/examples/gameOfLife2D/include/GatherSlice.hpp
Labels: affects latest release, bug, component: PMacc, component: core, component: plugin

#2647 Changelog: 0.4.0
  CHANGELOG.md
Labels: documentation

#2650 Restart TPLs: new checkpoints.period syntax
  etc/picongpu/hypnos-hzdr/k20_restart.tpl
  etc/picongpu/hypnos-hzdr/k80_restart.tpl
  src/tools/bin/nextstep_from_period.sh
Labels: component: tools

#2637 supercell particle counter
  include/pmacc/particles/ParticlesBase.hpp
  include/pmacc/particles/ParticlesBase.kernel
  include/pmacc/particles/memory/dataTypes/SuperCell.hpp
  include/pmacc/test/particles/memory/SuperCell.hpp
  include/pmacc/test/particles/particlesUT.cpp
Labels: component: PMacc, refactoring

#2689 fix laser init on cpu
  include/picongpu/fields/LaserPhysics.hpp
Labels: backend: omp2b, bug

#2685 Manual: Updates for 0.4.0
  INSTALL.rst
  USAGE.rst
  docs/source/install/instructions/docker.rst
  docs/source/install/instructions/source.rst
  docs/source/install/instructions/spack.rst
  docs/source/usage/param.rst
  docs/source/usage/tbg.rst
  include/pmacc/PMaccConfig.cmake
Labels: documentation

#2690 fix out of host memory during HDF5 dumping
  include/picongpu/plugins/output/WriteSpeciesCommon.hpp
  include/pmacc/memory/buffers/MappedBufferIntern.hpp
Labels: backend: cuda, backend: omp2b, backend: serial, backend: tbb, bug, component: PMacc, component: core, component: plugin

#2686 Release 0.4.0-rc2
  INSTALL.rst
  USAGE.rst
  docs/source/conf.py
  docs/source/install/instructions/docker.rst
  docs/source/install/instructions/source.rst
  docs/source/install/instructions/spack.rst
  docs/source/usage/param.rst
  docs/source/usage/tbg.rst
  include/picongpu/fields/LaserPhysics.hpp
  include/picongpu/plugins/output/WriteSpeciesCommon.hpp
  include/picongpu/version.hpp
  include/pmacc/PMaccConfig.cmake
  include/pmacc/memory/buffers/MappedBufferIntern.hpp
Labels: backend: cuda, backend: omp2b, bug, component: plugin, documentation
