Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2019-05, with the labels that each got.

#2946 ADIOS: Avoid unsafe temporary strings
  include/picongpu/plugins/adios/ADIOSWriter.hpp
Labels: component: plugin, refactoring

#2956 Add an implementation of exp for pmacc vectors
  include/pmacc/math/vector/Vector.tpp
Labels: component: PMacc

#2955 Add a using declaration for Difference type to yee::Curl
  include/picongpu/fields/MaxwellSolver/Yee/Curl.hpp
Labels: component: core, refactoring

#2957 PMacc Vector: C++11 Using
  include/pmacc/math/vector/Float.hpp
  include/pmacc/math/vector/Int.hpp
  include/pmacc/math/vector/Size_t.hpp
  include/pmacc/math/vector/TwistComponents.hpp
  include/pmacc/math/vector/UInt32.hpp
  include/pmacc/math/vector/UInt64.hpp
  include/pmacc/math/vector/Vector.hpp
  include/pmacc/math/vector/Vector.tpp
  include/pmacc/math/vector/compile-time/Float.hpp
  include/pmacc/math/vector/compile-time/Int.hpp
  include/pmacc/math/vector/compile-time/TwistComponents.hpp
  include/pmacc/math/vector/compile-time/Vector.hpp
  include/pmacc/math/vector/math_functor/abs.hpp
  include/pmacc/math/vector/math_functor/cosf.hpp
  include/pmacc/math/vector/math_functor/max.hpp
  include/pmacc/math/vector/math_functor/min.hpp
  include/pmacc/math/vector/math_functor/sin.hpp
  include/pmacc/math/vector/math_functor/sqrtf.hpp
Labels: component: PMacc, refactoring

#2959 CMake 3.11.0+
  .travis.yml
  INSTALL.rst
  buildsystem/CompileSuite/autoTests/new_commits.sh
  etc/picongpu/draco-mpcdf/picongpu.profile.example
  etc/picongpu/hydra-hzdr/default_picongpu.profile.example
  etc/picongpu/pizdaint-cscs/picongpu.profile.example
  etc/picongpu/taurus-tud/k20x_picongpu.profile.example
  etc/picongpu/taurus-tud/k80_picongpu.profile.example
  include/mpiInfo/CMakeLists.txt
  include/picongpu/CMakeLists.txt
  include/pmacc/CMakeLists.txt
  include/pmacc/PMaccConfig.cmake
  include/pmacc/test/random/CMakeLists.txt
  share/pmacc/examples/gameOfLife2D/CMakeLists.txt
  src/tools/png2gas/CMakeLists.txt
  src/tools/splash2txt/CMakeLists.txt
Labels: component: third party, documentation

#2962 Add a wrapper around main() to catch and report exceptions
  include/picongpu/main.cpp
Labels: component: core

#2963 Remove pmacc::forward and pmacc::RefWrapper
  include/picongpu/algorithms/ShiftCoordinateSystem.hpp
  include/picongpu/fields/FieldManipulator.kernel
  include/picongpu/particles/ParticlesFunctors.hpp
  include/picongpu/particles/ParticlesInit.kernel
  include/picongpu/particles/flylite/helperFields/LocalDensityFunctors.hpp
  include/picongpu/particles/flylite/helperFields/LocalEnergyHistogramFunctors.hpp
  include/picongpu/plugins/BinEnergyParticles.hpp
  include/picongpu/plugins/ChargeConservation.tpp
  include/picongpu/plugins/Emittance.hpp
  include/picongpu/plugins/EnergyParticles.hpp
  include/picongpu/plugins/PhaseSpace/PhaseSpace.hpp
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/adios/ADIOSWriter.hpp
  include/picongpu/plugins/adios/WriteSpecies.hpp
  include/picongpu/plugins/adios/restart/LoadSpecies.hpp
  include/picongpu/plugins/hdf5/HDF5Writer.hpp
  include/picongpu/plugins/hdf5/WriteSpecies.hpp
  include/picongpu/plugins/hdf5/restart/LoadSpecies.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
  include/picongpu/simulationControl/MySimulation.hpp
  include/pmacc/RefWrapper.hpp
  include/pmacc/algorithms/ForEach.hpp
  include/pmacc/cuSTL/algorithm/kernel/Foreach.hpp
  include/pmacc/cuSTL/algorithm/kernel/ForeachBlock.hpp
  include/pmacc/cuSTL/algorithm/kernel/run-time/Foreach.hpp
  include/pmacc/cuSTL/cursor/accessor/FunctorAccessor.hpp
  include/pmacc/forward.hpp
  include/pmacc/mappings/simulation/ResourceMonitor.tpp
  include/pmacc/particles/memory/dataTypes/Particle.hpp
Labels: component: PMacc, refactoring

#2950 Add implementation of PML
  docs/source/usage/param/core.rst
  include/picongpu/_defaultParam.loader
  include/picongpu/_defaultUnitless.loader
  include/picongpu/fields/MaxwellSolver/Solvers.def
  include/picongpu/fields/MaxwellSolver/Solvers.hpp
  include/picongpu/fields/MaxwellSolver/YeePML/Field.hpp
  include/picongpu/fields/MaxwellSolver/YeePML/Field.tpp
  include/picongpu/fields/MaxwellSolver/YeePML/Parameters.hpp
  include/picongpu/fields/MaxwellSolver/YeePML/YeePML.def
  include/picongpu/fields/MaxwellSolver/YeePML/YeePML.hpp
  include/picongpu/fields/MaxwellSolver/YeePML/YeePML.kernel
  include/picongpu/param/physicalConstants.param
  include/picongpu/param/pml.param
  include/picongpu/unitless/physicalConstants.unitless
  include/picongpu/unitless/pml.unitless
Labels: component: core

#2961 CUDA 9.0+, GCC 5.1+, Boost 1.65.1+
  .travis.yml
  INSTALL.rst
  buildsystem/CompileSuite/autoTests/new_commits.sh
  etc/picongpu/hydra-hzdr/default_picongpu.profile.example
  etc/picongpu/hypnos-hzdr/laser_picongpu.profile.example
  etc/picongpu/lawrencium-lbnl/picongpu.profile.example
  etc/picongpu/pizdaint-cscs/picongpu.profile.example
  include/mpiInfo/CMakeLists.txt
  include/picongpu/CMakeLists.txt
  include/pmacc/CMakeLists.txt
  include/pmacc/PMaccConfig.cmake
  share/pmacc/examples/gameOfLife2D/CMakeLists.txt
  src/tools/png2gas/CMakeLists.txt
  src/tools/png2gas/README.md
  src/tools/splash2txt/CMakeLists.txt
Labels: backend: cuda, component: third party, documentation

#2948 Field absorber test example
  share/picongpu/examples/FieldAbsorberTest/cmakeFlags
  share/picongpu/examples/FieldAbsorberTest/etc/picongpu/1.cfg
  share/picongpu/examples/FieldAbsorberTest/etc/picongpu/8.cfg
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/dimension.param
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/fieldBackground.param
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/fieldSolver.param
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/fileOutput.param
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/grid.param
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/pml.param
Labels: component: examples

#2965 CMake: CUDA 9.0+
  include/pmacc/PMaccConfig.cmake
Labels: backend: cuda, documentation

#2969 Docs: Update Sphinx
  docs/requirements.txt
Labels: component: third party, documentation
