Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2019-07, with the labels that each got.

#2990 Adjust profiles for taurus-tud
  etc/picongpu/taurus-tud/V100.tpl
  etc/picongpu/taurus-tud/V100_picongpu.profile.example
  etc/picongpu/taurus-tud/V100_restart.tpl
  etc/picongpu/taurus-tud/k80_picongpu.profile.example
Labels: machine/system

#2989 Fix signed int overflow in particle migration between supercells
  include/pmacc/particles/ParticlesBase.kernel
Labels: affects latest release, bug, component: PMacc, machine/system

#2993 Add picongpu::particles::manipulate() as a high-level interface to particle manipulation
  include/picongpu/particles/Manipulate.hpp
  include/picongpu/simulation/stage/MomentumBackup.hpp
Labels: component: core, refactoring

#2995 Move fields/FieldManipulator to fields/absorber/ExponentialDamping
  include/picongpu/fields/FieldB.tpp
  include/picongpu/fields/FieldE.tpp
  include/picongpu/fields/MaxwellSolver/Yee/Yee.hpp
  include/picongpu/fields/MaxwellSolver/YeePML/Field.tpp
  include/picongpu/fields/MaxwellSolver/YeePML/YeePML.hpp
  include/picongpu/fields/absorber/ExponentialDamping.hpp
  include/picongpu/fields/absorber/ExponentialDamping.kernel
  include/picongpu/plugins/adios/WriteMeta.hpp
  include/picongpu/plugins/hdf5/WriteMeta.hpp
Labels: component: core, refactoring

#2997 Spack: Fix Compiler Docs
  docs/source/install/instructions/spack.rst
Labels: affects latest release, bug, component: third party, documentation, install

#3004 add namespace "radiation" around code related to radiation plugin
  docs/source/usage/plugins/radiation.rst
  include/picongpu/param/radiation.param
  include/picongpu/param/radiationObserver.param
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/radiation/ExecuteParticleFilter.hpp
  include/picongpu/plugins/radiation/GetRadiationMask.hpp
  include/picongpu/plugins/radiation/Radiation.hpp
  include/picongpu/plugins/radiation/Radiation.kernel
  include/picongpu/plugins/radiation/amplitude.hpp
  include/picongpu/plugins/radiation/calc_amplitude.hpp
  include/picongpu/plugins/radiation/check_consistency.hpp
  include/picongpu/plugins/radiation/debug/PIConGPUVerboseLogRadiation.hpp
  include/picongpu/plugins/radiation/frequencies/radiation_lin_freq.hpp
  include/picongpu/plugins/radiation/frequencies/radiation_list_freq.hpp
  include/picongpu/plugins/radiation/frequencies/radiation_log_freq.hpp
  include/picongpu/plugins/radiation/nyquist_low_pass.hpp
  include/picongpu/plugins/radiation/parameters.hpp
  include/picongpu/plugins/radiation/particle.hpp
  include/picongpu/plugins/radiation/radFormFactor.hpp
  include/picongpu/plugins/radiation/taylor.hpp
  include/picongpu/plugins/radiation/utilities.hpp
  include/picongpu/plugins/radiation/vector.hpp
  include/picongpu/plugins/radiation/windowFunctions.hpp
  include/picongpu/unitless/radiation.unitless
  share/picongpu/examples/Bunch/include/picongpu/param/radiation.param
  share/picongpu/examples/Bunch/include/picongpu/param/radiationObserver.param
  share/picongpu/examples/KelvinHelmholtz/include/picongpu/param/radiation.param
  share/picongpu/examples/KelvinHelmholtz/include/picongpu/param/radiationObserver.param
Labels: component: plugin, component: user input, refactoring

#3006 Add missing inline qualifiers potentially causing multiple definitions
  include/picongpu/particles/synchrotronPhotons/SynchrotronFunctions.hpp
  include/picongpu/particles/synchrotronPhotons/SynchrotronFunctions.tpp
  include/picongpu/plugins/ResourceLog.hpp
  include/picongpu/plugins/common/txtFileHandling.hpp
  include/pmacc/Environment.hpp
  include/pmacc/eventSystem/events/CudaEvent.def
  include/pmacc/eventSystem/tasks/TaskKernel.hpp
  include/pmacc/eventSystem/transactions/Transaction.hpp
  include/pmacc/eventSystem/transactions/Transaction.tpp
  include/pmacc/misc/splitString.hpp
  include/pmacc/nvidia/functors/Add.hpp
  include/pmacc/nvidia/functors/Max.hpp
  include/pmacc/nvidia/functors/Min.hpp
  include/pmacc/nvidia/functors/Mul.hpp
  include/pmacc/pluginSystem/containsStep.hpp
  include/pmacc/pluginSystem/toTimeSlice.hpp
  include/pmacc/traits/GetStringProperties.hpp
Labels: bug, component: PMacc, component: core

#2991 `particles::forEach`
  include/picongpu/particles/Manipulate.hpp
  include/picongpu/particles/Particles.hpp
  include/picongpu/particles/Particles.kernel
  include/picongpu/particles/Particles.tpp
  include/pmacc/particles/algorithm/CallForEach.hpp
  include/pmacc/particles/algorithm/ForEach.hpp
Labels: component: PMacc, component: core, refactoring

#3009 Docs: Dr.s
  README.md
Labels: documentation

#3008 CMake: Warning in 3.14+ Cache List
  include/picongpu/CMakeLists.txt
Labels: component: tools, install, warning

#3012 Boost: No std::auto_ptr
  include/pmacc/PMaccConfig.cmake
Labels: backend: cuda, component: third party, warning

#2940 Isaac Plugin updated for particle rendering with updated Isaac lib
  include/picongpu/param/isaac.param
  include/picongpu/plugins/IsaacPlugin.hpp
Labels: component: plugin
