Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2019-11, with the labels that each got.

#3097 fix 8.cfg for Bremsstrahlung example
  share/picongpu/examples/Bremsstrahlung/etc/picongpu/8.cfg
Labels: affects latest release, bug, component: examples

#3099 update URL to ADIOS
  README.md
  docs/source/usage/plugins/adios.rst
  thirdParty/cmake-modules/FindADIOS.cmake
Labels: component: third party, documentation

#3091 Fix observation direction of transition radiation plugin
  include/picongpu/param/transitionRadiation.param
  share/picongpu/examples/TransitionRadiation/include/picongpu/param/transitionRadiation.param
Labels: component: plugin

#3098 add 1.cfg to Bremsstrahlung example
  share/picongpu/examples/Bremsstrahlung/etc/picongpu/1.cfg
Labels: component: examples

#3101 add reference to thesis for emittance plugin doc
  docs/source/usage/plugins/sliceEmittance.rst
Labels: component: plugin, documentation

#3102 fix wrong underline in TrasRad plugin doc
  docs/source/usage/plugins/transitionRadiation.rst
Labels: component: plugin, documentation

#3103 Docs: Fix Plugin Table
  docs/source/usage/plugins.rst
Labels: bug, component: plugin, documentation

#3089 fix doc transition radiation plugin
  docs/TBG_macros.cfg
  docs/source/usage/plugins/transitionRadiation.rst
Labels: component: plugin, documentation

#3104 fix errors in transition radiation documentation
  docs/source/usage/plugins.rst
  docs/source/usage/plugins/transitionRadiation.rst
Labels: bug, component: plugin, documentation

#3110 Docs: Fix PS Plugin Matplotlib
  docs/source/usage/plugins/phaseSpace.rst
Labels: bug, component: plugin, documentation

#3073 Travis CI: OSX sed Support
  test/hasEOLwhiteSpace
  test/hasTabs
Labels: component: tests, component: tools

#3115 Add a link to PoGit to the docs
  docs/source/usage/param.rst
Labels: documentation

#3117 fix wrong constructor call
  include/picongpu/particles/pusher/particlePusherProbe.hpp
Labels: affects latest release, bug, warning

#3114 fix wrong used method prefix
  include/picongpu/fields/FieldB.tpp
  include/picongpu/fields/FieldE.tpp
  include/picongpu/particles/synchrotronPhotons/SynchrotronFunctions.tpp
Labels: affects latest release, bug

#3116 CMake Modules: Update ADIOS FindModule
  thirdParty/cmake-modules/FindADIOS.cmake
Labels: affects latest release, bug, component: plugin, component: third party, component: tools

#3105 fix gamma filter transition radiation
  docs/source/usage/plugins/transitionRadiation.rst
  include/picongpu/plugins/transitionRadiation/TransitionRadiation.hpp
  share/picongpu/examples/TransitionRadiation/include/picongpu/param/speciesDefinition.param
Labels: bug, component: plugin

#3120 ADIOS Writer: Fix timeOffset
  include/picongpu/plugins/adios/writer/ParticleAttributeSize.hpp
Labels: affects latest release, bug, component: plugin

#3123 update hemera tpl after SLURM update
  etc/picongpu/hemera-hzdr/defq.tpl
  etc/picongpu/hemera-hzdr/gpu.tpl
  etc/picongpu/hemera-hzdr/k20.tpl
  etc/picongpu/hemera-hzdr/k20_restart.tpl
  etc/picongpu/hemera-hzdr/k80.tpl
  etc/picongpu/hemera-hzdr/k80_restart.tpl
Labels: component: tools, documentation, machine/system

#3124 Make pmacc::DataSpace conversions explicit
  include/pmacc/dimensions/DataSpace.hpp
Labels: component: PMacc, refactoring

#3126 Fix cmake flags for MSVS
  include/picongpu/CMakeLists.txt
Labels: machine/system
