Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2019-02, with the labels that each got.

#2879 Travis CI: Fix Spack CMake Install
  .travis.yml
Labels: component: tests, component: third party

#2880 Contributor name typo in LICENSE.md
  LICENSE.md
Labels: documentation

#2878 PhaseSpace: Unit Colorbar 2D3V
  include/picongpu/plugins/PhaseSpace/PhaseSpace.tpp
Labels: affects latest release, bug, component: plugin

#2876 gridDist: verify devices and blocks
  include/picongpu/initialization/ParserGridDistribution.hpp
  include/picongpu/simulationControl/MySimulation.hpp
Labels: affects latest release, bug, component: user input

#2881 ForEachIdx::operator(): Use Universal Reference
  include/pmacc/mappings/threads/ForEachIdx.hpp
Labels: component: PMacc, refactoring

#2882 Small update for python visualizers
  lib/python/picongpu/plugins/data/energy_histogram.py
  lib/python/picongpu/plugins/data/png.py
Labels: component: plugin, component: tools, documentation, refactoring

#2883 remove duplicated definition of `BOOST_MPL_LIMIT_VECTOR_SIZE`
  include/pmacc/particles/boostExtension/InheritGenerators.hpp
Labels: component: PMacc, refactoring

#2884 Revert Calorimeter Unit Fix
  docs/source/usage/plugins/particleCalorimeter.rst
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
Labels: bug, component: plugin

#2874 System: JUWELS
  docs/source/install/profile.rst
  etc/picongpu/juwels-jsc/batch.tpl
  etc/picongpu/juwels-jsc/batch_picongpu.profile.example
  etc/picongpu/juwels-jsc/gpus.tpl
  etc/picongpu/juwels-jsc/gpus_picongpu.profile.example
Labels: documentation, machine/system

#2887 Hypnos: CMake 3.13.4
  etc/picongpu/hypnos-hzdr/k20_picongpu.profile.example
  etc/picongpu/hypnos-hzdr/k80_picongpu.profile.example
  etc/picongpu/hypnos-hzdr/laser_picongpu.profile.example
Labels: documentation

#2891 CMake: Honor _ROOT Env Hints
  include/mpiInfo/CMakeLists.txt
  include/picongpu/CMakeLists.txt
  include/pmacc/CMakeLists.txt
  include/pmacc/PMaccConfig.cmake
  include/pmacc/test/random/CMakeLists.txt
  share/pmacc/examples/gameOfLife2D/CMakeLists.txt
  src/tools/png2gas/CMakeLists.txt
  src/tools/splash2txt/CMakeLists.txt
Labels: component: tools, install, warning

#2892 Update cuda_memtest: CMake CUDA_ROOT Env
  thirdParty/cuda_memtest/CMakeLists.txt
Labels: component: third party, component: tools, install, warning

#2893 Update mallocMC to 2.3.1crp
  thirdParty/mallocMC/CHANGELOG.md
  thirdParty/mallocMC/CMakeLists.txt
  thirdParty/mallocMC/src/include/mallocMC/creationPolicies/Scatter_impl.hpp
  thirdParty/mallocMC/src/include/mallocMC/distributionPolicies/XMallocSIMD_impl.hpp
  thirdParty/mallocMC/src/include/mallocMC/mallocMC_utils.hpp
  thirdParty/mallocMC/src/include/mallocMC/version.hpp
Labels: component: third party

#2895 Merge 0.4.3 Changelog
  CHANGELOG.md
  share/picongpu/dockerfiles/README.rst
  share/picongpu/dockerfiles/ubuntu-1604/Dockerfile
  share/picongpu/dockerfiles/ubuntu-1604/Singularity
Labels: documentation

#2902 Explicitly specify template argument for std::forward
  include/pmacc/mappings/threads/ForEachIdx.hpp
  include/pmacc/memory/CtxArray.hpp
Labels: affects latest release, bug, component: PMacc

#2901 pic-configure: add `--force/-f` option
  bin/pic-configure
  etc/picongpu/submitAction.sh
Labels: component: tools

#2904 pic-edit: clean cmake file cache if new param added
  bin/pic-edit
Labels: component: tools

#2908 Boost 1.67.0+ Template Aliases
  include/pmacc/PMaccConfig.cmake
Labels: affects latest release, backend: cuda, bug, component: PMacc, component: third party, install

#2906 Docker CUDA Image: Hwloc Default
  share/picongpu/dockerfiles/ubuntu-1604/Dockerfile
  share/picongpu/dockerfiles/ubuntu-1604/packages.yaml
Labels: affects latest release, bug, component: third party, component: tools, install

#2899 split `ParserGridDistribution` into `hpp/cpp` file
  INSTALL.rst
  include/picongpu/CMakeLists.txt
  include/picongpu/initialization/ParserGridDistribution.cpp
  include/picongpu/initialization/ParserGridDistribution.hpp
  include/pmacc/debug/abortWithError.hpp
Labels: affects latest release, backend: cuda, bug, component: PMacc, component: core, component: third party

#2913 splash2txt: fix file name trimming
  INSTALL.rst
  src/tools/splash2txt/CMakeLists.txt
  src/tools/splash2txt/include/splash2txt.hpp
  src/tools/splash2txt/splash2txt.cpp
Labels: affects latest release, bug, component: tools
