Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2020-09, with the labels that each got.

#3134 SAXS plugin implementation using electron density
  docs/TBG_macros.cfg
  docs/source/usage/plugins.rst
  docs/source/usage/plugins/xrayScattering.rst
  include/picongpu/_defaultParam.loader
  include/picongpu/param/physicalConstants.param
  include/picongpu/param/xrayScattering.param
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/xrayScattering/DetermineElectronDensitySolver.hpp
  include/picongpu/plugins/xrayScattering/GetScatteringVector.hpp
  include/picongpu/plugins/xrayScattering/XrayScattering.hpp
  include/picongpu/plugins/xrayScattering/XrayScattering.kernel
  include/picongpu/plugins/xrayScattering/XrayScatteringWriter.hpp
  include/picongpu/plugins/xrayScattering/beam/AxisSwap.hpp
  include/picongpu/plugins/xrayScattering/beam/CoordinateTransform.hpp
  include/picongpu/plugins/xrayScattering/beam/ProbingBeam.hpp
  include/picongpu/plugins/xrayScattering/beam/SecondaryRotation.hpp
  include/picongpu/plugins/xrayScattering/beam/Side.hpp
  include/picongpu/plugins/xrayScattering/beam/XrayScatteringBeam.hpp
  include/picongpu/plugins/xrayScattering/beam/beamProfiles/ConstProfile.hpp
  include/picongpu/plugins/xrayScattering/beam/beamProfiles/GaussianProfile.hpp
  include/picongpu/plugins/xrayScattering/beam/beamProfiles/profiles.hpp
  include/picongpu/plugins/xrayScattering/beam/beamShapes/ConstShape.hpp
  include/picongpu/plugins/xrayScattering/beam/beamShapes/shapes.hpp
  include/picongpu/plugins/xrayScattering/xrayScatteringUtilities.hpp
  include/picongpu/versionFormat.cpp
  include/pmacc/mappings/kernel/MappingDescription.hpp
  lib/python/picongpu/plugins/data/XrayScatteringData.py
  lib/python/picongpu/plugins/data/__init__.py
  lib/python/picongpu/plugins/data/requirements.txt
  share/picongpu/tests/XrayScattering/README.rst
  share/picongpu/tests/XrayScattering/cmakeFlags
  share/picongpu/tests/XrayScattering/etc/picongpu/1.cfg
  share/picongpu/tests/XrayScattering/etc/picongpu/1_ions.cfg
  share/picongpu/tests/XrayScattering/etc/picongpu/1_mirror.cfg
  share/picongpu/tests/XrayScattering/etc/picongpu/2.cfg
  share/picongpu/tests/XrayScattering/include/picongpu/param/density.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/dimension.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/fileOutput.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/grid.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/particle.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/precision.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/species.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/speciesDefinition.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/speciesInitialization.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/xrayScattering.param
  share/picongpu/tests/XrayScattering/lib/python/picongpu/checks.py
  share/picongpu/tests/XrayScattering/lib/python/picongpu/is_close.py
  share/picongpu/tests/XrayScattering/lib/python/picongpu/test_1.py
  share/picongpu/tests/XrayScattering/lib/python/picongpu/test_2.py
Labels: component: plugin

#3344 fix usage of `::abs()`
  include/picongpu/plugins/output/images/Visualisation.hpp
Labels: bug, component: core

#3351 Remove outdated pmacc/nvidia/rng/*
  include/picongpu/particles/Particles.kernel
  include/picongpu/particles/filter/generic/FreeRng.hpp
  include/picongpu/particles/functor/misc/Rng.hpp
  include/picongpu/particles/manipulators/generic/FreeRng.def
  include/picongpu/particles/manipulators/generic/FreeRng.hpp
  include/picongpu/particles/manipulators/unary/RandomPosition.def
  include/picongpu/particles/manipulators/unary/Temperature.hpp
  include/picongpu/particles/startPosition/RandomImpl.hpp
  include/picongpu/particles/startPosition/generic/FreeRng.hpp
  include/pmacc/nvidia/rng/RNG.hpp
  include/pmacc/nvidia/rng/distributions/Normal_float.hpp
  include/pmacc/nvidia/rng/distributions/Uniform_float.hpp
  include/pmacc/nvidia/rng/distributions/Uniform_int32.hpp
  include/pmacc/nvidia/rng/methods/Xor.hpp
  share/picongpu/examples/FoilLCT/include/picongpu/param/particle.param
  share/pmacc/examples/gameOfLife2D/include/Evolution.hpp
Labels: component: PMacc, component: core, refactoring

#3345 Clarify output concerning cuda_memtest not being available
  etc/picongpu/aris-grnet/gpu.tpl
  etc/picongpu/bash/mpiexec.tpl
  etc/picongpu/bash/mpirun.tpl
  etc/picongpu/davide-cineca/gpu.tpl
  etc/picongpu/davinci-rice/picongpu.tpl
  etc/picongpu/hemera-hzdr/fwkt_v100.tpl
  etc/picongpu/hemera-hzdr/gpu.tpl
  etc/picongpu/hemera-hzdr/k20.tpl
  etc/picongpu/hemera-hzdr/k20_restart.tpl
  etc/picongpu/hemera-hzdr/k80.tpl
  etc/picongpu/hemera-hzdr/k80_restart.tpl
  etc/picongpu/jureca-jsc/gpus.tpl
  etc/picongpu/juwels-jsc/gpus.tpl
  etc/picongpu/lawrencium-lbnl/fermi.tpl
  etc/picongpu/lawrencium-lbnl/k20.tpl
  etc/picongpu/pizdaint-cscs/large.tpl
  etc/picongpu/pizdaint-cscs/normal.tpl
  etc/picongpu/taurus-tud/V100.tpl
  etc/picongpu/taurus-tud/V100_restart.tpl
  etc/picongpu/taurus-tud/k20x.tpl
  etc/picongpu/taurus-tud/k80.tpl
Labels: refactoring

#3348 Add generic utilities to get absorber thickness
  include/picongpu/fields/MaxwellSolver/YeePML/YeePML.hpp
  include/picongpu/fields/absorber/Absorber.hpp
Labels: component: core, refactoring

#3352 Set default values for some PMacc game of life example arguments
  share/pmacc/examples/gameOfLife2D/main.cpp
Labels: component: PMacc, refactoring

#3343 PMacc warp and atomic function refactor
  include/pmacc/nvidia/atomic.hpp
  include/pmacc/nvidia/warp.hpp
Labels: component: PMacc, refactoring

#3354 radiation plugin: add new option
  docs/TBG_macros.cfg
  docs/source/usage/plugins/radiation.rst
  include/picongpu/plugins/radiation/Radiation.hpp
  include/picongpu/plugins/radiation/Radiation.kernel
Labels: component: plugin

#3356 Increase HIP compatibility
  include/picongpu/_defaultParam.loader
  include/picongpu/fields/currentDeposition/Strategy.def
  include/picongpu/particles/Particles.hpp
  include/picongpu/particles/ParticlesFunctors.hpp
  include/picongpu/simulation/control/MySimulation.hpp
  include/pmacc/Environment.hpp
  include/pmacc/PMaccConfig.cmake
  include/pmacc/algorithms/math/doubleMath/bessel.tpp
  include/pmacc/algorithms/math/doubleMath/floatingPoint.tpp
  include/pmacc/algorithms/math/doubleMath/modf.tpp
  include/pmacc/algorithms/math/floatMath/bessel.tpp
  include/pmacc/algorithms/math/floatMath/exp.tpp
  include/pmacc/algorithms/math/floatMath/floatingPoint.tpp
  include/pmacc/algorithms/math/floatMath/modf.tpp
  include/pmacc/math/ConstVector.hpp
  include/pmacc/particles/memory/boxes/ParticlesBox.hpp
  include/pmacc/random/methods/XorMin.hpp
  include/pmacc/static_assert.hpp
  include/pmacc/types.hpp
Labels: component: PMacc, component: core

#3358 Fix openPMD warning in XrayScatteringWriter
  include/picongpu/plugins/xrayScattering/XrayScatteringWriter.hpp
Labels: component: plugin

#3364 Add output of fieldSolverParameters attribute to output
  include/picongpu/plugins/adios/WriteMeta.hpp
  include/picongpu/plugins/openPMD/WriteMeta.hpp
  include/pmacc/traits/GetStringProperties.hpp
Labels: component: plugin

#3362 Fix names in string properties of PML solvers to be openPMD-compatible
  include/picongpu/fields/MaxwellSolver/LehePML/LehePML.hpp
  include/picongpu/fields/MaxwellSolver/YeePML/YeePML.hpp
Labels: bug, component: core

#3361 remove hdf5 plugin
  docs/TBG_macros.cfg
  docs/source/usage/plugins.rst
  docs/source/usage/plugins/hdf5.rst
  include/picongpu/plugins/Checkpoint.hpp
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/hdf5/HDF5Writer.def
  include/picongpu/plugins/hdf5/HDF5Writer.hpp
  include/picongpu/plugins/hdf5/NDScalars.hpp
  include/picongpu/plugins/hdf5/WriteFields.hpp
  include/picongpu/plugins/hdf5/WriteMeta.hpp
  include/picongpu/plugins/hdf5/WriteSpecies.hpp
  include/picongpu/plugins/hdf5/openPMD/patchReader.cpp
  include/picongpu/plugins/hdf5/openPMD/patchReader.hpp
  include/picongpu/plugins/hdf5/restart/LoadParticleAttributesFromHDF5.hpp
  include/picongpu/plugins/hdf5/restart/LoadSpecies.hpp
  include/picongpu/plugins/hdf5/restart/RestartFieldLoader.hpp
  include/picongpu/plugins/hdf5/writer/Field.hpp
  include/picongpu/plugins/hdf5/writer/ParticleAttribute.hpp
  share/picongpu/examples/Bremsstrahlung/etc/picongpu/1.cfg
  share/picongpu/examples/Bremsstrahlung/etc/picongpu/8.cfg
  share/picongpu/examples/FieldAbsorberTest/etc/picongpu/1.cfg
  share/picongpu/examples/FieldAbsorberTest/etc/picongpu/8.cfg
  share/picongpu/examples/KelvinHelmholtz/etc/picongpu/16.cfg
  share/picongpu/examples/TransitionRadiation/etc/picongpu/1.cfg
  share/picongpu/examples/TransitionRadiation/etc/picongpu/16.cfg
  share/picongpu/tests/XrayScattering/etc/picongpu/1.cfg
  share/picongpu/tests/XrayScattering/etc/picongpu/1_ions.cfg
  share/picongpu/tests/XrayScattering/etc/picongpu/1_mirror.cfg
  share/picongpu/tests/XrayScattering/etc/picongpu/2.cfg
Labels: component: examples, component: plugin, component: user input

#3369 Separate project and account for Juwels profile
  etc/picongpu/juwels-jsc/batch_picongpu.profile.example
  etc/picongpu/juwels-jsc/gpus_picongpu.profile.example
Labels: machine/system

#3368 juwels adjust tpl
  etc/picongpu/juwels-jsc/batch.tpl
  etc/picongpu/juwels-jsc/gpus.tpl
Labels: machine/system

#3367 Remove unused HasIonizersWithRNG and UsesRNG
  include/picongpu/particles/ionization/byCollision/ThomasFermi/ThomasFermi_Impl.hpp
  include/picongpu/particles/ionization/byField/ADK/ADK_Impl.hpp
  include/picongpu/particles/ionization/byField/Keldysh/Keldysh_Impl.hpp
  include/picongpu/particles/traits/HasIonizersWithRNG.hpp
  include/picongpu/simulation/control/MySimulation.hpp
  include/picongpu/traits/UsesRNG.hpp
Labels: component: core, refactoring

#3363 remove field solver directional splitting
  docs/source/usage/plugins/chargeConservation.rst
  include/picongpu/fields/MaxwellSolver/DirSplitting/DirSplitting.def
  include/picongpu/fields/MaxwellSolver/DirSplitting/DirSplitting.hpp
  include/picongpu/fields/MaxwellSolver/DirSplitting/DirSplitting.kernel
  include/picongpu/fields/MaxwellSolver/Solvers.def
  include/picongpu/fields/MaxwellSolver/Solvers.hpp
  include/picongpu/fields/MaxwellSolver/Yee/Yee.def
  include/picongpu/fields/MaxwellSolver/Yee/Yee.hpp
  include/picongpu/fields/currentInterpolation/CurrentInterpolation.def
  include/picongpu/fields/currentInterpolation/CurrentInterpolation.hpp
  include/picongpu/fields/currentInterpolation/NoneDS/NoneDS.def
  include/picongpu/fields/currentInterpolation/NoneDS/NoneDS.hpp
  include/picongpu/param/fieldSolver.param
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/fieldSolver.param
  share/picongpu/examples/KelvinHelmholtz/include/picongpu/param/fieldSolver.param
  share/picongpu/examples/LaserWakefield/include/picongpu/param/fieldSolver.param
  share/picongpu/examples/TransitionRadiation/include/picongpu/param/fieldSolver.param
  share/picongpu/tests/compileFieldSolver/cmakeFlags
  share/picongpu/tests/compileFieldSolver/include/picongpu/param/fieldSolver.param
  share/picongpu/tests/compileFieldSolver/include/picongpu/param/grid.param
Labels: component: examples, component: user input

#3373 Remove deprecated openPMD::AccessType and replace with openPMD::Access
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
Labels: component: plugin
