Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2020-05, with the labels that each got.

#3239 Fix incorrect initialization and data race
  include/picongpu/plugins/particleMerging/ParticleMerger.kernel
  include/picongpu/plugins/particleMerging/VoronoiCell.hpp
Labels: affects latest release, backend: cuda, bug, component: plugin

#3196 set version to 0.5.0-rc1
  docs/source/conf.py
  include/picongpu/version.hpp
  share/picongpu/dockerfiles/README.rst
  share/picongpu/dockerfiles/ubuntu-1604/Dockerfile
  share/picongpu/dockerfiles/ubuntu-1604/Singularity
Labels: documentation

#3240 Backport: Fix incorrect initialization and data race
  include/picongpu/plugins/particleMerging/ParticleMerger.kernel
  include/picongpu/plugins/particleMerging/VoronoiCell.hpp
Labels: bug, component: plugin

#3244 update to latest cupla dev
  thirdParty/cupla/example/CUDASamples/blackScholes/src/BlackScholes_gold.cpp
  thirdParty/cupla/include/cupla/cudaToCupla/runtime.hpp
  thirdParty/cupla/include/cupla/defines.hpp
  thirdParty/cupla/include/cupla/device/math/Common.hpp
Labels: component: third party

#3251 Fix returning a stringstream by value
  include/picongpu/plugins/ResourceLog.cpp
  include/picongpu/plugins/ResourceLog.hpp
Labels: bug, component: core

#3253 Fix returning a stringstream by value
  include/picongpu/plugins/ResourceLog.cpp
  include/picongpu/plugins/ResourceLog.hpp
Labels: bug

#3252 Fix a double bracket typo
  include/pmacc/algorithms/math/floatMath/trigo.tpp
Labels: bug, component: PMacc

#3246 remove old HZDR systems
  USAGE.rst
  docs/source/install/profile.rst
  docs/source/usage/tbg.rst
  etc/picongpu/hydra-hzdr/default.tpl
  etc/picongpu/hydra-hzdr/default_picongpu.profile.example
  etc/picongpu/hypnos-hzdr/PBS_Tutorial.rst
  etc/picongpu/hypnos-hzdr/fermi.tpl
  etc/picongpu/hypnos-hzdr/laser.tpl
  etc/picongpu/hypnos-hzdr/laser_picongpu.profile.example
  share/paraview/hypnos.pvsc
  share/picongpu/examples/FoilLCT/etc/picongpu/4_isaac.cfg
  share/picongpu/examples/FoilLCT/etc/picongpu/8_isaac.cfg
Labels: documentation, machine/system
