Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2020-08, with the labels that each got.

#3314 fix clang cuda compile
  include/picongpu/plugins/output/images/Visualisation.hpp
Labels: affects latest release, backend: cuda, bug, component: plugin

#3319 Add pmacc functions to get basis unit vectors
  include/picongpu/fields/MaxwellSolver/Lehe/Derivative.hpp
  include/picongpu/fields/differentiation/BackwardDerivative.hpp
  include/picongpu/fields/differentiation/ForwardDerivative.hpp
  include/pmacc/math/vector/Vector.hpp
  include/pmacc/math/vector/Vector.tpp
  include/pmacc/math/vector/compile-time/Vector.hpp
Labels: component: PMacc, component: core, refactoring

#3301 Add support for Lehe solver with PML absorber
  include/picongpu/fields/MaxwellSolver/LehePML/LehePML.def
  include/picongpu/fields/MaxwellSolver/LehePML/LehePML.hpp
  include/picongpu/fields/MaxwellSolver/Solvers.def
  include/picongpu/fields/MaxwellSolver/Solvers.hpp
  include/picongpu/fields/absorber/Absorber.hpp
  include/picongpu/param/fieldSolver.param
  include/picongpu/param/pml.param
  include/picongpu/unitless/checkpoints.unitless
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/fieldSolver.param
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/pml.param
  share/picongpu/examples/KelvinHelmholtz/include/picongpu/param/fieldSolver.param
  share/picongpu/examples/LaserWakefield/include/picongpu/param/fieldSolver.param
Labels: component: core, component: user input

#3320 Refactor margin traits for field derivatives
  include/picongpu/fields/MaxwellSolver/Lehe/Derivative.hpp
  include/picongpu/fields/differentiation/BackwardDerivative.hpp
  include/picongpu/fields/differentiation/Curl.hpp
  include/picongpu/fields/differentiation/ForwardDerivative.hpp
  include/picongpu/fields/differentiation/ZeroDerivative.hpp
Labels: component: core, refactoring

#3321 Add support for Lehe and LehePML solvers in 2D
  include/picongpu/fields/MaxwellSolver/Lehe/Derivative.hpp
  include/picongpu/fields/MaxwellSolver/Solvers.def
  include/picongpu/fields/MaxwellSolver/Solvers.hpp
Labels: component: core

#3316 build CI tests with all dependencies
  share/ci/bash.profile
  share/ci/compiler_clang.yml
  share/ci/compiler_clang_cuda.yml
  share/ci/compiler_gcc.yml
  share/ci/compiler_nvcc_cuda.yml
  share/ci/run_test.sh
Labels: component: tests

#3324 fix plotting tool for numerical heating
  src/tools/bin/plotNumericalHeating
Labels: affects latest release, bug

#3328 Fix wrong variable name in the LWFA setup
  share/picongpu/examples/LaserWakefield/etc/picongpu/1.cfg
  share/picongpu/examples/LaserWakefield/etc/picongpu/4.cfg
Labels: bug, component: examples

#3333 Fix shared memory size in the PhaseSpace plugin
  include/picongpu/plugins/PhaseSpace/PhaseSpace.hpp
Labels: affects latest release, backend: omp2b, backend: serial, backend: tbb, bug, component: plugin

#3332 Fix unsafe access to a vector in cuSTL MPI reduce
  include/pmacc/cuSTL/algorithm/mpi/Reduce.tpp
Labels: affects latest release, bug, component: PMacc

#3330 Fix cuSTL CartBuffer dereferencing a null pointer when CUDA is enabled
  include/pmacc/cuSTL/container/CartBuffer.tpp
Labels: affects latest release, backend: cuda, bug, component: PMacc
