Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2021-02, with the labels that each got.

#3507 fix restart with openPMD
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/restart/LoadSpecies.hpp
Labels: bug, component: plugin

#3505 openPMD support for `plot_chargeConservation_overTime.py`
  src/tools/bin/plot_chargeConservation_overTime.py
Labels: CI:no-compile, component: tools

#3516 CI: fix openPMD-api not used
  share/ci/bash.profile
Labels: bug, component: tests

#3504 openPMD support for `plot_chargeConservation.py`
  src/tools/bin/plot_chargeConservation.py
Labels: CI:no-compile, component: tools

#3520 Change SharedMemAllocator function qualifiers from DEVICEONLY to DINLINE
  include/pmacc/cuSTL/container/allocator/compile-time/SharedMemAllocator.hpp
Labels: component: PMacc, refactoring

#3528 fix typo in FieldAbsorberTest
  share/picongpu/examples/FieldAbsorberTest/cmakeFlags
Labels: CI:no-compile, component: examples, documentation

#3517 fix segfault
  share/picongpu/examples/ThermalTest/include/picongpu/ThermalTestSimulation.hpp
Labels: affects latest release, bug, component: examples

#3518 example: fix FieldAbsorberTest
  share/picongpu/examples/FieldAbsorberTest/cmakeFlags
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/fieldSolver.param
Labels: bug, component: examples

#3522 improved documentation of clang-format usage
  docs/source/dev/styleguide.rst
Labels: CI:no-compile, documentation

#3525 guard ASSERT macros
  include/pmacc/assert.hpp
Labels: backend: hip, bug

#3523 fix jump on uninitialized variable
  include/pmacc/simulationControl/SimulationHelper.hpp
Labels: affects latest release, bug

#3468 Use the openPMD API for the PhaseSpace plugin (formerly libsplash)
  docs/source/usage/plugins/phaseSpace.rst
  include/picongpu/plugins/PhaseSpace/AxisDescription.hpp
  include/picongpu/plugins/PhaseSpace/DumpHBufferOpenPMD.hpp
  include/picongpu/plugins/PhaseSpace/DumpHBufferSplashP.hpp
  include/picongpu/plugins/PhaseSpace/PhaseSpace.hpp
  include/picongpu/plugins/PhaseSpace/PhaseSpace.tpp
  include/picongpu/plugins/PluginController.hpp
  lib/python/picongpu/plugins/data/phase_space.py
  lib/python/picongpu/plugins/plot_mpl/phase_space_visualizer.py
Labels: component: plugin, refactoring

#3512 Add support for Alpaka OpenMP target/OpenACC
  include/pmacc/math/ConstVector.hpp
  include/pmacc/particles/IdProvider.hpp
  include/pmacc/traits/GetNumWorkers.hpp
Labels: component: PMacc
