Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2021-03, with the labels that each got.

#3536 Update Hemera profiles to load the git module
  etc/picongpu/hemera-hzdr/defq_picongpu.profile.example
  etc/picongpu/hemera-hzdr/fwkt_v100_picongpu.profile.example
  etc/picongpu/hemera-hzdr/gpu_picongpu.profile.example
  etc/picongpu/hemera-hzdr/k20_picongpu.profile.example
  etc/picongpu/hemera-hzdr/k80_picongpu.profile.example
Labels: CI:no-compile, machine/system

#3519 Template the Amplitude class of the Radiation plug-in.
  include/picongpu/plugins/radiation/Radiation.hpp
  include/picongpu/plugins/radiation/Radiation.kernel
  include/picongpu/plugins/radiation/amplitude.hpp
Labels: component: plugin

#3535 Fix some outdated docs regarding output and checkpoint backends
  docs/TBG_macros.cfg
  docs/source/usage/plugins/checkpoint.rst
Labels: CI:no-compile, documentation

#3538 Topic ci use hip4.0
  share/ci/bash.profile
  share/ci/compiler_clang.yml
  share/ci/compiler_hipcc.yml
  share/ci/generate.sh
  share/ci/generate_reduced_matrix.sh
  share/ci/n_wise_generator.py
  share/ci/run_pmacc_tests.sh
Labels: backend: hip, component: tests

#3543 fix tool `newVersion.sh`
  src/tools/bin/newVersion.sh
Labels: CI:no-compile, bug, component: tools

#3539 expose compute current worker multiplier
  include/picongpu/fields/FieldJ.tpp
  include/picongpu/fields/currentDeposition/Strategy.def
  include/picongpu/param/species.param
  share/picongpu/benchmarks/SPEC/include/picongpu/param/species.param
  share/picongpu/examples/SingleParticleTest/include/picongpu/param/species.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/species.param
  share/picongpu/tests/compileCurrentSolver/include/picongpu/param/species.param
  share/picongpu/tests/compileParticlePusher/include/picongpu/param/species.param
Labels: component: examples

#3498 Adds compatibility to isaac glm PR
  include/picongpu/plugins/IsaacPlugin.hpp
Labels: component: plugin

#3542 update version to 0.6.0-dev
  docs/source/conf.py
  include/picongpu/version.hpp
  share/picongpu/dockerfiles/README.rst
  share/picongpu/dockerfiles/ubuntu-2004/Singularity
Labels: CI:no-compile, documentation

#3513 openPMD plugin: Extended JSON patterns
  INSTALL.rst
  LICENSE.md
  docs/source/install/libraryDependencies.dot
  docs/source/usage/plugins/openPMD.rst
  docs/source/usage/plugins/openPMD_extended_config.json
  include/picongpu/CMakeLists.txt
  include/picongpu/plugins/openPMD/Json.cpp
  include/picongpu/plugins/openPMD/Json.hpp
  include/picongpu/plugins/openPMD/Json_private.hpp
  include/picongpu/plugins/openPMD/NDScalars.hpp
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/openPMDVersion.def
  include/picongpu/plugins/openPMD/openPMDWriter.def
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/writer/ParticleAttribute.hpp
  libraryDependencies.png
  thirdParty/nlohmann_json/CMakeLists.txt
  thirdParty/nlohmann_json/LICENSE.MIT
  thirdParty/nlohmann_json/cmake/config.cmake.in
  thirdParty/nlohmann_json/cmake/download_test_data.cmake
  thirdParty/nlohmann_json/cmake/nlohmann_jsonConfigVersion.cmake.in
  thirdParty/nlohmann_json/cmake/pkg-config.pc.in
  thirdParty/nlohmann_json/single_include/nlohmann/json.hpp
Labels: component: plugin

#3549 Add installation instructions for ADIOS2 and HDF5 backends of openPMD API
  INSTALL.rst
Labels: CI:no-compile, documentation, install

#3550 Add missing artibrary order solver to the list of PML-enabled field solvers
  include/picongpu/param/pml.param
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/pml.param
Labels: CI:no-compile, component: examples, documentation

#3551 Switch internal handling of current deposition from compile-time to run-time
  include/picongpu/fields/FieldJ.hpp
  include/picongpu/fields/FieldJ.kernel
  include/picongpu/fields/FieldJ.tpp
  include/picongpu/fields/currentInterpolation/Binomial/Binomial.def
  include/picongpu/fields/currentInterpolation/Binomial/Binomial.hpp
  include/picongpu/fields/currentInterpolation/CurrentInterpolation.hpp
  include/picongpu/fields/currentInterpolation/None/None.def
  include/picongpu/plugins/adios/WriteMeta.hpp
  include/picongpu/plugins/openPMD/WriteMeta.hpp
  include/picongpu/simulation/control/Simulation.hpp
  include/picongpu/simulation/stage/CurrentInterpolationAndAdditionToEMF.hpp
Labels: component: core, refactoring

#3556 Remove unused enum picongpu::FieldType
  include/picongpu/simulation_types.hpp
Labels: component: core, refactoring

#3552 Move current interpolation from compile-time parameter to a command-line one
  docs/TBG_macros.cfg
  include/picongpu/fields/FieldJ.tpp
  include/picongpu/fields/MaxwellSolver/ArbitraryOrderFDTD/ArbitraryOrderFDTD.def
  include/picongpu/fields/MaxwellSolver/ArbitraryOrderFDTD/ArbitraryOrderFDTD.hpp
  include/picongpu/fields/MaxwellSolver/ArbitraryOrderFDTDPML/ArbitraryOrderFDTDPML.def
  include/picongpu/fields/MaxwellSolver/ArbitraryOrderFDTDPML/ArbitraryOrderFDTDPML.hpp
  include/picongpu/fields/MaxwellSolver/Lehe/Lehe.def
  include/picongpu/fields/MaxwellSolver/Lehe/Lehe.hpp
  include/picongpu/fields/MaxwellSolver/LehePML/LehePML.def
  include/picongpu/fields/MaxwellSolver/LehePML/LehePML.hpp
  include/picongpu/fields/MaxwellSolver/None/None.def
  include/picongpu/fields/MaxwellSolver/None/None.hpp
  include/picongpu/fields/MaxwellSolver/Yee/Yee.def
  include/picongpu/fields/MaxwellSolver/Yee/Yee.hpp
  include/picongpu/fields/MaxwellSolver/YeePML/YeePML.def
  include/picongpu/fields/MaxwellSolver/YeePML/YeePML.hpp
  include/picongpu/fields/absorber/Absorber.hpp
  include/picongpu/fields/currentInterpolation/Binomial.hpp
  include/picongpu/fields/currentInterpolation/Binomial/Binomial.def
  include/picongpu/fields/currentInterpolation/Binomial/Binomial.hpp
  include/picongpu/fields/currentInterpolation/CurrentInterpolation.def
  include/picongpu/fields/currentInterpolation/CurrentInterpolation.hpp
  include/picongpu/fields/currentInterpolation/None.hpp
  include/picongpu/fields/currentInterpolation/None/None.def
  include/picongpu/fields/currentInterpolation/None/None.hpp
  include/picongpu/param/fieldSolver.param
  include/picongpu/plugins/adios/WriteMeta.hpp
  include/picongpu/plugins/openPMD/WriteMeta.hpp
  include/picongpu/simulation/control/Simulation.hpp
  include/picongpu/simulation/stage/CurrentInterpolationAndAdditionToEMF.hpp
  share/picongpu/examples/FieldAbsorberTest/cmakeFlags
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/fieldSolver.param
  share/picongpu/examples/TransitionRadiation/include/picongpu/param/fieldSolver.param
  share/picongpu/tests/compileCurrentSolver/cmakeFlags
  share/picongpu/tests/compileCurrentSolver/include/picongpu/param/fieldSolver.param
  share/picongpu/tests/compileFieldSolver/cmakeFlags
  share/picongpu/tests/compileFieldSolver/include/picongpu/param/fieldSolver.param
Labels: component: core, component: user input, documentation, refactoring

#3553 Clarify error message and add comments in GameOfLive
  share/pmacc/examples/gameOfLife2D/main.cpp
Labels: component: PMacc, component: examples, documentation

#3527 Add option to duplicate field storage for FieldBackground aka superPusher
  docs/TBG_macros.cfg
  include/picongpu/fields/background/cellwiseOperation.hpp
  include/picongpu/simulation/control/Simulation.hpp
  include/picongpu/simulation/stage/CurrentBackground.hpp
  include/picongpu/simulation/stage/FieldBackground.hpp
  include/pmacc/memory/buffers/DeviceBufferIntern.hpp
Labels: component: PMacc, component: core, component: user input

#3558 Fix and modernize the generation scheme for MPI communication tags
  include/picongpu/fields/EMFieldBase.hpp
  include/picongpu/fields/EMFieldBase.tpp
  include/picongpu/fields/FieldB.tpp
  include/picongpu/fields/FieldE.tpp
  include/picongpu/fields/FieldJ.tpp
  include/picongpu/fields/FieldTmp.tpp
  include/picongpu/particles/Particles.tpp
  include/picongpu/simulation_types.hpp
  include/pmacc/memory/buffers/GridBuffer.hpp
  include/pmacc/particles/memory/buffers/ParticlesBuffer.hpp
  include/pmacc/traits/GetUniqueTypeId.hpp
Labels: affects latest release, bug, component: PMacc, component: core, refactoring

#3562 Update hemera-hzdr profiles
  etc/picongpu/hemera-hzdr/defq_picongpu.profile.example
  etc/picongpu/hemera-hzdr/fwkt_v100_picongpu.profile.example
  etc/picongpu/hemera-hzdr/gpu_picongpu.profile.example
  etc/picongpu/hemera-hzdr/k20_picongpu.profile.example
  etc/picongpu/hemera-hzdr/k80_picongpu.profile.example
Labels: CI:no-compile, component: tools, machine/system, refactoring

#3537 Save, for reference, the used cmakeFlags setup.
  bin/pic-configure
  etc/picongpu/submitAction.sh
Labels: component: tools

#3561 Remove enum picongpu::CommunicationTag
  include/picongpu/fields/EMFieldBase.hpp
  include/picongpu/fields/EMFieldBase.tpp
  include/picongpu/fields/FieldB.hpp
  include/picongpu/fields/FieldB.tpp
  include/picongpu/fields/FieldE.hpp
  include/picongpu/fields/FieldE.tpp
  include/picongpu/fields/FieldTmp.tpp
  include/picongpu/fields/MaxwellSolver/None/None.def
  include/picongpu/fields/MaxwellSolver/None/None.hpp
  include/picongpu/fields/MaxwellSolver/Yee/Yee.hpp
  include/picongpu/fields/MaxwellSolver/YeePML/YeePML.def
  include/picongpu/fields/MaxwellSolver/YeePML/YeePML.hpp
  include/picongpu/simulation_types.hpp
  include/picongpu/traits/GetMargin.hpp
Labels: component: core, refactoring

#3565 Delete unused file MultiGridBuffer.hpp
  include/pmacc/memory/buffers/MultiGridBuffer.hpp
Labels: component: PMacc, refactoring

#3564 Refactor and update comments of GetMargin
  include/picongpu/fields/EMFieldBase.tpp
  include/picongpu/traits/GetMargin.hpp
Labels: component: core, refactoring

#3569 fix CI
  share/ci/compiler_clang.yml
  share/ci/compiler_clang_cuda.yml
  share/ci/compiler_gcc.yml
  share/ci/compiler_hipcc.yml
  share/ci/compiler_nvcc_cuda.yml
Labels: bug, component: tests

#3571 Add a version of GetTrait taking only field solver type as a parameter
  include/picongpu/fields/FieldTmp.tpp
  include/picongpu/fields/MaxwellSolver/Yee/Yee.hpp
  include/picongpu/fields/MaxwellSolver/YeePML/YeePML.hpp
Labels: component: core, refactoring
