Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2021-01, with the labels that each got.

#3493 fix: HIP random number generator compile
  include/pmacc/random/distributions/normal/Normal_double.hpp
  include/pmacc/random/distributions/normal/Normal_float.hpp
Labels: backend: hip, bug

#3490 HIP: fix memory allocation
  include/pmacc/nvidia/memory/MemoryInfo.hpp
Labels: backend: hip, bug, component: PMacc

#3492 update summit profile
  etc/picongpu/summit-ornl/gpu_picongpu.profile.example
Labels: machine/system

#3389 openPMD plugin: Fix ED-PIC Attributes
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/openPMDDimension.hpp
  include/picongpu/plugins/openPMD/writer/ParticleAttribute.hpp
  include/picongpu/plugins/output/ConstSpeciesAttributes.hpp
Labels: bug

#3485 Use Streaming API in openPMD plugin
  INSTALL.rst
  docs/source/usage/plugins/openPMD.rst
  include/picongpu/plugins/openPMD/NDScalars.hpp
  include/picongpu/plugins/openPMD/WriteMeta.hpp
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/openPMDVersion.def
  include/picongpu/plugins/openPMD/openPMDWriter.def
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
Labels: component: plugin

#3488 add device side assert macro
  include/pmacc/assert.hpp
Labels: component: PMacc

#3499 fix warning
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
Labels: component: plugin, warning

#3501 Topic cupla update
  thirdParty/cupla/alpaka/.zenodo.json
  thirdParty/cupla/alpaka/CHANGELOG.md
  thirdParty/cupla/alpaka/README.md
  thirdParty/cupla/alpaka/cmake/alpakaCommon.cmake
  thirdParty/cupla/alpaka/include/alpaka/dev/cpu/SysInfo.hpp
Labels: component: third party

#3487 Update the FieldAbsorberTest example to match the Taflove book
  share/picongpu/examples/FieldAbsorberTest/cmakeFlags
  share/picongpu/examples/FieldAbsorberTest/etc/picongpu/1.cfg
  share/picongpu/examples/FieldAbsorberTest/etc/picongpu/4.cfg
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/fieldBackground.param
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/memory.param
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/pml.param
Labels: component: examples

#3503 mark CUDA 11.2 as supported version
  include/pmacc/PMaccConfig.cmake
Labels: backend: cuda, component: PMacc

#3508 fix access to temporary variable
  include/picongpu/particles/densityProfiles/FromHDF5Impl.hpp
  include/picongpu/plugins/adios/ADIOSWriter.hpp
  include/picongpu/plugins/adios/restart/LoadSpecies.hpp
  include/picongpu/plugins/adios/restart/RestartFieldLoader.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/restart/LoadSpecies.hpp
  include/picongpu/plugins/openPMD/restart/RestartFieldLoader.hpp
Labels: component: core, refactoring

#3502 docker: use ubuntu 20.04 with CUDA 11.2
  share/picongpu/dockerfiles/ubuntu-1604/compilers.yaml
  share/picongpu/dockerfiles/ubuntu-1604/packages.yaml
  share/picongpu/dockerfiles/ubuntu-2004/Dockerfile
  share/picongpu/dockerfiles/ubuntu-2004/Singularity
  share/picongpu/dockerfiles/ubuntu-2004/compilers.yaml
  share/picongpu/dockerfiles/ubuntu-2004/modules.yaml
  share/picongpu/dockerfiles/ubuntu-2004/packages.yaml
  share/picongpu/dockerfiles/ubuntu-2004/start_foil_4.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_foil_8.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_khi_1.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_khi_4.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_khi_8.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_lwfa.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_lwfa_4.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_lwfa_8.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_lwfa_live.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_lwfa_live_4.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_lwfa_live_8.sh
Labels: CI:no-compile, refactoring

#3509 update CI
  share/ci/compiler_clang.yml
  share/ci/compiler_clang_cuda.yml
  share/ci/compiler_gcc.yml
  share/ci/compiler_nvcc_cuda.yml
  share/ci/n_wise_generator.py
Labels: component: tests
