Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2021-09, with the labels that each got.

#3745 remove old CI helper
  buildsystem/CompileSuite/autoTests/config.sh
  buildsystem/CompileSuite/autoTests/get_work.sh
  buildsystem/CompileSuite/autoTests/new_commits.sh
  buildsystem/CompileSuite/autoTests/report.sh
  test/hasTabs
Labels: component: tools, CI:no-compile

#3746 remove uncrustify
  docs/picongpu_uncrustify.cfg
  src/tools/bin/uncrustifyMyCode
Labels: component: tools, CI:no-compile

#3740 update ISAAC documentation
  docs/TBG_macros.cfg
  docs/source/usage/plugins/isaac.rst
  include/picongpu/param/isaac.param
  share/picongpu/benchmarks/SPEC/include/picongpu/param/isaac.param
  share/picongpu/tests/compileCurrentSolver/include/picongpu/param/isaac.param
  share/picongpu/tests/compileFieldSolver/include/picongpu/param/isaac.param
  share/picongpu/tests/compileParticlePusher/include/picongpu/param/isaac.param
Labels: component: plugin, documentation

#3743 Fix crash in output after moving window stopped
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
Labels: bug, component: plugin, affects latest release

#3566 Change rad plugin from libSplash to openPMD
  docs/source/usage/plugins/radiation.rst
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/radiation/Radiation.hpp
Labels: component: plugin, refactoring

#3744 Topic remove lib splash
  INSTALL.rst
  LICENSE.md
  README.md
  docs/source/install/libraryDependencies.dot
  docs/source/install/profile.rst
  etc/picongpu/aris-grnet/gpu_picongpu.profile.example
  etc/picongpu/ascent-ornl/gpu_picongpu.profile.example
  etc/picongpu/cori-nersc/knl_picongpu.profile.example
  etc/picongpu/davide-cineca/gpu_picongpu.profile.example
  etc/picongpu/davinci-rice/picongpu.tpl
  etc/picongpu/draco-mpcdf/picongpu.profile.example
  etc/picongpu/jureca-jsc/batch_picongpu.profile.example
  etc/picongpu/jureca-jsc/booster_picongpu.profile.example
  etc/picongpu/jureca-jsc/gpus_picongpu.profile.example
  etc/picongpu/juwels-jsc/batch_picongpu.profile.example
  etc/picongpu/juwels-jsc/booster_picongpu.profile.example
  etc/picongpu/juwels-jsc/gpus_picongpu.profile.example
  etc/picongpu/lawrencium-lbnl/picongpu.profile.example
  etc/picongpu/pizdaint-cscs/picongpu.profile.example
  etc/picongpu/spock-ornl/caar_picongpu.profile.example
  etc/picongpu/summit-ornl/gpu_picongpu.profile.example
  etc/picongpu/taurus-tud/V100_picongpu.profile.example
  etc/picongpu/taurus-tud/k20x_picongpu.profile.example
  etc/picongpu/taurus-tud/knl_picongpu.profile.example
  include/picongpu/CMakeLists.txt
  include/picongpu/plugins/common/stringHelpers.cpp
  include/picongpu/plugins/common/stringHelpers.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
  include/picongpu/plugins/radiation/Radiation.hpp
  include/picongpu/traits/PICToSplash.hpp
  include/picongpu/traits/PICToSplash.tpp
  include/picongpu/traits/SplashToPIC.hpp
  include/picongpu/traits/SplashToPIC.tpp
  include/picongpu/versionFormat.cpp
  libraryDependencies.png
  share/ci/bash.profile
  share/ci/check_cpp_code_style.sh
  share/ci/run_picongpu_tests.sh
  share/picongpu/examples/LaserWakefield/etc/picongpu/4_gui.cfg
  src/tools/bin/pic2xdmf.py
  src/tools/bin/plot_chargeConservation_overTime.py
  src/tools/bin/splash2vtk.sh
  src/tools/png2gas/CMakeLists.txt
  src/tools/png2gas/README.md
  src/tools/png2gas/png2gas.cpp
  src/tools/splash2txt/CMakeLists.txt
  src/tools/splash2txt/include/ITools.hpp
  src/tools/splash2txt/include/splash2txt.hpp
  src/tools/splash2txt/include/tools_adios_parallel.hpp
  src/tools/splash2txt/include/tools_splash_parallel.hpp
  src/tools/splash2txt/splash2txt.cpp
  src/tools/splash2txt/tools_adios_parallel.cpp
  src/tools/splash2txt/tools_splash_parallel.cpp
Labels: refactoring

#3753 Further update plugin requirements in readthedocs
  docs/source/usage/plugins.rst
Labels: bug, component: plugin, documentation, CI:no-compile

#3752 Mark openPMD backend libraries as optional dependencies in the docs
  docs/source/install/libraryDependencies.dot
  libraryDependencies.png
Labels: documentation, install, CI:no-compile

#3749 update to malloc mc2.6.0crp-dev
  INSTALL.rst
  thirdParty/mallocMC/.github/workflows/ci.yml
  thirdParty/mallocMC/.zenodo.json
  thirdParty/mallocMC/CHANGELOG.md
  thirdParty/mallocMC/INSTALL.md
  thirdParty/mallocMC/README.md
  thirdParty/mallocMC/examples/mallocMC_example01.cpp
  thirdParty/mallocMC/examples/mallocMC_example03.cpp
  thirdParty/mallocMC/src/include/mallocMC/creationPolicies/Scatter.hpp
  thirdParty/mallocMC/src/include/mallocMC/distributionPolicies/Noop.hpp
  thirdParty/mallocMC/src/include/mallocMC/distributionPolicies/XMallocSIMD.hpp
  thirdParty/mallocMC/src/include/mallocMC/mallocMC_utils.hpp
  thirdParty/mallocMC/src/include/mallocMC/reservePoolPolicies/AlpakaBuf.hpp
  thirdParty/mallocMC/src/include/mallocMC/version.hpp
  thirdParty/mallocMC/tests/dimensions.cpp
  thirdParty/mallocMC/tests/verify_heap.cpp
  thirdParty/mallocMC/tests/verify_heap_config.hpp
Labels: documentation, component: third party

#3755 Update spock profile after update to RHEL8
  etc/picongpu/spock-ornl/caar_picongpu.profile.example
Labels: machine/system, CI:no-compile

#3756 Plugin: ISAAC remove unused variable
  include/picongpu/plugins/IsaacPlugin.hpp
Labels: component: plugin, warning

#3747 Extend particles::Manipulate and the underlying implementation with area parameter
  include/picongpu/particles/Manipulate.hpp
  include/pmacc/particles/algorithm/CallForEach.hpp
  include/pmacc/particles/algorithm/ForEach.hpp
Labels: component: core

#3708 Cori DGX: Module purge
  etc/picongpu/cori-nersc/a100_picongpu.profile.example
Labels: documentation, machine/system, CI:no-compile

#3760 Fix domain adjuster for absorber in case there is a single domain along a direction
  include/picongpu/simulation/control/DomainAdjuster.hpp
Labels: bug, component: core, affects latest release

#3758 Add checkpointing of internal RNG states
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/pmacc/random/RNGProvider.hpp
  include/pmacc/random/RNGProvider.tpp
Labels: component: plugin

#3750 Partially enable runtime kernel mapping
  include/picongpu/fields/EMFieldBase.tpp
  include/picongpu/fields/FieldJ.tpp
  include/picongpu/fields/FieldTmp.tpp
  include/picongpu/fields/MaxwellSolver/FDTD/FDTD.hpp
  include/picongpu/fields/absorber/pml/Pml.hpp
  include/picongpu/fields/background/cellwiseOperation.hpp
  include/picongpu/fields/currentDeposition/Deposit.hpp
  include/picongpu/fields/incidentField/Solver.hpp
  include/picongpu/particles/Manipulate.hpp
  include/picongpu/particles/Particles.tpp
  include/picongpu/particles/collision/InterCollision.hpp
  include/picongpu/particles/collision/IntraCollision.hpp
  include/picongpu/particles/creation/creation.kernel
  include/picongpu/particles/debyeLength/Estimate.hpp
  include/picongpu/particles/debyeLength/Estimate.kernel
  include/picongpu/particles/flylite/helperFields/LocalEnergyHistogramFunctors.hpp
  include/picongpu/particles/ionization/byCollision/ThomasFermi/ThomasFermi_Impl.hpp
  include/picongpu/particles/ionization/byField/ADK/ADK_Impl.hpp
  include/picongpu/particles/ionization/byField/BSI/BSI_Impl.hpp
  include/picongpu/particles/ionization/byField/Keldysh/Keldysh_Impl.hpp
  include/picongpu/particles/synchrotronPhotons/PhotonCreator.hpp
  include/picongpu/plugins/BinEnergyParticles.hpp
  include/picongpu/plugins/CountParticles.hpp
  include/picongpu/plugins/Emittance.hpp
  include/picongpu/plugins/EnergyParticles.hpp
  include/picongpu/plugins/IntensityPlugin.hpp
  include/picongpu/plugins/PositionsParticles.hpp
  include/picongpu/plugins/SumCurrents.hpp
  include/picongpu/plugins/makroParticleCounter/PerSuperCell.hpp
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/restart/LoadSpecies.hpp
  include/picongpu/plugins/output/WriteSpeciesCommon.hpp
  include/picongpu/plugins/output/images/Visualisation.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
  include/picongpu/plugins/radiation/Radiation.hpp
  include/picongpu/plugins/radiation/Radiation.kernel
  include/picongpu/plugins/transitionRadiation/TransitionRadiation.hpp
  include/picongpu/plugins/transitionRadiation/TransitionRadiation.kernel
  include/picongpu/plugins/xrayScattering/XrayScattering.hpp
  include/picongpu/plugins/xrayScattering/XrayScattering.kernel
  include/pmacc/mappings/kernel/AreaMapping.hpp
  include/pmacc/particles/ParticlesBase.hpp
  include/pmacc/particles/ParticlesBase.tpp
  include/pmacc/particles/algorithm/CallForEach.hpp
  include/pmacc/particles/algorithm/ForEach.hpp
  include/pmacc/particles/operations/CountParticles.hpp
Labels: component: core, component: PMacc

#3761 CI: allow to interrupt job
  .gitlab-ci.yml
  share/ci/compiler_clang.yml
  share/ci/compiler_clang_cuda.yml
  share/ci/compiler_gcc.yml
  share/ci/compiler_hipcc.yml
  share/ci/compiler_nvcc_cuda.yml
Labels: component: tests

#3763 Enable support for custom particle boundaries
  docs/TBG_macros.cfg
  docs/source/usage/workflows/boundaryConditions.rst
  include/picongpu/param/speciesAttributes.param
  include/picongpu/particles/Particles.hpp
  include/picongpu/particles/Particles.tpp
  include/picongpu/particles/boundary/Apply.hpp
  include/picongpu/particles/boundary/Kind.hpp
  include/picongpu/simulation/control/Simulation.hpp
  include/picongpu/simulation/stage/ParticleBoundaries.hpp
Labels: component: user input

#3767 Remove unnecessary parameter in writeField function template of openPMD plugin
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
Labels: component: plugin, refactoring

#3766 Fix drift manipulator in SingleParticle Example
  share/picongpu/examples/SingleParticleTest/include/picongpu/param/particle.param
  share/picongpu/examples/SingleParticleTest/include/picongpu/param/speciesInitialization.param
Labels: component: examples

#3768 fix compile
  include/picongpu/plugins/PluginController.hpp
Labels: bug, component: plugin

#3764 Remove --openPMD.compression parameter
  docs/TBG_macros.cfg
  docs/source/usage/plugins/openPMD.rst
  docs/source/usage/plugins/xrayScattering.rst
  include/picongpu/plugins/openPMD/NDScalars.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.def
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/writer/ParticleAttribute.hpp
  include/picongpu/plugins/xrayScattering/XrayScattering.hpp
  include/picongpu/plugins/xrayScattering/XrayScatteringWriter.hpp
Labels: component: plugin, refactoring

#3762 CI: compile on x86 runners
  .gitlab-ci.yml
  share/ci/compiler_clang.yml
  share/ci/compiler_clang_cuda.yml
  share/ci/compiler_gcc.yml
  share/ci/compiler_hipcc.yml
  share/ci/compiler_nvcc_cuda.yml
  share/ci/generate_reduced_matrix.sh
  share/ci/n_wise_generator.py
  share/ci/run_tests.sh
Labels: component: tests

#3765 Clarify naming and comments for pmacc kernel mapping types
  include/pmacc/mappings/kernel/AreaMapping.hpp
  include/pmacc/mappings/kernel/AreaMappingMethods.hpp
  include/pmacc/mappings/kernel/BorderMapping.hpp
  include/pmacc/mappings/kernel/ExchangeMapping.hpp
  include/pmacc/mappings/kernel/ExchangeMappingMethods.hpp
  include/pmacc/mappings/kernel/MapperConcept.hpp
  include/pmacc/mappings/kernel/StrideMapping.hpp
Labels: component: PMacc, refactoring

#3771 plugin radiation: fix warning
  include/picongpu/plugins/radiation/vector.hpp
Labels: component: plugin, warning

#3777 Fix a warning in MapperConcept
  include/pmacc/mappings/kernel/MapperConcept.hpp
Labels: component: PMacc, warning

#3772 Enable KernelShiftParticles to operate in guard area
  include/pmacc/particles/ParticlesBase.hpp
  include/pmacc/particles/ParticlesBase.kernel
Labels: component: PMacc

#3779 update gitignore for macOS system generated files
  .gitignore
Labels: CI:no-compile

#3773 CI: use stages for downstream pipe
  .gitlab-ci.yml
  share/ci/n_wise_generator.py
Labels: component: tests

#3759 openPMD plugin: no hardcoding of float_X in writeField()
  include/picongpu/plugins/openPMD/openPMDWriter.def
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
Labels: component: plugin

#3791 Add a documentation page for developers that explains how to extend PIConGPU
  docs/source/dev/extending.rst
  docs/source/index.rst
Labels: documentation, CI:no-compile

#3775 optimize kernel MoveAndMark
  include/picongpu/particles/Particles.kernel
Labels: component: core, refactoring

#3793 Remove compile-time movePoint from grid.param
  docs/TBG_macros.cfg
  include/picongpu/ArgsParser.cpp
  include/picongpu/param/grid.param
  include/picongpu/simulation/control/Simulation.hpp
  share/picongpu/benchmarks/SPEC/include/picongpu/param/grid.param
  share/picongpu/examples/Bremsstrahlung/include/picongpu/param/grid.param
  share/picongpu/examples/Bunch/include/picongpu/param/grid.param
  share/picongpu/examples/FieldAbsorberTest/include/picongpu/param/grid.param
  share/picongpu/examples/FoilLCT/include/picongpu/param/grid.param
  share/picongpu/examples/IncidentField/include/picongpu/param/grid.param
  share/picongpu/examples/KelvinHelmholtz/include/picongpu/param/grid.param
  share/picongpu/examples/LaserWakefield/include/picongpu/param/grid.param
  share/picongpu/examples/SingleParticleTest/include/picongpu/param/grid.param
  share/picongpu/examples/ThermalTest/include/picongpu/param/grid.param
  share/picongpu/examples/TransitionRadiation/include/picongpu/param/grid.param
  share/picongpu/examples/WarmCopper/include/picongpu/param/grid.param
  share/picongpu/examples/WeibelTransverse/include/picongpu/param/grid.param
  share/picongpu/tests/CollisionsBeamRelaxation/include/picongpu/param/grid.param
  share/picongpu/tests/CollisionsThermalisation/include/picongpu/param/grid.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/grid.param
  share/picongpu/tests/compileFieldSolver/include/picongpu/param/grid.param
Labels: refactoring, component: user input

#3788 Separate notification of plugins into a separate function in SimulationHelper
  include/pmacc/simulationControl/SimulationHelper.hpp
Labels: component: PMacc, refactoring

#3714 Record probe data with all pusher Pusher
  docs/source/usage/workflows/probeParticles.rst
  docs/source/usage/workflows/tracerParticles.rst
  include/picongpu/param/speciesAttributes.param
  include/picongpu/particles/pusher/particlePusherAcceleration.hpp
  include/picongpu/particles/pusher/particlePusherAxel.hpp
  include/picongpu/particles/pusher/particlePusherBoris.hpp
  include/picongpu/particles/pusher/particlePusherFree.hpp
  include/picongpu/particles/pusher/particlePusherHigueraCary.hpp
  include/picongpu/particles/pusher/particlePusherPhoton.hpp
  include/picongpu/particles/pusher/particlePusherProbe.hpp
  include/picongpu/particles/pusher/particlePusherReducedLandauLifshitz.hpp
  include/picongpu/particles/pusher/particlePusherVay.hpp
  include/pmacc/meta/InvokeIf.hpp
Labels: documentation, refactoring

#3785 Add a factory and a factory function for pmacc::StrideMapping
  include/picongpu/fields/FieldTmp.tpp
  include/picongpu/fields/currentDeposition/Deposit.hpp
  include/pmacc/mappings/kernel/StrideMapping.hpp
  include/pmacc/particles/ParticlesBase.hpp
Labels: component: PMacc, refactoring

#3782 Extend doc section on particle filter workflows
  docs/source/usage/plugins/openPMD.rst
  docs/source/usage/workflows/particleFilters.rst
Labels: documentation, component: user input, CI:no-compile

#3792 Replace custom compile-time string creation by BOOST_METAPARSE_STRING
  include/pmacc/boost_workaround.hpp
  include/pmacc/meta/String.hpp
Labels: component: PMacc, refactoring

#3798 Refactor and document laser profiles
  docs/source/usage/workflows/addLaser.rst
  include/picongpu/fields/laserProfiles/BaseFunctor.hpp
  include/picongpu/fields/laserProfiles/ExpRampWithPrepulse.hpp
  include/picongpu/fields/laserProfiles/GaussianBeam.hpp
  include/picongpu/fields/laserProfiles/PlaneWave.hpp
  include/picongpu/fields/laserProfiles/Polynom.hpp
  include/picongpu/fields/laserProfiles/PulseFrontTilt.hpp
  include/picongpu/fields/laserProfiles/Wavepacket.hpp
Labels: component: core, documentation

#3800 Remove leftover boost::shared_ptr
  include/picongpu/particles/bremsstrahlung/PhotonEmissionAngle.hpp
  include/picongpu/particles/bremsstrahlung/ScaledSpectrum.hpp
  include/picongpu/particles/synchrotronPhotons/SynchrotronFunctions.hpp
  include/picongpu/plugins/ChargeConservation.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
Labels: refactoring

#3776 Enable absorbing particle boundaries at custom positions
  docs/TBG_macros.cfg
  docs/source/usage/workflows/boundaryConditions.rst
  include/picongpu/param/speciesAttributes.param
  include/picongpu/particles/Particles.hpp
  include/picongpu/particles/Particles.tpp
  include/picongpu/particles/ParticlesFunctors.hpp
  include/picongpu/particles/boundary/Absorbing.hpp
  include/picongpu/particles/boundary/Apply.hpp
  include/picongpu/particles/boundary/ApplyImpl.hpp
  include/picongpu/particles/boundary/CallPluginsAndDeleteParticles.hpp
  include/picongpu/particles/boundary/Description.hpp
  include/picongpu/particles/boundary/RemoveOuterParticles.hpp
  include/picongpu/particles/boundary/Utility.hpp
  include/picongpu/particles/functor/functor.def
  include/picongpu/particles/functor/functor.hpp
  include/picongpu/particles/functor/misc/Parametrized.def
  include/picongpu/particles/functor/misc/Parametrized.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.kernel
  include/picongpu/simulation/control/Simulation.hpp
  include/picongpu/simulation/stage/ParticleBoundaries.hpp
  include/pmacc/boundary/Utility.hpp
  include/pmacc/mappings/kernel/IntervalMapping.hpp
  include/pmacc/mappings/kernel/MapperConcept.hpp
  include/pmacc/particles/ParticlesBase.hpp
  include/pmacc/particles/policies/DoNothing.hpp
Labels: component: core, component: user input

#3803 Fix unused variable warning
  include/pmacc/kernel/atomic.hpp
Labels: component: PMacc, warning

#3802 relocate function to move particles
  include/picongpu/particles/MoveParticle.hpp
  include/picongpu/particles/Particles.kernel
Labels: component: core, refactoring

#3805 add python env to gitignore
  .gitignore
Labels: component: tools, CI:no-compile

#3810 Remove unused class MultiBox
  include/pmacc/memory/boxes/MultiBox.hpp
Labels: component: PMacc

#3813 Refactor CachedBox
  include/pmacc/memory/boxes/CachedBox.hpp
Labels: component: PMacc, refactoring

#3817 Refactor and extend Vector
  include/pmacc/cuSTL/algorithm/kernel/detail/SphericMapper.hpp
  include/pmacc/cuSTL/algorithm/kernel/run-time/Foreach.hpp
  include/pmacc/cuSTL/algorithm/mpi/Reduce.tpp
  include/pmacc/cuSTL/cursor/navigator/CartNavigator.hpp
  include/pmacc/dimensions/DataSpace.hpp
  include/pmacc/kernel/operation/Atomic.hpp
  include/pmacc/math/ConstVector.hpp
  include/pmacc/math/vector/Float.hpp
  include/pmacc/math/vector/Int.hpp
  include/pmacc/math/vector/Size_t.hpp
  include/pmacc/math/vector/TwistComponents.hpp
  include/pmacc/math/vector/UInt32.hpp
  include/pmacc/math/vector/UInt64.hpp
  include/pmacc/math/vector/Vector.hpp
  include/pmacc/math/vector/Vector.tpp
Labels: component: PMacc, refactoring

#3812 Replace leftover usage of boost/type_traits with std:: counterparts
  include/picongpu/algorithms/AssignedTrilinearInterpolation.hpp
  include/picongpu/particles/ionization/byCollision/ThomasFermi/ThomasFermi_Impl.hpp
  include/picongpu/particles/ionization/byField/ADK/ADK_Impl.hpp
  include/picongpu/particles/ionization/byField/Keldysh/Keldysh_Impl.hpp
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/restart/LoadSpecies.hpp
  include/picongpu/plugins/output/WriteSpeciesCommon.hpp
  include/pmacc/algorithms/reverseBits.hpp
  include/pmacc/cuSTL/container/DeviceBuffer.hpp
  include/pmacc/cuSTL/container/HostBuffer.hpp
  include/pmacc/cuSTL/cursor/Cursor.hpp
  include/pmacc/cuSTL/cursor/FunctorCursor.hpp
  include/pmacc/cuSTL/cursor/accessor/FunctorAccessor.hpp
  include/pmacc/cuSTL/cursor/navigator/BufferNavigator.hpp
  include/pmacc/cuSTL/cursor/navigator/compile-time/BufferNavigator.hpp
  include/pmacc/device/Reduce.hpp
  include/pmacc/device/reduce/Kernel.hpp
  include/pmacc/eventSystem/tasks/TaskSetValue.hpp
  include/pmacc/identifier/alias.hpp
  include/pmacc/kernel/atomic.hpp
  include/pmacc/memory/buffers/HostDeviceBuffer.hpp
  include/pmacc/meta/AllCombinations.hpp
  include/pmacc/meta/ForEach.hpp
  include/pmacc/meta/GetKeyFromAlias.hpp
  include/pmacc/meta/conversion/OperateOnSeq.hpp
  include/pmacc/meta/conversion/SeqToMap.hpp
  include/pmacc/particles/AsyncCommunicationImpl.hpp
  include/pmacc/particles/memory/dataTypes/Particle.hpp
  include/pmacc/particles/memory/frames/Frame.hpp
  include/pmacc/particles/meta/FindByNameOrType.hpp
  include/pmacc/random/distributions/uniform/Uniform_Integral32Bit.hpp
  include/pmacc/random/distributions/uniform/Uniform_Integral64Bit.hpp
  include/pmacc/traits/GetComponentsType.hpp
  include/pmacc/traits/GetNComponents.hpp
Labels: component: core, component: PMacc, refactoring

#3815 Fix a bug in particle boundaries in 2d simulations
  include/picongpu/particles/boundary/Utility.hpp
Labels: bug, component: core

#3818 Guard definition of FromOpenPMD
  include/picongpu/param/density.param
Labels: bug, component: user input

#3821 Drop unused TwistedAxesNavigator
  include/pmacc/cuSTL/cursor/navigator/compile-time/TwistedAxesNavigator.hpp
Labels: component: PMacc, refactoring

#3823 Fix warning and MSVC error
  include/picongpu/particles/boundary/Utility.hpp
  include/pmacc/particles/ParticlesBase.hpp
Labels: bug, component: core, warning

#3795 Remove leftover mentions of ADIOS1
  docs/TBG_macros.cfg
  docs/source/install/libraryDependencies.dot
  docs/source/postprocessing/python.rst
  docs/source/usage/plugins/openPMD.rst
  docs/source/usage/plugins/xrayScattering.rst
  etc/picongpu/juwels-jsc/booster_picongpu.profile.example
  include/picongpu/plugins/Checkpoint.hpp
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/openPMD/Json_private.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/radiation/Radiation.hpp
  include/picongpu/plugins/xrayScattering/XrayScatteringWriter.hpp
  libraryDependencies.png
Labels: documentation, refactoring, component: third party

#3822 Rename instance interface for multiplugins
  docs/source/dev/extending.rst
  include/picongpu/plugins/BinEnergyParticles.hpp
  include/picongpu/plugins/Checkpoint.hpp
  include/picongpu/plugins/Emittance.hpp
  include/picongpu/plugins/EnergyParticles.hpp
  include/picongpu/plugins/PhaseSpace/PhaseSpace.hpp
  include/picongpu/plugins/multi/IHelp.hpp
  include/picongpu/plugins/multi/IInstance.hpp
  include/picongpu/plugins/multi/Master.hpp
  include/picongpu/plugins/multi/multi.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/output/IIOBackend.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
Labels: component: plugin, refactoring

#3819 Remove more old boost includes and replace with std:: counterparts
  include/picongpu/particles/bremsstrahlung/PhotonEmissionAngle.hpp
  include/picongpu/particles/bremsstrahlung/ScaledSpectrum.hpp
  include/picongpu/particles/synchrotronPhotons/SynchrotronFunctions.tpp
  include/pmacc/cuSTL/container/DeviceBuffer.hpp
  include/pmacc/cuSTL/container/HostBuffer.hpp
  include/pmacc/math/Tuple.hpp
  include/pmacc/traits/GetUniqueTypeId.hpp
  include/pmacc/types.hpp
Labels: refactoring

#3824 fix Summit(ORNL) MPI collectives
  etc/picongpu/summit-ornl/gpu_batch.tpl
  etc/picongpu/summit-ornl/gpu_batch_pipe.tpl
  etc/picongpu/summit-ornl/gpu_picongpu.profile.example
Labels: bug, machine/system

#3820 Refactor DataBox
  include/pmacc/memory/boxes/DataBox.hpp
  include/pmacc/memory/boxes/DataBoxDim1Access.hpp
  include/pmacc/memory/boxes/DataBoxUnaryTransform.hpp
  include/pmacc/memory/boxes/PitchedBox.hpp
  include/pmacc/memory/boxes/SharedBox.hpp
Labels: component: PMacc, refactoring

#3825 adjust physics log output
  include/picongpu/fields/MaxwellSolver/ArbitraryOrderFDTD/ArbitraryOrderFDTD.hpp
  include/picongpu/fields/MaxwellSolver/CFLChecker.hpp
  include/picongpu/fields/MaxwellSolver/FDTD/FDTD.hpp
  include/picongpu/fields/MaxwellSolver/None/None.hpp
  include/picongpu/fields/MaxwellSolver/Yee/Yee.hpp
  include/picongpu/initialization/InitialiserController.hpp
Labels: component: core

#3829 Use multidim access instead of two subscripts
  include/picongpu/plugins/output/GatherSlice.hpp
  include/picongpu/plugins/output/images/PngCreator.tpp
  include/picongpu/plugins/output/images/Visualisation.hpp
Labels: component: plugin, refactoring

#3828 Replace PitchedBox ctor with offset by DataBox.shift()
  include/picongpu/plugins/output/GatherSlice.hpp
  include/pmacc/memory/boxes/PitchedBox.hpp
  include/pmacc/memory/buffers/DeviceBufferIntern.hpp
  include/pmacc/memory/buffers/HostBufferIntern.hpp
  include/pmacc/particles/memory/boxes/ExchangePushDataBox.hpp
  include/pmacc/particles/memory/boxes/PushDataBox.hpp
  include/pmacc/particles/memory/boxes/TileDataBox.hpp
Labels: component: PMacc, refactoring

#3836 clarification on pluginUnload
  docs/source/dev/extending.rst
Labels: documentation, CI:no-compile
