Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2022-01, with the labels that each got.

#3962 adjust taurus k80 modules to work with c++17
  etc/picongpu/taurus-tud/k80_picongpu.profile.example
Labels: machine/system, CI:no-compile

#3961 fix rad restart
  include/picongpu/plugins/radiation/Radiation.hpp
Labels: bug, component: plugin, affects latest release

#3720 Read IO plugin configuration (openPMD plugin) from reading applications (TOML)
  docs/source/usage/plugins/openPMD.rst
  docs/source/usage/plugins/openPMD.toml
  include/picongpu/CMakeLists.txt
  include/picongpu/plugins/common/MPIHelpers.cpp
  include/picongpu/plugins/common/MPIHelpers.hpp
  include/picongpu/plugins/openPMD/Json.cpp
  include/picongpu/plugins/openPMD/Json_private.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.def
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/toml.cpp
  include/picongpu/plugins/openPMD/toml.hpp
  thirdParty/toml11/CMakeLists.txt
  thirdParty/toml11/LICENSE
  thirdParty/toml11/cmake/toml11Config.cmake.in
  thirdParty/toml11/toml.hpp
  thirdParty/toml11/toml/color.hpp
  thirdParty/toml11/toml/combinator.hpp
  thirdParty/toml11/toml/comments.hpp
  thirdParty/toml11/toml/datetime.hpp
  thirdParty/toml11/toml/exception.hpp
  thirdParty/toml11/toml/from.hpp
  thirdParty/toml11/toml/get.hpp
  thirdParty/toml11/toml/into.hpp
  thirdParty/toml11/toml/lexer.hpp
  thirdParty/toml11/toml/literal.hpp
  thirdParty/toml11/toml/macros.hpp
  thirdParty/toml11/toml/parser.hpp
  thirdParty/toml11/toml/region.hpp
  thirdParty/toml11/toml/result.hpp
  thirdParty/toml11/toml/serializer.hpp
  thirdParty/toml11/toml/source_location.hpp
  thirdParty/toml11/toml/storage.hpp
  thirdParty/toml11/toml/string.hpp
  thirdParty/toml11/toml/traits.hpp
  thirdParty/toml11/toml/types.hpp
  thirdParty/toml11/toml/utility.hpp
  thirdParty/toml11/toml/value.hpp
Labels: component: plugin, refactoring
