Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2022-11, with the labels that each got.

#4338 fix PMacc game of life example
  share/pmacc/examples/gameOfLife2D/CMakeLists.txt
  share/pmacc/examples/gameOfLife2D/include/Evolution.hpp
  share/pmacc/examples/gameOfLife2D/include/GatherSlice.hpp
  share/pmacc/examples/gameOfLife2D/include/Simulation.hpp
  share/pmacc/examples/gameOfLife2D/main.cpp
Labels: bug, component: examples

#4337 fix precision cast is returning a reference
  include/picongpu/plugins/radiation/amplitude.hpp
  include/pmacc/dimensions/DataSpace.tpp
  include/pmacc/math/complex/Complex.tpp
  include/pmacc/math/vector/Vector.tpp
Labels: bug, affects latest release

#4002 openPMD plugin: Flush data to disk within a step
  include/picongpu/plugins/common/openPMDVersion.def
  include/picongpu/plugins/openPMD/Json.cpp
  include/picongpu/plugins/openPMD/NDScalars.hpp
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/writer/ParticleAttribute.hpp
Labels: component: plugin, refactoring

#4342 clarify tbg help
  bin/tbg
Labels: documentation, component: tools

#4329 openPMD plugin: JSON parameters for restarting
  docs/TBG_macros.cfg
  docs/source/usage/plugins/openPMD.rst
  docs/source/usage/plugins/openPMD_restart_config.json
  include/picongpu/plugins/openPMD/openPMDWriter.def
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
Labels: component: plugin, refactoring

#4339 fix `positionOffset` for openPMD IO
  include/picongpu/plugins/common/openPMDVersion.def
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/restart/LoadSpecies.hpp
Labels: bug, component: plugin

#4348 use cuplas/alpakas mapped memory
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/restart/LoadSpecies.hpp
  include/picongpu/plugins/output/WriteSpeciesCommon.hpp
Labels: component: plugin, refactoring

#4349 use alpaka `mem_fence()`
  include/pmacc/particles/memory/boxes/ParticlesBox.hpp
Labels: component: PMacc, refactoring

#4353 fix HIP CI tests
  share/ci/compiler_hipcc.yml
  share/ci/run_picongpu_tests.sh
  share/ci/run_pmacc_tests.sh
Labels: component: tests, machine/system

#4357 fix python code for new flake8 version=3.0.0
  docs/propose_changelog.py
Labels: bug, component: tools, CI:no-compile

#4352 Remove xray scattering
  docs/TBG_macros.cfg
  docs/source/usage/plugins.rst
  docs/source/usage/plugins/xrayScattering.rst
  include/picongpu/_defaultParam.loader
  include/picongpu/param/xrayScattering.param
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/xrayScattering/DetermineElectronDensitySolver.hpp
  include/picongpu/plugins/xrayScattering/GetScatteringVector.hpp
  include/picongpu/plugins/xrayScattering/XrayScattering.hpp
  include/picongpu/plugins/xrayScattering/XrayScattering.kernel
  include/picongpu/plugins/xrayScattering/XrayScatteringWriter.hpp
  include/picongpu/plugins/xrayScattering/beam/AxisSwap.hpp
  include/picongpu/plugins/xrayScattering/beam/CoordinateTransform.hpp
  include/picongpu/plugins/xrayScattering/beam/ProbingBeam.hpp
  include/picongpu/plugins/xrayScattering/beam/SecondaryRotation.hpp
  include/picongpu/plugins/xrayScattering/beam/Side.hpp
  include/picongpu/plugins/xrayScattering/beam/XrayScatteringBeam.hpp
  include/picongpu/plugins/xrayScattering/beam/beamProfiles/ConstProfile.hpp
  include/picongpu/plugins/xrayScattering/beam/beamProfiles/GaussianProfile.hpp
  include/picongpu/plugins/xrayScattering/beam/beamProfiles/profiles.hpp
  include/picongpu/plugins/xrayScattering/beam/beamShapes/ConstShape.hpp
  include/picongpu/plugins/xrayScattering/beam/beamShapes/shapes.hpp
  include/picongpu/plugins/xrayScattering/xrayScatteringUtilities.hpp
  lib/python/picongpu/extra/plugins/data/XrayScatteringData.py
  lib/python/picongpu/extra/plugins/data/__init__.py
  share/picongpu/tests/XrayScattering/README.rst
  share/picongpu/tests/XrayScattering/cmakeFlags
  share/picongpu/tests/XrayScattering/etc/picongpu/1.cfg
  share/picongpu/tests/XrayScattering/etc/picongpu/1_ions.cfg
  share/picongpu/tests/XrayScattering/etc/picongpu/1_mirror.cfg
  share/picongpu/tests/XrayScattering/etc/picongpu/2.cfg
  share/picongpu/tests/XrayScattering/include/picongpu/param/density.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/dimension.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/fileOutput.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/grid.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/particle.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/precision.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/species.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/speciesDefinition.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/speciesInitialization.param
  share/picongpu/tests/XrayScattering/include/picongpu/param/xrayScattering.param
  share/picongpu/tests/XrayScattering/lib/python/picongpu/checks.py
  share/picongpu/tests/XrayScattering/lib/python/picongpu/is_close.py
  share/picongpu/tests/XrayScattering/lib/python/picongpu/test_1.py
  share/picongpu/tests/XrayScattering/lib/python/picongpu/test_2.py
Labels: component: plugin, refactoring

#4345 Switch to std::optional in compute field value
  include/picongpu/particles/particleToGrid/ComputeFieldValue.hpp
  include/picongpu/particles/particleToGrid/FoldDeriveFields.hpp
  include/picongpu/plugins/IsaacPlugin.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
Labels: component: core, component: plugin, refactoring

#4344 introduce a constexpr value identifier
  include/pmacc/identifier/value_identifier.hpp
Labels: component: PMacc, refactoring

#4358 fix unclosed <...> in doc of binary collisions
  docs/source/models/binary_collisions.rst
Labels: bug, documentation, CI:no-compile

#4359 update of dev-server profile
  etc/picongpu/bash-devServer-hzdr/cpu_picongpu.profile.example
  etc/picongpu/bash-devServer-hzdr/gpu_install.sh
  etc/picongpu/bash-devServer-hzdr/gpu_picongpu.profile.example
  etc/picongpu/bash-devServer-hzdr/install.sh
Labels: component: tools, machine/system

#4350 use cupla/alpaka's min/max function
  include/picongpu/fields/FieldJ.tpp
  include/picongpu/fields/incidentField/Solver.hpp
  include/picongpu/particles/atomicPhysics/stateRepresentation/ConfigNumber.hpp
  include/picongpu/particles/collision/relativistic/RelativisticCollision.hpp
  include/picongpu/particles/collision/relativistic/RelativisticCollisionDynamicLog.hpp
  include/picongpu/particles/debyeLength/Estimate.kernel
  include/picongpu/plugins/ChargeConservation.tpp
  include/pmacc/algorithms/math.hpp
  include/pmacc/algorithms/math/defines/comparison.hpp
  include/pmacc/algorithms/math/doubleMath/comparison.tpp
  include/pmacc/algorithms/math/floatMath/comparison.tpp
  include/pmacc/cuSTL/algorithm/mpi/Reduce.tpp
  include/pmacc/math/operation/Max.hpp
  include/pmacc/math/operation/Min.hpp
  include/pmacc/math/vector/Vector.tpp
Labels: component: core, component: PMacc, refactoring

#4354 refactor PMacc plugin slicing
  docs/source/usage/plugins/openPMD.rst
  include/picongpu/plugins/misc/intersectRangeWithWindow.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/toml.hpp
  include/pmacc/pluginSystem/PluginConnector.cpp
  include/pmacc/pluginSystem/PluginConnector.hpp
  include/pmacc/pluginSystem/Slice.hpp
  include/pmacc/pluginSystem/containsStep.hpp
  include/pmacc/pluginSystem/toSlice.hpp
  include/pmacc/simulationControl/SimulationHelper.cpp
  include/pmacc/simulationControl/SimulationHelper.hpp
Labels: bug, refactoring

#4356 fix and refactor KHI growth test
  lib/python/test/KHI_growthRate/DifferenceKHIGrowthRate.py
  lib/python/test/KHI_growthRate/MainTest.py
  share/picongpu/tests/KHI_growthRate/bin/ci.sh
  share/picongpu/tests/KHI_growthRate/bin/validate.sh
  share/picongpu/tests/KHI_growthRate/cmakeFlags
  share/picongpu/tests/KHI_growthRate/include/picongpu/param/density.param
  share/picongpu/tests/KHI_growthRate/include/picongpu/param/memory.param
  share/picongpu/tests/KHI_growthRate/include/picongpu/param/particleFilters.param
  share/picongpu/tests/KHI_growthRate/include/picongpu/param/png.param
  share/picongpu/tests/KHI_growthRate/include/picongpu/param/radiation.param
  share/picongpu/tests/KHI_growthRate/include/picongpu/param/speciesInitialization.param
Labels: bug, refactoring

#4360 remove flylite
  docs/source/usage/param/extensions.rst
  include/picongpu/_defaultParam.loader
  include/picongpu/param/flylite.param
  include/picongpu/param/species.param
  include/picongpu/param/speciesAttributes.param
  include/picongpu/particles/ParticlesFunctors.hpp
  include/picongpu/particles/flylite/IFlyLite.hpp
  include/picongpu/particles/flylite/NonLTE.def
  include/picongpu/particles/flylite/NonLTE.hpp
  include/picongpu/particles/flylite/NonLTE.tpp
  include/picongpu/particles/flylite/helperFields/LocalDensity.hpp
  include/picongpu/particles/flylite/helperFields/LocalDensity.kernel
  include/picongpu/particles/flylite/helperFields/LocalDensityFunctors.hpp
  include/picongpu/particles/flylite/helperFields/LocalEnergyHistogram.hpp
  include/picongpu/particles/flylite/helperFields/LocalEnergyHistogram.kernel
  include/picongpu/particles/flylite/helperFields/LocalEnergyHistogramFunctors.hpp
  include/picongpu/particles/flylite/helperFields/LocalRateMatrix.hpp
  include/picongpu/simulation/control/Simulation.hpp
  include/picongpu/simulation/stage/PopulationKinetics.hpp
  include/picongpu/unitless/speciesAttributes.unitless
  share/picongpu/benchmarks/SPEC/include/picongpu/param/species.param
  share/picongpu/benchmarks/TWEAC-FOM/include/picongpu/param/species.param
  share/picongpu/benchmarks/Thermal/include/picongpu/param/species.param
  share/picongpu/examples/SingleParticleTest/include/picongpu/param/species.param
  share/picongpu/examples/WarmCopper/include/picongpu/param/speciesDefinition.param
  share/picongpu/examples/atomicPhysics/include/picongpu/param/species.param
  share/picongpu/tests/CollisionsBeamRelaxation/include/picongpu/param/species.param
  share/picongpu/tests/CollisionsThermalisation/include/picongpu/param/species.param
  share/picongpu/tests/compileCurrentSolver/include/picongpu/param/species.param
  share/picongpu/tests/compileParticlePusher/include/picongpu/param/species.param
Labels: component: core, refactoring, component: user input

#4361 remove unused plugin Intensity
  docs/source/usage/plugins.rst
  docs/source/usage/plugins/intensity.rst
  include/picongpu/plugins/IntensityPlugin.hpp
  include/picongpu/plugins/PluginController.hpp
Labels: component: plugin

#4363 remove using CUSTL for particle creation
  include/picongpu/particles/creation/creation.hpp
  include/picongpu/particles/creation/creation.kernel
Labels: component: core, refactoring
