Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2022-12, with the labels that each got.

#4374 Remove PIConGPUs docker file
  docs/source/install/instructions.rst
  docs/source/install/instructions/docker.rst
  docs/source/install/path.rst
  share/picongpu/dockerfiles/README.rst
  share/picongpu/dockerfiles/ubuntu-2004/Dockerfile
  share/picongpu/dockerfiles/ubuntu-2004/Singularity
  share/picongpu/dockerfiles/ubuntu-2004/compilers.yaml
  share/picongpu/dockerfiles/ubuntu-2004/modules.yaml
  share/picongpu/dockerfiles/ubuntu-2004/packages.yaml
  share/picongpu/dockerfiles/ubuntu-2004/start_foil_4.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_foil_8.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_khi_1.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_khi_4.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_khi_8.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_lwfa.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_lwfa_4.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_lwfa_8.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_lwfa_live.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_lwfa_live_4.sh
  share/picongpu/dockerfiles/ubuntu-2004/start_lwfa_live_8.sh
  src/tools/bin/newVersion.sh
Labels: documentation, component: tools, install, CI:no-compile

#4376 Fix profile
  etc/picongpu/bash-devServer-hzdr/gpu_picongpu.profile.example
Labels: bug, CI:no-compile

#4371 remove plugin: PositionsParticle
  docs/TBG_macros.cfg
  docs/source/usage/plugins.rst
  docs/source/usage/plugins/positionsParticles.rst
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/PositionsParticles.hpp
  src/tools/bin/position2Trace.sh
Labels: component: plugin, refactoring

#4370 remove unused file `LinearInterpolationWithUpper`
  include/picongpu/algorithms/LinearInterpolateWithUpper.hpp
Labels: refactoring

#4372 remove plugin: recource log
  docs/TBG_macros.cfg
  docs/source/usage/plugins.rst
  docs/source/usage/plugins/resourceLog.rst
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/ResourceLog.cpp
  include/picongpu/plugins/ResourceLog.hpp
Labels: component: plugin, documentation, refactoring

#4373 remove boost workaround
  include/pmacc/boost_workaround.hpp
Labels: component: PMacc, refactoring

#4380 Ignore VS config and output dir and checkout script line endings as LF
  .gitattributes
  .gitignore
Labels: component: PMacc

#4388 remove particle merging plugins
  docs/source/usage/plugins.rst
  docs/source/usage/plugins/particleMerger.rst
  docs/source/usage/plugins/particleMergerProbabilistic.rst
  include/picongpu/param/speciesAttributes.param
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/particleMerging/ParticleMerger.hpp
  include/picongpu/plugins/particleMerging/ParticleMerger.kernel
  include/picongpu/plugins/particleMerging/VoronoiCell.hpp
  include/picongpu/plugins/randomizedParticleMerger/RandomizedParticleMerger.hpp
  include/picongpu/plugins/randomizedParticleMerger/RandomizedParticleMerger.kernel
  include/picongpu/plugins/randomizedParticleMerger/VoronoiCell.hpp
  include/picongpu/unitless/speciesAttributes.unitless
  share/picongpu/tests/compileParticlePusher/include/picongpu/param/speciesDefinition.param
Labels: component: plugin, documentation, refactoring

#4387 Radiation plugin: Enable streaming
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/common/openPMDDefaultExtension.hpp
  include/picongpu/plugins/radiation/Radiation.hpp
Labels: component: plugin, refactoring

#4392 fix broken slice parsing
  include/pmacc/misc/splitString.cpp
  include/pmacc/pluginSystem/toSlice.hpp
Labels: bug, component: PMacc

#4378 switch to CI container version 3
  .gitlab-ci.yml
  INSTALL.rst
  include/pmacc/PMaccConfig.cmake
  include/pmacc/boost_workaround.hpp
  include/pmacc/debug/VerboseLog.hpp
  include/pmacc/mappings/simulation/Filesystem.cpp
  include/pmacc/types.hpp
  share/ci/compiler_clang.yml
  share/ci/compiler_clang_cuda.yml
  share/ci/compiler_gcc.yml
  share/ci/compiler_hipcc.yml
  share/ci/compiler_nvcc_cuda.yml
  share/ci/install/clang.sh
  share/ci/install/gcc.sh
  share/ci/n_wise_generator.py
  share/ci/run_picongpu_tests.sh
  share/ci/run_pmacc_tests.sh
Labels: refactoring, component: tests

#4395 remove Bremsstrahlung and Synchrotron radition extension
  README.md
  docs/source/models/photons.rst
  docs/source/usage/param/extensions.rst
  include/picongpu/_defaultParam.loader
  include/picongpu/_defaultUnitless.loader
  include/picongpu/param/bremsstrahlung.param
  include/picongpu/param/speciesAttributes.param
  include/picongpu/param/speciesDefinition.param
  include/picongpu/param/synchrotronPhotons.param
  include/picongpu/particles/ParticlesFunctors.hpp
  include/picongpu/particles/bremsstrahlung/Bremsstrahlung.hpp
  include/picongpu/particles/bremsstrahlung/Bremsstrahlung.tpp
  include/picongpu/particles/bremsstrahlung/PhotonEmissionAngle.hpp
  include/picongpu/particles/bremsstrahlung/ScaledSpectrum.hpp
  include/picongpu/particles/bremsstrahlung/ScaledSpectrum.tpp
  include/picongpu/particles/creation/creation.hpp
  include/picongpu/particles/synchrotronPhotons/PhotonCreator.def
  include/picongpu/particles/synchrotronPhotons/PhotonCreator.hpp
  include/picongpu/particles/synchrotronPhotons/SynchrotronFunctions.hpp
  include/picongpu/particles/synchrotronPhotons/SynchrotronFunctions.tpp
  include/picongpu/particles/traits/GetPhotonCreator.hpp
  include/picongpu/simulation/control/Simulation.hpp
  include/picongpu/simulation/stage/Bremsstrahlung.hpp
  include/picongpu/simulation/stage/SynchrotronRadiation.hpp
  include/picongpu/unitless/synchrotronPhotons.unitless
  include/pmacc/particles/traits/ResolveAliasFromSpecies.hpp
  share/picongpu/examples/Bremsstrahlung/README.rst
  share/picongpu/examples/Bremsstrahlung/etc/picongpu/1.cfg
  share/picongpu/examples/Bremsstrahlung/etc/picongpu/8.cfg
  share/picongpu/examples/Bremsstrahlung/include/picongpu/param/bremsstrahlung.param
  share/picongpu/examples/Bremsstrahlung/include/picongpu/param/density.param
  share/picongpu/examples/Bremsstrahlung/include/picongpu/param/dimension.param
  share/picongpu/examples/Bremsstrahlung/include/picongpu/param/grid.param
  share/picongpu/examples/Bremsstrahlung/include/picongpu/param/laser.param
  share/picongpu/examples/Bremsstrahlung/include/picongpu/param/particle.param
  share/picongpu/examples/Bremsstrahlung/include/picongpu/param/speciesDefinition.param
  share/picongpu/examples/Bremsstrahlung/include/picongpu/param/speciesInitialization.param
  share/picongpu/examples/Bunch/cmakeFlags
  share/picongpu/examples/Bunch/include/picongpu/param/speciesDefinition.param
Labels: component: core, refactoring

#4377 plugin radiation: use PMaccs forEachFrame
  include/picongpu/plugins/radiation/Radiation.kernel
Labels: component: plugin, refactoring

#4394 use incident field laser for LWFA example
  include/picongpu/fields/incidentField/Functors.hpp
  share/picongpu/examples/LaserWakefield/etc/picongpu/1.cfg
  share/picongpu/examples/LaserWakefield/etc/picongpu/16.cfg
  share/picongpu/examples/LaserWakefield/etc/picongpu/1_isaac.cfg
  share/picongpu/examples/LaserWakefield/etc/picongpu/32.cfg
  share/picongpu/examples/LaserWakefield/etc/picongpu/4.cfg
  share/picongpu/examples/LaserWakefield/etc/picongpu/4_gui.cfg
  share/picongpu/examples/LaserWakefield/etc/picongpu/4_isaac.cfg
  share/picongpu/examples/LaserWakefield/etc/picongpu/8.cfg
  share/picongpu/examples/LaserWakefield/etc/picongpu/8_isaac.cfg
  share/picongpu/examples/LaserWakefield/include/picongpu/param/incidentField.param
  share/picongpu/examples/LaserWakefield/include/picongpu/param/laser.param
  share/picongpu/examples/LaserWakefield/include/picongpu/param/png.param
Labels: component: examples, component: user input

#4401 Radiation plugin: Fix checkpointing
  include/picongpu/plugins/radiation/Radiation.hpp
Labels: bug

#4398 remove CUstl from particle push
  include/picongpu/algorithms/AssignedTrilinearInterpolation.hpp
  include/picongpu/algorithms/FieldToParticleInterpolation.hpp
  include/picongpu/algorithms/ShiftCoordinateSystem.hpp
  include/picongpu/particles/Particles.kernel
  include/picongpu/particles/interpolationMemoryPolicy/ShiftToValidRange.hpp
  include/picongpu/particles/ionization/byCollision/ThomasFermi/ThomasFermi_Impl.hpp
  include/picongpu/particles/ionization/byField/ADK/ADK_Impl.hpp
  include/picongpu/particles/ionization/byField/BSI/BSI_Impl.hpp
  include/picongpu/particles/ionization/byField/Keldysh/Keldysh_Impl.hpp
Labels: component: core, refactoring

#4399 Radiation plugin: Workaround BP5 bug
  include/picongpu/plugins/radiation/Radiation.hpp
Labels: bug, component: plugin

#4396 Integer exponent power function
  include/picongpu/fields/MaxwellSolver/ArbitraryOrderFDTD/Weights.hpp
  include/picongpu/particles/atomicPhysics/AtomicRate.hpp
  include/picongpu/particles/ionization/byCollision/ThomasFermi/AlgorithmThomasFermi.hpp
  include/picongpu/plugins/radiation/radFormFactor.hpp
  include/picongpu/plugins/radiation/utilities.hpp
  include/pmacc/algorithms/math.hpp
  include/pmacc/algorithms/math/PowerFunction.hpp
Labels: component: plugin, component: PMacc, refactoring

#4406 fix radition plugin
  include/picongpu/plugins/radiation/Radiation.kernel
Labels: bug, component: plugin
