Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2023-01, with the labels that each got.

#4402 remove cuSTL usage from current deposition
  include/picongpu/fields/currentDeposition/EmZ/DepositCurrent.hpp
  include/picongpu/fields/currentDeposition/EmZ/EmZ.hpp
  include/picongpu/fields/currentDeposition/Esirkepov/Esirkepov.hpp
  include/picongpu/fields/currentDeposition/Esirkepov/Esirkepov2D.hpp
  include/picongpu/fields/currentDeposition/PermutatedFieldValueAccess.hpp
Labels: component: core, refactoring

#4411 fix CIC caching shape
  include/picongpu/particles/shapes/CIC.hpp
Labels: bug, component: core

#4400 compile test for incident field laser profiles
  share/picongpu/tests/compileLaser/README.rst
  share/picongpu/tests/compileLaser/cmakeFlags
  share/picongpu/tests/compileLaser/include/picongpu/param/dimension.param
  share/picongpu/tests/compileLaser/include/picongpu/param/fieldSolver.param
  share/picongpu/tests/compileLaser/include/picongpu/param/fileOutput.param
  share/picongpu/tests/compileLaser/include/picongpu/param/grid.param
  share/picongpu/tests/compileLaser/include/picongpu/param/incidentField.param
  share/picongpu/tests/compileLaser/include/picongpu/param/isaac.param
  share/picongpu/tests/compileLaser/include/picongpu/param/precision.param
  share/picongpu/tests/compileLaser/include/picongpu/param/speciesDefinition.param
Labels: component: core, component: tests

#4412 Environment variables for support of ADIOS2 SST engine on ORNL Frontier and elsewhere
  docs/source/usage/plugins/openPMD.rst
  include/pmacc/Environment.hpp
Labels: bug, component: PMacc, machine/system

#4408 openPMD plugin: Workaround BP5 attribute datatype overriding
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
Labels: bug, component: plugin

#4415 remove unused cuSTL classes
  include/picongpu/fields/currentDeposition/Esirkepov/Esirkepov2D.hpp
  include/picongpu/particles/creation/creation.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
  include/pmacc/cuSTL/container/CartBuffer.hpp
  include/pmacc/cuSTL/container/CartBuffer.tpp
  include/pmacc/cuSTL/container/IndexBuffer.hpp
  include/pmacc/cuSTL/container/PNGBuffer.hpp
  include/pmacc/cuSTL/cursor/FunctorCursor.hpp
  include/pmacc/cuSTL/cursor/MultiIndexCursor.hpp
  include/pmacc/cuSTL/cursor/SafeCursor.hpp
  include/pmacc/cuSTL/cursor/accessor/FunctorAccessor.hpp
  include/pmacc/cuSTL/cursor/accessor/LinearInterpAccessor.hpp
  include/pmacc/cuSTL/cursor/accessor/TwistAxesAccessor.hpp
  include/pmacc/cuSTL/cursor/compile-time/SafeCursor.hpp
  include/pmacc/cuSTL/cursor/navigator/EmptyNavigator.hpp
  include/pmacc/cuSTL/cursor/navigator/MultiIndexNavigator.hpp
  include/pmacc/cuSTL/cursor/navigator/PlusNavigator.hpp
  include/pmacc/cuSTL/cursor/navigator/compile-time/TwistAxesNavigator.hpp
  include/pmacc/cuSTL/cursor/tools/LinearInterp.hpp
  include/pmacc/cuSTL/cursor/tools/slice.hpp
  include/pmacc/cuSTL/cursor/tools/twistAxes.hpp
  include/pmacc/cuSTL/cursor/tools/twistVectorFieldAxes.hpp
  include/pmacc/cuSTL/zone/StaggeredZone.hpp
  include/pmacc/cuSTL/zone/ToricZone.hpp
Labels: component: PMacc, refactoring

#4420 fix CI clang OpenMP not found
  share/ci/compiler_clang.yml
  share/ci/compiler_clang_cuda.yml
  share/ci/install/clang.sh
Labels: bug, component: tests, backend: omp2b, backend: omp5

#4419 Clean Bunch example
  share/picongpu/examples/Bunch/include/picongpu/param/components.param
  share/picongpu/examples/Bunch/include/picongpu/param/starter.param
Labels: refactoring, component: examples

#4423 calorimeter: remove cuSTL
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeterFunctors.hpp
Labels: bug, component: plugin, refactoring

#4422 KHI memory species buffer scaling based on simulation volume
  share/picongpu/examples/KelvinHelmholtz/include/picongpu/param/memory.param
  share/picongpu/tests/KHI_growthRate/include/picongpu/param/memory.param
Labels: component: tests, component: user input

#4426 plugin emittance: remove cuSTL
  include/picongpu/plugins/Emittance.hpp
Labels: component: plugin, refactoring

#4427 remove unused vectors transition radiation
  include/picongpu/plugins/transitionRadiation/TransitionRadiation.hpp
Labels: component: core, refactoring

#4428 code clean-up: avoid using new and plane pointers
  include/picongpu/plugins/IsaacPlugin.hpp
  include/picongpu/plugins/output/GatherSlice.hpp
Labels: component: plugin, refactoring

#4421 fix CMake optional dependency checking
  include/picongpu/CMakeLists.txt
Labels: bug, install

#4413 Add template for async jobs on Crusher
  etc/picongpu/crusher-ornl/batch_pipe.tpl
  share/picongpu/examples/KelvinHelmholtz/etc/picongpu/8_pipe.cfg
Labels: component: tools, machine/system

#4430 Update crusher-olcf/batch.tpl
  etc/picongpu/crusher-ornl/batch.tpl
Labels: machine/system, CI:no-compile

#4424 charge conservation plugin: remove cuSTL
  include/picongpu/plugins/ChargeConservation.hpp
  include/picongpu/plugins/ChargeConservation.tpp
Labels: component: plugin, refactoring

#4437 optimize CI
  .gitlab-ci.yml
  share/ci/n_wise_generator.py
Labels: component: tools, refactoring, component: tests, CI:no-compile

#4434 remove cuSTL
  include/picongpu/plugins/PhaseSpace/PhaseSpaceFunctors.hpp
  include/pmacc/cuSTL/algorithm/cuplaBlock/Foreach.hpp
  include/pmacc/cuSTL/algorithm/functor/Add.hpp
  include/pmacc/cuSTL/algorithm/functor/AssignValue.hpp
  include/pmacc/cuSTL/algorithm/functor/GetComponent.hpp
  include/pmacc/cuSTL/algorithm/host/Foreach.hpp
  include/pmacc/cuSTL/algorithm/kernel/FFT.hpp
  include/pmacc/cuSTL/algorithm/kernel/FFT.tpp
  include/pmacc/cuSTL/algorithm/kernel/Foreach.hpp
  include/pmacc/cuSTL/algorithm/kernel/ForeachBlock.hpp
  include/pmacc/cuSTL/algorithm/kernel/Reduce.hpp
  include/pmacc/cuSTL/algorithm/kernel/detail/ForeachKernel.hpp
  include/pmacc/cuSTL/algorithm/kernel/detail/SphericMapper.hpp
  include/pmacc/cuSTL/algorithm/kernel/run-time/Foreach.hpp
  include/pmacc/cuSTL/algorithm/mpi/Gather.hpp
  include/pmacc/cuSTL/algorithm/mpi/Gather.tpp
  include/pmacc/cuSTL/algorithm/mpi/Reduce.hpp
  include/pmacc/cuSTL/algorithm/mpi/Reduce.tpp
  include/pmacc/cuSTL/container/CartBuffer.hpp
  include/pmacc/cuSTL/container/CartBuffer.tpp
  include/pmacc/cuSTL/container/DeviceBuffer.hpp
  include/pmacc/cuSTL/container/HostBuffer.hpp
  include/pmacc/cuSTL/container/allocator/DeviceMemAllocator.hpp
  include/pmacc/cuSTL/container/allocator/DeviceMemAllocator.tpp
  include/pmacc/cuSTL/container/allocator/DeviceMemEvenPitchAllocator.hpp
  include/pmacc/cuSTL/container/allocator/DeviceMemEvenPitchAllocator.tpp
  include/pmacc/cuSTL/container/allocator/HostMemAllocator.hpp
  include/pmacc/cuSTL/container/allocator/HostMemAllocator.tpp
  include/pmacc/cuSTL/container/allocator/compile-time/SharedMemAllocator.hpp
  include/pmacc/cuSTL/container/allocator/tag.hpp
  include/pmacc/cuSTL/container/assigner/DeviceMemAssigner.hpp
  include/pmacc/cuSTL/container/assigner/HostMemAssigner.hpp
  include/pmacc/cuSTL/container/compile-time/CartBuffer.hpp
  include/pmacc/cuSTL/container/compile-time/CartBuffer.tpp
  include/pmacc/cuSTL/container/compile-time/SharedBuffer.hpp
  include/pmacc/cuSTL/container/copier/D2DCopier.hpp
  include/pmacc/cuSTL/container/copier/H2HCopier.hpp
  include/pmacc/cuSTL/container/copier/Memcopy.hpp
  include/pmacc/cuSTL/container/tag.hpp
  include/pmacc/cuSTL/container/view/View.hpp
  include/pmacc/cuSTL/cursor/BufferCursor.hpp
  include/pmacc/cuSTL/cursor/Cursor.hpp
  include/pmacc/cuSTL/cursor/NestedCursor.hpp
  include/pmacc/cuSTL/cursor/accessor/CursorAccessor.hpp
  include/pmacc/cuSTL/cursor/accessor/MarkerAccessor.hpp
  include/pmacc/cuSTL/cursor/accessor/PointerAccessor.hpp
  include/pmacc/cuSTL/cursor/compile-time/BufferCursor.hpp
  include/pmacc/cuSTL/cursor/navigator/BufferNavigator.hpp
  include/pmacc/cuSTL/cursor/navigator/CartNavigator.hpp
  include/pmacc/cuSTL/cursor/navigator/CursorNavigator.hpp
  include/pmacc/cuSTL/cursor/navigator/MapTo1DNavigator.hpp
  include/pmacc/cuSTL/cursor/navigator/compile-time/BufferNavigator.hpp
  include/pmacc/cuSTL/cursor/navigator/tag.hpp
  include/pmacc/cuSTL/cursor/traits.hpp
  include/pmacc/cuSTL/zone/SphericZone.hpp
  include/pmacc/cuSTL/zone/compile-time/SphericZone.hpp
  include/pmacc/memory/boxes/PitchedBox.hpp
  include/pmacc/memory/boxes/SharedBox.hpp
  include/pmacc/memory/buffers/DeviceBuffer.hpp
  include/pmacc/memory/buffers/HostBuffer.hpp
Labels: component: PMacc, refactoring

#4440 Remove explicit definition of RngType in filter::generic::FreeRng
  include/picongpu/particles/filter/generic/FreeRng.hpp
Labels: bug, component: core, affects latest release

#4441 fix CI
  share/ci/compiler_hipcc.yml
  share/ci/install/clang.sh
  share/ci/run_picongpu_tests.sh
  share/ci/run_pmacc_tests.sh
Labels: bug, component: tests

#4432 refactor particle filters
  docs/source/usage/plugins/openPMD.rst
  include/picongpu/particles/filter/All.hpp
  include/picongpu/particles/filter/RelativeGlobalDomainPosition.hpp
  include/picongpu/particles/filter/generic/Free.def
  include/picongpu/particles/filter/generic/Free.hpp
  include/picongpu/particles/filter/generic/FreeRng.def
  include/picongpu/particles/filter/generic/FreeRng.hpp
  include/picongpu/particles/filter/generic/FreeTotalCellOffset.def
  include/picongpu/particles/filter/generic/FreeTotalCellOffset.hpp
  include/picongpu/plugins/misc/SpeciesFilter.hpp
  share/picongpu/benchmarks/TWEAC-FOM/include/picongpu/param/particleFilters.param
Labels: component: plugin, refactoring, component: user input
