Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2023-03, with the labels that each got.

#4459 switch PICMI to incidentField
  docs/source/pypicongpu/testing.rst
  lib/python/picongpu/picmi/gaussian_laser.py
  lib/python/picongpu/picmi/simulation.py
  lib/python/picongpu/pypicongpu/laser.py
  lib/python/picongpu/pypicongpu/runner.py
  lib/python/picongpu/pypicongpu/simulation.py
  share/picongpu/pypicongpu/schema/laser.GaussianLaser.json
  share/picongpu/pypicongpu/template/include/picongpu/param/incidentField.param.mustache
  share/picongpu/pypicongpu/template/include/picongpu/param/laser.param.mustache
  share/picongpu/pypicongpu/template/include/picongpu/param/png.param.mustache
  test/python/picongpu/compiling/distribution.py
  test/python/picongpu/compiling/runner.py
  test/python/picongpu/compiling/simulation.py
  test/python/picongpu/quick/picmi/gaussian_laser.py
  test/python/picongpu/quick/pypicongpu/laser.py
  test/python/picongpu/quick/pypicongpu/simulation.py
Labels: component: tools, refactoring

#4447 improve command line argument validation
  include/picongpu/simulation/control/Simulation.hpp
  include/picongpu/simulation/stage/ParticleBoundaries.hpp
Labels: component: core, refactoring

#4448 remove buffer `*Intern`
  include/picongpu/plugins/Emittance.hpp
  include/picongpu/plugins/PhaseSpace/DumpHBufferOpenPMD.hpp
  include/picongpu/plugins/PhaseSpace/PhaseSpace.tpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
  include/pmacc/memory/buffers/DeviceBuffer.hpp
  include/pmacc/memory/buffers/DeviceBufferIntern.hpp
  include/pmacc/memory/buffers/Exchange.hpp
  include/pmacc/memory/buffers/ExchangeIntern.hpp
  include/pmacc/memory/buffers/GridBuffer.hpp
  include/pmacc/memory/buffers/HostBuffer.hpp
  include/pmacc/memory/buffers/HostBufferIntern.hpp
  include/pmacc/memory/buffers/HostDeviceBuffer.hpp
  include/pmacc/memory/buffers/HostDeviceBuffer.tpp
  include/pmacc/test/memory/HostBuffer/copyFrom.hpp
  include/pmacc/test/memory/HostBuffer/reset.hpp
  include/pmacc/test/memory/HostBuffer/setValue.hpp
  include/pmacc/test/memory/memoryUT.cpp
Labels: component: PMacc, refactoring

#4460 Topic lockstep for each refactoring
  docs/source/prgpatterns/lockstep.rst
  include/picongpu/algorithms/Gamma.hpp
  include/picongpu/algorithms/KinEnergy.hpp
  include/picongpu/algorithms/Velocity.hpp
  include/picongpu/particles/ParticlesInit.kernel
  include/picongpu/particles/atomicPhysics/DecelerateElectrons.hpp
  include/picongpu/particles/atomicPhysics/FillHistogram.hpp
  include/picongpu/particles/atomicPhysics/SolveRateEquation.hpp
  include/picongpu/particles/collision/InterCollision.hpp
  include/picongpu/particles/collision/IntraCollision.hpp
  include/picongpu/particles/creation/creation.kernel
  include/picongpu/plugins/kernel/CopySpecies.kernel
  include/picongpu/plugins/output/images/Visualisation.hpp
  include/picongpu/plugins/radiation/Radiation.kernel
  include/picongpu/simulation_types.hpp
  include/picongpu/unitless/speciesDefinition.unitless
  include/pmacc/device/reduce/Kernel.hpp
  include/pmacc/lockstep/ForEach.hpp
  include/pmacc/particles/ParticlesBase.kernel
  include/pmacc/particles/algorithm/ForEach.hpp
  include/pmacc/particles/operations/splitIntoListOfFrames.kernel
Labels: component: PMacc, refactoring

#4461 PMacc: remove unused class math::Tuple
  include/pmacc/math/Tuple.hpp
Labels: component: PMacc, refactoring

#4463 fix particle position rounding issue
  include/picongpu/algorithms/FieldToParticleInterpolation.hpp
  include/picongpu/algorithms/ShiftCoordinateSystem.hpp
  include/picongpu/particles/MoveParticle.hpp
Labels: bug, component: core, refactoring, affects latest release

#4464 change class RelayPoint to function
  include/picongpu/fields/currentDeposition/EmZ/EmZ.hpp
  include/picongpu/fields/currentDeposition/Esirkepov/Esirkepov.hpp
  include/picongpu/fields/currentDeposition/Esirkepov/Esirkepov2D.hpp
  include/picongpu/fields/currentDeposition/RelayPoint.hpp
  include/picongpu/fields/currentDeposition/relayPoint.hpp
Labels: component: core, refactoring

#4465 OnePositionImpl refactoring
  include/picongpu/particles/startPosition/OnePositionImpl.hpp
Labels: component: core, refactoring

#4467 pmacc: remove invokeIf
  include/picongpu/fields/currentDeposition/EmZ/EmZ.hpp
  include/picongpu/particles/Particles.tpp
  include/picongpu/particles/pusher/particlePusherAcceleration.hpp
  include/picongpu/particles/pusher/particlePusherBoris.hpp
  include/picongpu/particles/pusher/particlePusherFree.hpp
  include/picongpu/particles/pusher/particlePusherHigueraCary.hpp
  include/picongpu/particles/pusher/particlePusherPhoton.hpp
  include/picongpu/particles/pusher/particlePusherProbe.hpp
  include/picongpu/particles/pusher/particlePusherReducedLandauLifshitz.hpp
  include/picongpu/particles/pusher/particlePusherVay.hpp
  include/picongpu/simulation/control/Simulation.hpp
  include/pmacc/meta/InvokeIf.hpp
Labels: component: PMacc, refactoring

#4468 radiation plugin: refactor getRadiationMask
  include/picongpu/plugins/radiation/GetRadiationMask.hpp
  include/picongpu/plugins/radiation/Radiation.kernel
  include/picongpu/plugins/radiation/getRadiationMask.hpp
Labels: component: plugin, refactoring

#4469 PMacc: refactor meta::ForEach
  include/pmacc/meta/ForEach.hpp
Labels: component: PMacc, refactoring

#4470 refactor `TaskSetValue`
  include/pmacc/eventSystem/tasks/TaskSetValue.hpp
Labels: component: PMacc, refactoring

#4471 refactor particle pusher launcher
  include/picongpu/particles/Particles.tpp
Labels: component: core, refactoring

#4473 refactor differentiation trait
  include/picongpu/fields/differentiation/Derivative.hpp
  include/picongpu/fields/differentiation/Traits.hpp
Labels: component: core, refactoring

#4474 refactor GetChargeState and GetCharge
  include/picongpu/traits/attribute/GetCharge.hpp
  include/picongpu/traits/attribute/GetChargeState.hpp
Labels: component: core, refactoring

#4482 Fix single particle test example
  share/picongpu/examples/SingleParticleTest/include/picongpu/param/fieldBackground.param
  share/picongpu/examples/SingleParticleTest/include/picongpu/param/speciesDefinition.param
Labels: component: examples

#4490 fix out of memory access in incident field
  include/picongpu/fields/incidentField/Solver.hpp
Labels: bug, component: core

#4488 example foilLCT: use incident filed laser
  share/picongpu/examples/FoilLCT/cmakeFlags
  share/picongpu/examples/FoilLCT/include/picongpu/param/incidentField.param
  share/picongpu/examples/FoilLCT/include/picongpu/param/laser.param
Labels: refactoring, component: examples, component: user input

#4493 PMacc tests: use the CI provided GPU architecture
  share/ci/run_pmacc_tests.sh
Labels: component: PMacc, component: tests

#4494 remove bremsstrahlung.unitless
  include/picongpu/unitless/bremsstrahlung.unitless
Labels: refactoring

#4495 PMacc DeviceBuffer: missing override
  include/pmacc/memory/buffers/DeviceBuffer.hpp
Labels: component: PMacc, warning

#4496 Plugin: CountMacroParticlesPerSupercell and Chargeconservation
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/makroParticleCounter/PerSuperCell.hpp
Labels: component: plugin, refactoring, backend: omp2b, backend: tbb, backend: serial, backend: C++ threads, backend: hip, backend: omp5

#4498 fix missing return statement
  include/picongpu/fields/currentDeposition/relayPoint.hpp
  include/picongpu/traits/attribute/GetCharge.hpp
Labels: bug, backend: cuda

#4500 add HDINLINE to Selection methods
  include/pmacc/mappings/simulation/Selection.hpp
Labels: component: PMacc, refactoring

#4503 remove dependency to `boost::math`
  INSTALL.rst
  include/picongpu/CMakeLists.txt
  include/pmacc/PMaccConfig.cmake
  include/pmacc/algorithms/math/doubleMath/bessel.tpp
  include/pmacc/algorithms/math/floatMath/bessel.tpp
Labels: component: PMacc, refactoring

#4506 PMacc: DataConnector change `get()` interface
  include/picongpu/fields/MaxwellSolver/AddCurrentDensity.hpp
  include/picongpu/fields/MaxwellSolver/FDTD/FDTD.hpp
  include/picongpu/fields/MaxwellSolver/FDTD/FDTDBase.hpp
  include/picongpu/fields/MaxwellSolver/Substepping/Substepping.hpp
  include/picongpu/fields/incidentField/Solver.hpp
  include/picongpu/fields/laserProfiles/ExpRampWithPrepulse.hpp
  include/picongpu/fields/laserProfiles/GaussianBeam.hpp
  include/picongpu/fields/laserProfiles/PlaneWave.hpp
  include/picongpu/fields/laserProfiles/Polynom.hpp
  include/picongpu/fields/laserProfiles/PulseFromSpectrum.hpp
  include/picongpu/fields/laserProfiles/PulseFrontTilt.hpp
  include/picongpu/fields/laserProfiles/Wavepacket.hpp
  include/picongpu/initialization/SimStartInitialiser.hpp
  include/picongpu/particles/InitFunctors.hpp
  include/picongpu/particles/Particles.tpp
  include/picongpu/particles/ParticlesFunctors.hpp
  include/picongpu/particles/atomicPhysics/CallAtomicPhysics.hpp
  include/picongpu/particles/collision/InterCollision.hpp
  include/picongpu/particles/collision/IntraCollision.hpp
  include/picongpu/particles/debyeLength/Estimate.hpp
  include/picongpu/particles/densityProfiles/FromOpenPMDImpl.hpp
  include/picongpu/particles/ionization/byCollision/ThomasFermi/ThomasFermi_Impl.hpp
  include/picongpu/particles/ionization/byField/ADK/ADK_Impl.hpp
  include/picongpu/particles/ionization/byField/BSI/BSI_Impl.hpp
  include/picongpu/particles/ionization/byField/Keldysh/Keldysh_Impl.hpp
  include/picongpu/particles/particleToGrid/ComputeFieldValue.hpp
  include/picongpu/particles/particleToGrid/FoldDeriveFields.hpp
  include/picongpu/plugins/BinEnergyParticles.hpp
  include/picongpu/plugins/ChargeConservation.tpp
  include/picongpu/plugins/CountParticles.hpp
  include/picongpu/plugins/Emittance.hpp
  include/picongpu/plugins/EnergyFields.hpp
  include/picongpu/plugins/EnergyParticles.hpp
  include/picongpu/plugins/IsaacPlugin.hpp
  include/picongpu/plugins/PhaseSpace/PhaseSpace.tpp
  include/picongpu/plugins/SumCurrents.hpp
  include/picongpu/plugins/makroParticleCounter/PerSuperCell.hpp
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/restart/LoadSpecies.hpp
  include/picongpu/plugins/openPMD/restart/RestartFieldLoader.hpp
  include/picongpu/plugins/output/WriteSpeciesCommon.hpp
  include/picongpu/plugins/output/images/Visualisation.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
  include/picongpu/plugins/radiation/Radiation.hpp
  include/picongpu/plugins/transitionRadiation/TransitionRadiation.hpp
  include/picongpu/simulation/control/Simulation.hpp
  include/picongpu/simulation/stage/Collision.hpp
  include/picongpu/simulation/stage/CurrentBackground.hpp
  include/picongpu/simulation/stage/CurrentDeposition.hpp
  include/picongpu/simulation/stage/CurrentInterpolationAndAdditionToEMF.hpp
  include/picongpu/simulation/stage/CurrentReset.hpp
  include/picongpu/simulation/stage/FieldBackground.hpp
  include/pmacc/dataManagement/DataConnector.hpp
  include/pmacc/mappings/simulation/ResourceMonitor.tpp
  include/pmacc/particles/algorithm/CallForEach.hpp
  include/pmacc/random/RNGProvider.tpp
Labels: component: PMacc, refactoring

#4505 remove usage of `boost::result_of`
  include/picongpu/algorithms/AssignedTrilinearInterpolation.hpp
  include/pmacc/PMaccConfig.cmake
  include/pmacc/math/MapTuple.hpp
  include/pmacc/math/vector/TwistComponents.hpp
  include/pmacc/math/vector/Vector.hpp
  include/pmacc/particles/memory/dataTypes/Particle.hpp
  include/pmacc/particles/memory/frames/Frame.hpp
  include/pmacc/particles/operations/Deselect.hpp
  include/pmacc/random/Random.hpp
  include/pmacc/result_of_Functor.hpp
Labels: component: core, component: PMacc, refactoring

#4501 PML: fix out of memory access
  include/picongpu/fields/absorber/pml/Field.tpp
Labels: bug, component: core

#4499 refactor `math::Vector`, use unsigned dimension
  include/picongpu/fields/background/templates/TWTS/RotateField.tpp
  include/picongpu/fields/background/templates/twtsfast/RotateField.tpp
  include/picongpu/fields/incidentField/Solver.kernel
  include/picongpu/particles/Particles.tpp
  include/picongpu/plugins/ChargeConservation.tpp
  include/picongpu/unitless/precision.unitless
  include/picongpu/unitless/speciesAttributes.unitless
  include/pmacc/dimensions/DataSpace.hpp
  include/pmacc/dimensions/DataSpace.tpp
  include/pmacc/fields/operations/AddExchangeToBorder.hpp
  include/pmacc/fields/operations/CopyGuardToExchange.hpp
  include/pmacc/kernel/operation/Atomic.hpp
  include/pmacc/math/ConstVector.hpp
  include/pmacc/math/vector/Float.hpp
  include/pmacc/math/vector/Int.hpp
  include/pmacc/math/vector/Size_t.hpp
  include/pmacc/math/vector/TwistComponents.hpp
  include/pmacc/math/vector/UInt32.hpp
  include/pmacc/math/vector/UInt64.hpp
  include/pmacc/math/vector/Vector.hpp
  include/pmacc/math/vector/Vector.tpp
  include/pmacc/math/vector/compile-time/Float.hpp
  include/pmacc/math/vector/compile-time/Int.hpp
  include/pmacc/math/vector/compile-time/TwistComponents.hpp
  include/pmacc/math/vector/compile-time/Vector.hpp
Labels: component: PMacc, refactoring

#4508 fix warning in `Derivative.hpp`
  include/picongpu/fields/differentiation/Derivative.hpp
Labels: component: core, warning

#4507 incident laser focus origin
  include/picongpu/fields/incidentField/Functors.hpp
  include/picongpu/fields/incidentField/profiles/BaseParam.def
  include/picongpu/fields/incidentField/profiles/DispersiveLaser.hpp
  share/picongpu/examples/Bunch/include/picongpu/param/incidentField.param
  share/picongpu/examples/FoilLCT/include/picongpu/param/incidentField.param
  share/picongpu/examples/LaserWakefield/include/picongpu/param/incidentField.param
Labels: component: core, component: user input

#4512 remove particle merger from `TBG_macros.cfg`
  docs/TBG_macros.cfg
Labels: component: PMacc, documentation, refactoring, CI:no-compile

#4497 plugin sum current refactoring
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/SumCurrents.hpp
Labels: component: plugin, refactoring, backend: omp2b, backend: tbb, backend: serial, backend: C++ threads, backend: hip, backend: omp5

#4515 refactor `pic-create`
  bin/pic-create
  etc/picongpu/aris-grnet/gpu_picongpu.profile.example
  etc/picongpu/ascent-ornl/gpu_picongpu.profile.example
  etc/picongpu/bash-devServer-hzdr/cpu_picongpu.profile.example
  etc/picongpu/bash-devServer-hzdr/gpu_picongpu.profile.example
  etc/picongpu/bash/bash_picongpu.profile.example
  etc/picongpu/cori-nersc/a100_picongpu.profile.example
  etc/picongpu/crusher-ornl/batch_craycc_picongpu.profile.example
  etc/picongpu/crusher-ornl/batch_hipcc_picongpu.profile.example
  etc/picongpu/davide-cineca/gpu_picongpu.profile.example
  etc/picongpu/draco-mpcdf/picongpu.profile.example
  etc/picongpu/hemera-hzdr/defq_picongpu.profile.example
  etc/picongpu/hemera-hzdr/fwkt_v100_picongpu.profile.example
  etc/picongpu/hemera-hzdr/gpu_picongpu.profile.example
  etc/picongpu/hemera-hzdr/k20_picongpu.profile.example
  etc/picongpu/hemera-hzdr/k80_picongpu.profile.example
  etc/picongpu/jureca-jsc/batch_picongpu.profile.example
  etc/picongpu/jureca-jsc/booster_picongpu.profile.example
  etc/picongpu/jureca-jsc/gpus_picongpu.profile.example
  etc/picongpu/juwels-jsc/batch_picongpu.profile.example
  etc/picongpu/juwels-jsc/booster_picongpu.profile.example
  etc/picongpu/juwels-jsc/gpus_picongpu.profile.example
  etc/picongpu/pizdaint-cscs/picongpu.profile.example
  etc/picongpu/spock-ornl/caar_picongpu.profile.example
  etc/picongpu/summit-ornl/gpu_picongpu.profile.example
  etc/picongpu/taurus-tud/A100_picongpu.profile.example
  etc/picongpu/taurus-tud/V100_picongpu.profile.example
  etc/picongpu/taurus-tud/k80_picongpu.profile.example
Labels: component: tools, refactoring

#4519 fix stdlibc++ filesystem compatibility
  include/picongpu/CMakeLists.txt
  include/picongpu/plugins/common/txtFileHandling.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/toml.cpp
  include/picongpu/plugins/radiation/Radiation.hpp
  include/pmacc/PMaccConfig.cmake
  include/pmacc/filesystem.hpp
  include/pmacc/mappings/simulation/Filesystem.cpp
  include/pmacc/simulationControl/SimulationHelper.cpp
  share/ci/n_wise_generator.py
Labels: bug

#4522 remove VampirTrace and ScoreP
  INSTALL.rst
  etc/picongpu/cuda.filter
  etc/picongpu/scorep.filter
  etc/picongpu/submitAction.sh
Labels: documentation, component: tools, CI:no-compile
