Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2023-12, with the labels that each got.

#4740 Suggestions for the Binning plugin
  include/picongpu/param/binningSetup.param
  include/picongpu/plugins/binning/Binner.hpp
  include/picongpu/plugins/binning/BinningCreator.hpp
  include/picongpu/plugins/binning/BinningData.hpp
  include/picongpu/plugins/binning/WriteHist.hpp
  include/picongpu/plugins/binning/binnerPlugin.hpp
Labels: component: plugin, component: user input

#4725 Add prepulse duration option to ExpRampWithPrepulse
  include/picongpu/fields/incidentField/profiles/ExpRampWithPrepulse.def
  include/picongpu/fields/incidentField/profiles/ExpRampWithPrepulse.hpp
  share/picongpu/examples/FoilLCT/include/picongpu/param/incidentField.param
  share/picongpu/examples/LaserWakefield/include/picongpu/param/incidentField.param
Labels: component: core, refactoring

#4763 Fix Notify period not being set in Binning Plugin
  include/picongpu/plugins/binning/Binner.hpp
  include/picongpu/plugins/binning/BinningCreator.hpp
  include/picongpu/plugins/binning/BinningDispatcher.hpp
Labels: bug, component: plugin

#4766 Implement checkpoint and restart capability to the binning plugin
  include/picongpu/plugins/binning/Binner.hpp
  include/picongpu/plugins/binning/BinningCreator.hpp
  include/picongpu/plugins/binning/BinningDispatcher.hpp
  include/picongpu/plugins/binning/WriteHist.hpp
Labels: component: plugin

#4768 fix formating of PyPIConGPU template after #4750
  share/picongpu/pypicongpu/template/include/picongpu/param/particle.param.mustache
Labels: component: tools

#4772 fix collision (again)
  include/picongpu/particles/collision/detail/ListEntry.hpp
Labels: bug, component: core

#4770 Make overflow bins optional in Binning plugin
  include/picongpu/plugins/binning/Axis.hpp
  include/picongpu/plugins/binning/BinningFunctors.hpp
Labels: component: plugin, refactoring

#4771 getBinWidth fixes in binning plugin linear axis
  include/picongpu/plugins/binning/Axis.hpp
Labels: bug, component: plugin

#4769 Remove assert limiting the binning plugin to 3 dimensions
  include/picongpu/plugins/binning/BinningData.hpp
  include/pmacc/dimensions/DataSpace.hpp
Labels: component: plugin, refactoring
