Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2023-11, with the labels that each got.

#4727 change the default cellListChunkSize for collisions
  include/picongpu/param/collision.param
Labels: component: core, refactoring

#4729 Fix openPMD plugin parameter default values
  docs/source/usage/plugins/openPMD.rst
  docs/source/usage/plugins/openPMD.toml
  include/picongpu/plugins/multi/Option.hpp
  include/picongpu/plugins/openPMD/Parameters.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/toml.cpp
  include/picongpu/plugins/openPMD/toml.hpp
Labels: bug, documentation

#4724 A flexible particle binning plugin for particles properties.
  docs/source/conf.py
  docs/source/usage/plugins.rst
  docs/source/usage/plugins/binningPlugin.rst
  include/picongpu/param/binningSetup.param
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/binning/Axis.hpp
  include/picongpu/plugins/binning/Binner.hpp
  include/picongpu/plugins/binning/BinningCreator.hpp
  include/picongpu/plugins/binning/BinningData.hpp
  include/picongpu/plugins/binning/BinningDispatcher.hpp
  include/picongpu/plugins/binning/BinningFunctors.hpp
  include/picongpu/plugins/binning/DomainInfo.hpp
  include/picongpu/plugins/binning/FunctorDescription.hpp
  include/picongpu/plugins/binning/UnitConversion.hpp
  include/picongpu/plugins/binning/WriteHist.hpp
  include/picongpu/plugins/binning/binnerPlugin.hpp
  include/picongpu/plugins/binning/utility.hpp
  include/pmacc/memory/STLTuple.hpp
Labels: component: plugin

#4719 refactor DataSpaceOperations
  include/picongpu/fields/FieldJ.kernel
  include/picongpu/fields/FieldTmp.kernel
  include/picongpu/fields/MaxwellSolver/AddCurrentDensity.kernel
  include/picongpu/fields/MaxwellSolver/FDTD/FDTDBase.kernel
  include/picongpu/fields/absorber/exponential/Exponential.kernel
  include/picongpu/fields/background/cellwiseOperation.hpp
  include/picongpu/fields/incidentField/Solver.kernel
  include/picongpu/param/binningSetup.param
  include/picongpu/particles/MoveParticle.hpp
  include/picongpu/particles/Particles.kernel
  include/picongpu/particles/ParticlesInit.kernel
  include/picongpu/particles/collision/InterCollision.hpp
  include/picongpu/particles/collision/IntraCollision.hpp
  include/picongpu/particles/creation/creation.kernel
  include/picongpu/particles/filter/RelativeGlobalDomainPosition.hpp
  include/picongpu/particles/filter/generic/FreeTotalCellOffset.hpp
  include/picongpu/particles/ionization/byCollision/ThomasFermi/ThomasFermi_Impl.hpp
  include/picongpu/particles/ionization/byField/ADK/ADK_Impl.hpp
  include/picongpu/particles/ionization/byField/BSI/BSI_Impl.hpp
  include/picongpu/particles/ionization/byField/Keldysh/Keldysh_Impl.hpp
  include/picongpu/particles/manipulators/unary/FreeTotalCellOffset.hpp
  include/picongpu/particles/manipulators/unary/FreeTotalCellOffsetRng.hpp
  include/picongpu/particles/particleToGrid/ComputeGridValuePerFrame.hpp
  include/picongpu/particles/startPosition/QuietImpl.hpp
  include/picongpu/plugins/ChargeConservation.tpp
  include/picongpu/plugins/Emittance.hpp
  include/picongpu/plugins/EnergyFields.hpp
  include/picongpu/plugins/IsaacPlugin.hpp
  include/picongpu/plugins/PhaseSpace/PhaseSpaceFunctors.hpp
  include/picongpu/plugins/SumCurrents.hpp
  include/picongpu/plugins/binning/Binner.hpp
  include/picongpu/plugins/binning/BinningFunctors.hpp
  include/picongpu/plugins/kernel/CopySpecies.kernel
  include/picongpu/plugins/openPMD/restart/RestartFieldLoader.hpp
  include/picongpu/plugins/output/images/Visualisation.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.kernel
  include/picongpu/plugins/radiation/Radiation.hpp
  include/picongpu/plugins/radiation/Radiation.kernel
  include/picongpu/plugins/transitionRadiation/TransitionRadiation.hpp
  include/picongpu/plugins/transitionRadiation/TransitionRadiation.kernel
  include/pmacc/dimensions/DataSpaceOperations.hpp
  include/pmacc/fields/operations/AddExchangeToBorder.hpp
  include/pmacc/fields/operations/CopyGuardToExchange.hpp
  include/pmacc/mappings/kernel/MappingDescription.hpp
  include/pmacc/mappings/kernel/StrideIntervalMapping.hpp
  include/pmacc/mappings/kernel/StrideMapperFactory.hpp
  include/pmacc/mappings/kernel/StrideMapping.hpp
  include/pmacc/mappings/simulation/GridController.hpp
  include/pmacc/mappings/threads/ThreadCollective.hpp
  include/pmacc/math/VectorOperations.hpp
  include/pmacc/math/vector/Vector.hpp
  include/pmacc/memory/boxes/DataBoxDim1Access.hpp
  include/pmacc/particles/operations/ConcatListOfFrames.hpp
  include/pmacc/particles/operations/splitIntoListOfFrames.kernel
  include/pmacc/particles/particleFilter/PositionFilter.hpp
  include/pmacc/random/RNGProvider.tpp
  include/pmacc/test/random/2DDistribution.cpp
  share/pmacc/examples/gameOfLife2D/include/Evolution.hpp
Labels: component: PMacc, refactoring

#4735 fix zenodo.json
  .zenodo.json
Labels: CI:no-compile

#4723 PIConGPU unit tests
  .gitlab-ci.yml
  include/picongpu/param/precision.param
  include/picongpu/particles/Particles.hpp
  include/picongpu/particles/shapes/CIC.hpp
  include/picongpu/particles/shapes/Counter.hpp
  include/picongpu/particles/shapes/NGP.hpp
  include/picongpu/particles/shapes/PCS.hpp
  include/picongpu/particles/shapes/PQS.hpp
  include/picongpu/particles/shapes/TSC.hpp
  include/picongpu/simulation_defines.hpp
  include/picongpu/simulation_types.hpp
  include/picongpu/traits/GetDataBoxType.hpp
  include/picongpu/unitless/precision.unitless
  share/ci/backendFlags.sh
  share/ci/generate_reduced_matrix.sh
  share/ci/n_wise_generator.py
  share/ci/run_picongpu_tests.sh
  share/ci/run_picongpu_unit_tests.sh
  share/ci/run_pmacc_tests.sh
  share/ci/run_tests.sh
  share/picongpu/unit/CMakeLists.txt
  share/picongpu/unit/README.rst
  share/picongpu/unit/shape.cpp
Labels: component: core, component: tests, changelog

#4734 change class and function names in radPlugin to camelCase
  docs/source/usage/plugins/radiation.rst
  docs/source/usage/plugins/transitionRadiation.rst
  include/picongpu/param/radiationObserver.param
  include/picongpu/plugins/radiation/Radiation.hpp
  include/picongpu/plugins/radiation/Radiation.kernel
  include/picongpu/plugins/radiation/amplitude.hpp
  include/picongpu/plugins/radiation/calc_amplitude.hpp
  include/picongpu/plugins/radiation/check_consistency.hpp
  include/picongpu/plugins/radiation/nyquist_low_pass.hpp
  include/picongpu/plugins/radiation/particle.hpp
  include/picongpu/plugins/radiation/radFormFactor.hpp
  include/picongpu/plugins/radiation/vector.hpp
  include/picongpu/plugins/radiation/windowFunctions.hpp
  include/picongpu/plugins/transitionRadiation/TransitionRadiation.kernel
  share/picongpu/examples/Bunch/include/picongpu/param/radiationObserver.param
  share/picongpu/examples/KelvinHelmholtz/include/picongpu/param/radiationObserver.param
Labels: component: plugin, documentation, component: user input, changelog

#4736 fix RNG init in ionization
  include/picongpu/particles/creation/creation.kernel
  include/picongpu/particles/ionization/byCollision/ThomasFermi/ThomasFermi_Impl.hpp
  include/picongpu/particles/ionization/byField/ADK/ADK_Impl.hpp
  include/picongpu/particles/ionization/byField/BSI/BSI_Impl.hpp
  include/picongpu/particles/ionization/byField/Keldysh/Keldysh_Impl.hpp
Labels: bug, component: core

#4738 merge 0.7.0 changes to dev branch
  CHANGELOG.md
  include/picongpu/param/species.param
  share/picongpu/benchmarks/TWEAC-FOM/include/picongpu/param/species.param
  share/picongpu/benchmarks/Thermal/include/picongpu/param/species.param
  share/picongpu/examples/SingleParticleTest/include/picongpu/param/species.param
  share/picongpu/tests/CollisionsBeamRelaxation/include/picongpu/param/species.param
  share/picongpu/tests/CollisionsThermalisation/include/picongpu/param/species.param
  share/picongpu/tests/KHI_growthRate/include/picongpu/param/species.param
  share/picongpu/tests/compileCurrentSolver/include/picongpu/param/species.param
  share/picongpu/tests/compileParticlePusher/include/picongpu/param/species.param
Labels: documentation

#4743 Karolina
  etc/picongpu/karolina-it4i/README.txt
  etc/picongpu/karolina-it4i/gpu_a100.tpl
  etc/picongpu/karolina-it4i/gpu_a100_picongpu.profile.example
  etc/picongpu/karolina-it4i/spack/compilers.yaml
  etc/picongpu/karolina-it4i/spack/packages.yaml
  etc/picongpu/karolina-it4i/spack/spack.yaml
Labels: machine/system, CI:no-compile

#4741 improve arctan -> arctan2
  docs/source/usage/plugins/radiation.rst
Labels: component: plugin, documentation, warning, CI:no-compile

#4742 update radiation output documentation
  docs/TBG_macros.cfg
  docs/source/usage/plugins/radiation.rst
Labels: component: plugin, documentation, CI:no-compile

#4731 Get supercell index relative to user defined origin
  include/pmacc/mappings/kernel/AreaMapping.hpp
  include/pmacc/mappings/kernel/AreaMappingMethods.hpp
  include/pmacc/mappings/kernel/BorderMapping.hpp
  include/pmacc/mappings/kernel/ExchangeMapping.hpp
  include/pmacc/mappings/kernel/StrideMapping.hpp
Labels: component: PMacc, refactoring

#4750 Topic remove preprocessor struct generator
  docs/source/dev/pmacc.rst
  include/picongpu/param/density.param
  include/picongpu/param/particle.param
  include/picongpu/particles/densityProfiles/GaussianCloudImpl.hpp
  include/picongpu/particles/manipulators/unary/Drift.def
  include/picongpu/particles/manipulators/unary/Drift.hpp
  include/pmacc/dimensions/DataSpace.hpp
  include/pmacc/math/ConstVector.hpp
  include/pmacc/math/vector/Vector.hpp
  include/pmacc/math/vector/navigator/IdentityNavigator.hpp
  include/pmacc/math/vector/navigator/PermutedNavigator.hpp
  include/pmacc/math/vector/navigator/StackedNavigator.hpp
  include/pmacc/preprocessor/struct.hpp
  share/picongpu/benchmarks/TWEAC-FOM/include/picongpu/param/density.param
  share/picongpu/benchmarks/TWEAC-FOM/include/picongpu/param/particle.param
  share/picongpu/examples/Bunch/include/picongpu/param/density.param
  share/picongpu/examples/Bunch/include/picongpu/param/particle.param
  share/picongpu/examples/FoilLCT/include/picongpu/param/density.param
  share/picongpu/examples/KelvinHelmholtz/include/picongpu/param/particle.param
  share/picongpu/examples/LaserWakefield/include/picongpu/param/density.param
  share/picongpu/examples/SingleParticleTest/include/picongpu/param/density.param
  share/picongpu/examples/SingleParticleTest/include/picongpu/param/particle.param
  share/picongpu/examples/TransitionRadiation/include/picongpu/param/density.param
  share/picongpu/examples/TransitionRadiation/include/picongpu/param/particle.param
  share/picongpu/examples/WeibelTransverse/include/picongpu/param/particle.param
  share/picongpu/examples/atomicPhysics/include/picongpu/param/density.param
  share/picongpu/examples/atomicPhysics/include/picongpu/param/particle.param
  share/picongpu/pypicongpu/template/include/picongpu/param/density.param.mustache
  share/picongpu/pypicongpu/template/include/picongpu/param/particle.param.mustache
  share/picongpu/tests/CollisionsBeamRelaxation/include/picongpu/param/density.param
  share/picongpu/tests/CollisionsBeamRelaxation/include/picongpu/param/particle.param
  share/picongpu/tests/CollisionsThermalisation/include/picongpu/param/density.param
  share/picongpu/tests/CollisionsThermalisation/include/picongpu/param/particle.param
  share/picongpu/tests/KHI_growthRate/include/picongpu/param/particle.param
  share/picongpu/tests/compileCurrentSolver/include/picongpu/param/particle.param
  share/picongpu/tests/compileIterationStart/include/picongpu/param/particle.param
  share/picongpu/tests/compileParticlePusher/include/picongpu/param/particle.param
Labels: component: core, component: PMacc, refactoring, component: user input, changelog
