Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2024-01, with the labels that each got.

#4778 convert 5min intro on hemera from k80 to v100
  docs/source/tutorials/hemeraIn5min.rst
Labels: documentation, machine/system, CI:no-compile

#4775 add 2D MPI gather for PMacc buffers
  include/picongpu/plugins/output/GatherSlice.hpp
  include/picongpu/plugins/output/images/PngCreator.hpp
  include/picongpu/plugins/output/images/PngCreator.tpp
  include/picongpu/plugins/output/images/Visualisation.hpp
  include/pmacc/mpi/GatherSlice.hpp
  share/pmacc/examples/gameOfLife2D/include/GatherSlice.hpp
  share/pmacc/examples/gameOfLife2D/include/Simulation.hpp
  share/pmacc/examples/heatEquation2D/include/PngCreator.hpp
  share/pmacc/examples/heatEquation2D/main.cpp
Labels: component: core, component: PMacc, refactoring, component: examples

#4774 add Snakemake workflow example
  share/picongpu/examples/LaserWakefield/README.rst
  share/picongpu/examples/LaserWakefield/lib/python/snakemake/README.md
  share/picongpu/examples/LaserWakefield/lib/python/snakemake/Snakefile
  share/picongpu/examples/LaserWakefield/lib/python/snakemake/dag.pdf
  share/picongpu/examples/LaserWakefield/lib/python/snakemake/dag.png
  share/picongpu/examples/LaserWakefield/lib/python/snakemake/params.tsv
  share/picongpu/examples/LaserWakefield/lib/python/snakemake/requirements.txt
Labels: component: tools, component: examples, CI:no-compile

#4780 Correct spack options for boost
  INSTALL.rst
Labels: bug, documentation, affects latest release, changelog

#4786 Typos in docs [closes #4713]
  docs/source/dev/clangtools.rst
  docs/source/dev/doxygen.rst
  docs/source/dev/repostructure.rst
  docs/source/models/AOFDTD.rst
  docs/source/usage/param.rst
  docs/source/usage/reference.rst
Labels: bug, documentation

#4776 clean MessageHeader implementation
  include/picongpu/plugins/output/header/ColorHeader.hpp
  include/picongpu/plugins/output/header/DataHeader.hpp
  include/picongpu/plugins/output/header/MessageHeader.hpp
  include/picongpu/plugins/output/header/NodeHeader.hpp
  include/picongpu/plugins/output/header/SimHeader.hpp
  include/picongpu/plugins/output/images/Visualisation.hpp
Labels: component: plugin, refactoring

#4790 Optimizations for Frontier Streaming template and for KelvinHelmholtz Streaming configs
  etc/picongpu/frontier-ornl/batch_pipe.tpl
  share/picongpu/examples/KelvinHelmholtz/etc/picongpu/4_pipe.cfg
  share/picongpu/examples/KelvinHelmholtz/etc/picongpu/6_pipe.cfg
  share/picongpu/examples/KelvinHelmholtz/etc/picongpu/8_pipe.cfg
Labels: component: tools, machine/system

#4783 Add unit test for `moveParticle`
  share/picongpu/unit/CMakeLists.txt
  share/picongpu/unit/MoveParticle.cpp
  share/picongpu/unit/include/picongpu/param/dimension.param
Labels: component: core, component: tests

#4781 Typos in comments
  include/picongpu/initialization/InitialiserController.hpp
  include/picongpu/particles/MoveParticle.hpp
  share/picongpu/unit/shape.cpp
Labels: documentation

#4791 linearize specialization for 1-dimension vector
  include/pmacc/math/vector/Vector.hpp
Labels: bug, component: PMacc

#4794 Update fwkt_v100_picongpu.profile.example to new modules (CUDA 12.1)
  etc/picongpu/hemera-hzdr/fwkt_v100_picongpu.profile.example
Labels: machine/system, CI:no-compile

#4789 avoid using uninitialized `pmacc::memory::Array`
  include/pmacc/kernel/atomic.hpp
Labels: bug, component: PMacc, affects latest release, changelog

#4796 Fix includes, inlining, and the example in the binning plugin
  include/picongpu/param/binningSetup.param
  include/picongpu/plugins/binning/Axis.hpp
  include/picongpu/plugins/binning/Binner.hpp
  include/picongpu/plugins/binning/BinningDispatcher.hpp
  include/picongpu/plugins/binning/BinningFunctors.hpp
  include/picongpu/plugins/binning/DomainInfo.hpp
  include/picongpu/plugins/binning/FunctorDescription.hpp
  include/picongpu/plugins/binning/UnitConversion.hpp
  include/picongpu/plugins/binning/utility.hpp
Labels: bug, component: plugin

#4782 Bump openPMD-api to minimal version 0.15
  INSTALL.rst
  docs/source/usage/plugins/openPMD.rst
  include/picongpu/CMakeLists.txt
  include/picongpu/plugins/binning/Binner.hpp
  include/picongpu/plugins/binning/WriteHist.hpp
  include/picongpu/plugins/common/openPMDDefaultExtension.hpp
  include/picongpu/plugins/common/openPMDDefinitions.def
  include/picongpu/plugins/common/openPMDVersion.def
  include/picongpu/plugins/openPMD/Json.cpp
  include/picongpu/plugins/openPMD/NDScalars.hpp
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/writer/ParticleAttribute.hpp
  include/picongpu/plugins/radiation/Radiation.hpp
  share/ci/bash.profile
  share/ci/compiler_clang.yml
  share/ci/compiler_clang_cuda.yml
  share/ci/compiler_gcc.yml
  share/ci/compiler_hipcc.yml
  share/ci/compiler_nvcc_cuda.yml
  share/ci/install/openPMD.sh
  share/ci/pypicongpu.yml
Labels: component: plugin, refactoring, install
