Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2024-08, with the labels that each got.

#5011 tbg: fix support for escaped strings
  bin/tbg
Labels: bug, CI:no-compile

#5016 fix missing error message
  include/pmacc/alpakaHelper/ValidateCall.hpp
Labels: bug, component: PMacc

#5015 fix C++20 compiler
  include/picongpu/particles/startPosition/generic/Free.hpp
  include/picongpu/particles/startPosition/generic/FreeRng.hpp
  include/pmacc/functor/Interface.hpp
Labels: bug, component: core, component: PMacc

#5017 fix wrong conversion factor
  share/picongpu/examples/IncidentField/include/picongpu/param/incidentField.param
Labels: bug, affects latest release

#5019 update mallocMC to latest dev
  thirdParty/mallocMC/README.md
  thirdParty/mallocMC/src/include/mallocMC/creationPolicies/Scatter.hpp
  thirdParty/mallocMC/src/include/mallocMC/mallocMC_utils.hpp
Labels: component: third party, install

#5021 fix missing include and rename type in filename
  include/picongpu/particles/particleToGrid/combinedAttributes/CombinedAttributes.def
  include/picongpu/particles/particleToGrid/combinedAttributes/RelativisticDensity.hpp
  include/picongpu/particles/particleToGrid/combinedAttributes/ScreeningInvSquared.def
  include/picongpu/particles/particleToGrid/combinedAttributes/ScreeningInvSquared.hpp
Labels: bug, component: core

#5025 change PIC_SRC to PICSRC and fix path
  docs/source/usage/picmi/intro.rst
Labels: documentation, CI:no-compile, PICMI

#5027 Fix broken TPLs - TBG_gpusPerNode
  etc/picongpu/aris-grnet/gpu.tpl
  etc/picongpu/ascent-ornl/gpu_batch.tpl
  etc/picongpu/cori-nersc/a100.tpl
  etc/picongpu/davide-cineca/gpu.tpl
  etc/picongpu/eli-np/gpu_v100.tpl
  etc/picongpu/hemera-hzdr/fwkt_v100.tpl
  etc/picongpu/hemera-hzdr/gpu.tpl
  etc/picongpu/karolina-it4i/gpu_a100.tpl
  etc/picongpu/summit-ornl/gpu_batch.tpl
  etc/picongpu/summit-ornl/gpu_batch_pipe.tpl
Labels: bug, component: tools, CI:no-compile

#5031 DataSpace and Vector constexpr
  include/pmacc/dimensions/DataSpace.hpp
  include/pmacc/math/vector/Vector.hpp
Labels: component: PMacc

#5033 refactor functor/filter interfaces
  include/picongpu/particles/manipulators/binary/Assign.def
  include/picongpu/particles/manipulators/binary/DensityWeighting.def
  include/picongpu/particles/manipulators/binary/ProtonTimesWeighting.def
  include/picongpu/particles/manipulators/binary/UnboundElectronsTimesWeighting.def
  include/picongpu/particles/manipulators/generic/Free.hpp
  include/picongpu/particles/manipulators/generic/FreeRng.hpp
  include/picongpu/particles/manipulators/manipulators.def
  include/picongpu/particles/manipulators/unary/CopyAttribute.def
  include/picongpu/particles/manipulators/unary/Drift.hpp
  include/picongpu/particles/manipulators/unary/None.def
  include/picongpu/particles/manipulators/unary/RandomPosition.def
  include/picongpu/particles/manipulators/unary/Temperature.hpp
  include/picongpu/particles/startPosition/OnePositionImpl.hpp
  include/picongpu/particles/startPosition/QuietImpl.hpp
  include/picongpu/particles/startPosition/RandomBinomialImpl.hpp
  include/picongpu/particles/startPosition/RandomImpl.hpp
  include/picongpu/particles/startPosition/RandomPositionAndWeightingImpl.hpp
  include/picongpu/particles/startPosition/generic/Free.hpp
  include/picongpu/particles/startPosition/generic/FreeRng.hpp
  include/pmacc/functor/Filtered.hpp
  include/pmacc/functor/Interface.hpp
Labels: component: core, component: PMacc, refactoring

#5028 Topic add FLYonPIC overview picture source files
  docs/source/dev/PlantUML.rst
  docs/source/models/atomic_physics.rst
  docs/source/models/media/AtomicPhyiscsStep_v3_1.png
  docs/source/models/media/AtomicPhyiscsStep_v3_1.svg
  docs/source/models/media/AtomicPhysics_UMLBuildingBlocks/AtomicDB.txt
  docs/source/models/media/AtomicPhysics_UMLBuildingBlocks/AtomicPhysicsStep.txt
  docs/source/models/media/AtomicPhysics_UMLBuildingBlocks/ElectronHistogram.txt
  docs/source/models/media/AtomicPhysics_UMLBuildingBlocks/IPDInputFields.txt
  docs/source/models/media/AtomicPhysics_UMLBuildingBlocks/allIonsAccepted.txt
  docs/source/models/media/AtomicPhysics_UMLBuildingBlocks/localElectronHistogramOverSubscribed.txt
  docs/source/models/media/AtomicPhysics_UMLBuildingBlocks/localRateCache.txt
  docs/source/models/media/AtomicPhysics_UMLBuildingBlocks/localRejectionProbabilityCache.txt
  docs/source/models/media/AtomicPhysics_UMLBuildingBlocks/localTimeRemaining.txt
  docs/source/models/media/AtomicPhysics_UMLBuildingBlocks/localTimeStep.txt
  docs/source/models/media/AtomicPhysics_UMLBuildingBlocks/macroIon.txt
  docs/source/models/media/AtomicPhysics_UMLBuildingBlocks/processClass.txt
Labels: component: core, documentation

#5042 CI: reduce runtime by disabling some example combinations
  share/picongpu/benchmarks/Thermal/cmakeFlags
  share/picongpu/examples/Bunch/cmakeFlags
  share/picongpu/examples/SingleParticleTest/cmakeFlags
  share/picongpu/tests/CollisionsBeamRelaxation/cmakeFlags
  share/picongpu/tests/CollisionsThermalisation/cmakeFlags
  share/picongpu/tests/CurrentDeposition/cmakeFlags
  share/picongpu/tests/FieldAbsorber/cmakeFlags
  share/picongpu/tests/KHI_growthRate/cmakeFlags
  share/picongpu/tests/PusherScaling/cmakeFlags
  share/picongpu/tests/compileCurrentSolver/cmakeFlags
Labels: refactoring, component: tests

#5035 simplify device compiler `cpp` file selection
  include/picongpu/CMakeLists.txt
  include/picongpu/main.x.cpp
  include/picongpu/versionFormat.x.cpp
  share/picongpu/unit/CMakeLists.txt
Labels: component: tools

#5044 Remove anaconda from CI
  share/ci/install/pypicongpu.sh
Labels: component: tools, CI:no-compile, PICMI

#5037 add PluginRegistry
  include/picongpu/plugins/BinEnergyParticles.hpp
  include/picongpu/plugins/ChargeConservation.hpp
  include/picongpu/plugins/Checkpoint.hpp
  include/picongpu/plugins/CountParticles.hpp
  include/picongpu/plugins/Emittance.hpp
  include/picongpu/plugins/EnergyFields.hpp
  include/picongpu/plugins/EnergyParticles.hpp
  include/picongpu/plugins/IsaacPlugin.hpp
  include/picongpu/plugins/PhaseSpace/PhaseSpace.hpp
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/PluginRegistry.hpp
  include/picongpu/plugins/PngPlugin.hpp
  include/picongpu/plugins/SumCurrents.hpp
  include/picongpu/plugins/binning/BinningDispatcher.hpp
  include/picongpu/plugins/makroParticleCounter/PerSuperCell.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/particleCalorimeter/ParticleCalorimeter.hpp
  include/picongpu/plugins/radiation/Radiation.hpp
  include/picongpu/plugins/shadowgraphy/Shadowgraphy.hpp
  include/picongpu/plugins/transitionRadiation/TransitionRadiation.hpp
Labels: component: plugin, refactoring

#5041 remove conda from our documentation and scripts
  docs/picongpu-docs-env.yml
  docs/source/dev/sphinx.rst
  docs/source/postprocessing/python.rst
Labels: documentation, component: tools, CI:no-compile

#5034 fix wrongly used `HDINLINE` and missing inline
  include/picongpu/fields/absorber/pml/Field.hpp
  include/picongpu/fields/absorber/pml/Field.tpp
  include/picongpu/particles/boundary/Thermal.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
Labels: bug, component: core, component: plugin

#5038 remove `components.param` and `starter.param`
  docs/source/usage/param/core.rst
  docs/source/usage/param/misc.rst
  include/picongpu/CMakeLists.txt
  include/picongpu/main.x.cpp
  include/picongpu/param/components.param
  include/picongpu/param/starter.param
  include/picongpu/simulation_defines.hpp
  include/picongpu/unitless/starter.unitless
  share/picongpu/examples/LaserWakefield/include/picongpu/param/starter.param
  share/picongpu/unit/MoveParticle.cpp
Labels: component: core, refactoring

#5039 Add ability to bin particles leaving the simulation
  docs/source/usage/plugins/binningPlugin.rst
  include/picongpu/plugins/binning/Binner.hpp
  include/picongpu/plugins/binning/BinningData.hpp
  include/picongpu/plugins/binning/BinningFunctors.hpp
  include/picongpu/plugins/binning/binnerPlugin.hpp
  include/picongpu/plugins/misc/ExecuteIf.hpp
Labels: component: plugin

#5029 Improve FLYonPIC documentation
  docs/source/models/atomic_physics.rst
  share/picongpu/tests/compileSparser/include/picongpu/param/atomicPhysics_Debug.param
Labels: component: core, documentation

#5048 Add profiles for JEDI@JSC
  etc/picongpu/jedi-jsc/gh200.tpl
  etc/picongpu/jedi-jsc/gh200_picongpu.profile.example
Labels: CI:no-compile

#5054 CI: reduce number of pusher test combindations
  share/picongpu/tests/Pusher/cmakeFlags
Labels: refactoring, component: tests

#5050 add missing space to PlantUMl documentation
  docs/source/dev/PlantUML.rst
Labels: documentation, CI:no-compile

#5058 remove old comment
  include/picongpu/param/speciesAttributes.param
Labels: documentation

#5055 Fix polarization component in shadowgraphy plugin
  include/picongpu/plugins/shadowgraphy/ShadowgraphyHelper.hpp
Labels: bug, component: plugin

#5046 update JURECA profile and tpl
  etc/picongpu/jureca-jsc/gpus.tpl
  etc/picongpu/jureca-jsc/gpus_picongpu.profile.example
Labels: CI:no-compile
