Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2024-04, with the labels that each got.

#4859 README for dev server install scripts
  etc/picongpu/bash-devServer-hzdr/README.md
Labels: documentation

#4867 fix openPMD restart
  include/picongpu/plugins/openPMD/restart/LoadSpecies.hpp
Labels: bug, component: core

#4868 Add shadowgraphy plugin
  INSTALL.rst
  docs/source/usage/plugins.rst
  docs/source/usage/plugins/shadowgraphy.rst
  etc/picongpu/hemera-hzdr/fwkt_v100_picongpu.profile.example
  etc/picongpu/hemera-hzdr/gpu_picongpu.profile.example
  include/picongpu/CMakeLists.txt
  include/picongpu/_defaultParam.loader
  include/picongpu/param/shadowgraphy.param
  include/picongpu/plugins/PluginController.hpp
  include/picongpu/plugins/shadowgraphy/Shadowgraphy.hpp
  include/picongpu/plugins/shadowgraphy/ShadowgraphyHelper.hpp
  share/picongpu/tests/Shadowgraphy/README.md
  share/picongpu/tests/Shadowgraphy/bin/ci.sh
  share/picongpu/tests/Shadowgraphy/bin/validate.sh
  share/picongpu/tests/Shadowgraphy/include/picongpu/param/density.param
  share/picongpu/tests/Shadowgraphy/include/picongpu/param/grid.param
  share/picongpu/tests/Shadowgraphy/include/picongpu/param/incidentField.param
  share/picongpu/tests/Shadowgraphy/include/picongpu/param/particle.param
  share/picongpu/tests/Shadowgraphy/include/picongpu/param/shadowgraphy.param
  share/picongpu/tests/Shadowgraphy/include/picongpu/param/speciesDefinition.param
  share/picongpu/tests/Shadowgraphy/lib/python/test/Shadowgraphy/requirements.txt
  share/picongpu/tests/Shadowgraphy/lib/python/test/Shadowgraphy/validate.py
Labels: component: plugin, documentation, component: tests

#4873 update deprecated naming from old CUDA times
  CHANGELOG.md
  include/picongpu/particles/ParticlesFunctors.hpp
  include/picongpu/plugins/IsaacPlugin.hpp
  include/picongpu/simulation/control/Simulation.hpp
  include/pmacc/Environment.hpp
  include/pmacc/Environment.tpp
  include/pmacc/alpakaHelper/acc.hpp
  include/pmacc/eventSystem/Manager.cpp
  include/pmacc/eventSystem/eventSystem.cpp
  include/pmacc/eventSystem/eventSystem.hpp
  include/pmacc/eventSystem/events/ComputeEvent.cpp
  include/pmacc/eventSystem/events/ComputeEvent.hpp
  include/pmacc/eventSystem/events/ComputeEventHandle.cpp
  include/pmacc/eventSystem/events/ComputeEventHandle.hpp
  include/pmacc/eventSystem/events/EventPool.hpp
  include/pmacc/eventSystem/queues/Queue.cpp
  include/pmacc/eventSystem/queues/Queue.hpp
  include/pmacc/eventSystem/queues/QueueController.hpp
  include/pmacc/eventSystem/tasks/Factory.tpp
  include/pmacc/eventSystem/tasks/StreamTask.cpp
  include/pmacc/eventSystem/tasks/StreamTask.hpp
  include/pmacc/eventSystem/tasks/TaskCopy.hpp
  include/pmacc/eventSystem/tasks/TaskGetCurrentSizeFromDevice.hpp
  include/pmacc/eventSystem/tasks/TaskLogicalAnd.hpp
  include/pmacc/eventSystem/tasks/TaskSetCurrentSizeOnDevice.hpp
  include/pmacc/eventSystem/tasks/TaskSetValue.hpp
  include/pmacc/eventSystem/transactions/Transaction.cpp
  include/pmacc/eventSystem/transactions/Transaction.hpp
  include/pmacc/eventSystem/transactions/TransactionManager.cpp
  include/pmacc/eventSystem/transactions/TransactionManager.hpp
  include/pmacc/exec/KernelLauncher.tpp
  include/pmacc/particles/memory/buffers/MallocMCBuffer.tpp
Labels: component: PMacc, refactoring

#4875 remove CONST_VECTOR from OnePositionParameter
  docs/source/usage/workflows/probeParticles.rst
  include/picongpu/param/particle.param
  include/picongpu/particles/startPosition/OnePositionImpl.def
  include/picongpu/particles/startPosition/OnePositionImpl.hpp
  share/picongpu/examples/Bunch/include/picongpu/param/particle.param
  share/picongpu/examples/FoilLCT/include/picongpu/param/particle.param
  share/picongpu/examples/SingleParticleTest/include/picongpu/param/particle.param
  share/picongpu/examples/atomicPhysics/include/picongpu/param/particle.param
  share/picongpu/tests/CollisionsBeamRelaxation/include/picongpu/param/particle.param
  share/picongpu/tests/CollisionsThermalisation/include/picongpu/param/particle.param
Labels: refactoring, component: user input

#4874 openPMD: add parameter `particleIOChunkSize`
  docs/TBG_macros.cfg
  docs/source/usage/plugins/openPMD.rst
  include/picongpu/plugins/openPMD/Parameters.hpp
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.def
  include/picongpu/plugins/openPMD/openPMDWriter.hpp
  include/picongpu/plugins/openPMD/writer/misc.hpp
  include/pmacc/mappings/kernel/RangeMapping.hpp
  include/pmacc/particles/memory/dataTypes/Particle.hpp
  include/pmacc/particles/operations/ConcatListOfFrames.hpp
Labels: component: plugin, refactoring

#4877 fix dead link in INSTALL.rst
  INSTALL.rst
Labels: bug, documentation, CI:no-compile

#4879 add ROCm basic install information
  INSTALL.rst
Labels: documentation, CI:no-compile

#4881 fix typo's and small particle IO interface refactoring
  docs/source/usage/plugins/openPMD.rst
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
Labels: component: plugin, documentation, refactoring

#4886 fix CI
  .gitlab-ci.yml
Labels: bug, component: tests

#4876 rename: `StreamTask` to `DeviceTask`
  include/pmacc/eventSystem/eventSystem.hpp
  include/pmacc/eventSystem/tasks/DeviceTask.cpp
  include/pmacc/eventSystem/tasks/DeviceTask.hpp
  include/pmacc/eventSystem/tasks/TaskCopy.hpp
  include/pmacc/eventSystem/tasks/TaskGetCurrentSizeFromDevice.hpp
  include/pmacc/eventSystem/tasks/TaskKernel.hpp
  include/pmacc/eventSystem/tasks/TaskLogicalAnd.hpp
  include/pmacc/eventSystem/tasks/TaskSetCurrentSizeOnDevice.hpp
  include/pmacc/eventSystem/tasks/TaskSetValue.hpp
  include/pmacc/eventSystem/transactions/Transaction.cpp
Labels: component: PMacc, refactoring

#4880 fix lumi profile
  etc/picongpu/lumi-eurohpc/lumi-G_hipcc_picongpu.profile.example
Labels: machine/system

#4885 optimize particle restart
  include/picongpu/plugins/openPMD/restart/LoadSpecies.hpp
  include/pmacc/particles/operations/splitIntoListOfFrames.kernel
Labels: component: plugin, refactoring

#4882 optimize OpenPMD IO
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/writer/ParticleAttribute.hpp
Labels: component: plugin, refactoring

#4883 ADIOS2 v2.10: BP5 is there, but the macro is missing
  include/picongpu/plugins/common/openPMDDefaultExtension.hpp
Labels: bug, component: plugin

#4888 update cuda_memtest subtree
  INSTALL.rst
  share/ci/n_wise_generator.py
  thirdParty/cuda_memtest/.github/workflows/dependencies/nvcc11.sh
  thirdParty/cuda_memtest/.github/workflows/ubuntu.yml
  thirdParty/cuda_memtest/CMakeLists.txt
Labels: documentation, component: third party, component: tests

#4887 Sliced writing fixes
  include/picongpu/plugins/openPMD/WriteSpecies.hpp
  include/picongpu/plugins/openPMD/writer/ParticleAttribute.hpp
Labels: bug, component: plugin

#4892 openPMD extension: fix broken C++ syntax
  include/picongpu/plugins/common/openPMDDefaultExtension.hpp
Labels: bug, component: plugin
