Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2024-07, with the labels that each got.

#4959 update picmi user documentation
  .gitlab-ci.yml
  docs/source/usage/picmi/intro.rst
  lib/python/picongpu/picmi/requirements.txt
  lib/python/picongpu/requirements.txt
  share/ci/install/pypicongpu.sh
Labels: documentation, CI:no-compile, PICMI

#4977 CI: remove CUDA 11.1
  INSTALL.rst
  share/ci/n_wise_generator.py
Labels: documentation, component: tests, install

#4971 update CI container to version 3.2
  .gitlab-ci.yml
  share/ci/n_wise_generator.py
Labels: component: tests

#4976 fix wrong unit in PICMI schemas
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/foil.Foil.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/uniform.Uniform.json
Labels: bug, PICMI

#4978 PICMI: fix schema of plasma ramp schema
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/plasmaramp/none.None_.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/plasmaramp/plasmaramp.PlasmaRamp.json
Labels: bug, PICMI, changelog

#4981 allow multiple gaussian density profiles with differing density
  include/picongpu/param/density.param
  include/picongpu/particles/densityProfiles/GaussianImpl.hpp
  share/picongpu/examples/LaserWakefield/include/picongpu/param/density.param
Labels: documentation, component: examples, component: user input, changelog

#4975 add missing copyright notice to pypicongpu templates
  share/picongpu/pypicongpu/template/include/picongpu/param/density.param.mustache
  share/picongpu/pypicongpu/template/include/picongpu/param/fieldSolver.param.mustache
  share/picongpu/pypicongpu/template/include/picongpu/param/grid.param.mustache
  share/picongpu/pypicongpu/template/include/picongpu/param/particle.param.mustache
  share/picongpu/pypicongpu/template/include/picongpu/param/png.param.mustache
  share/picongpu/pypicongpu/template/include/picongpu/param/speciesDefinition.param.mustache
  share/picongpu/pypicongpu/template/include/picongpu/param/speciesInitialization.param.mustache
Labels: PICMI

#4970 add missing get_timestep method to radiation plugin python module
  lib/python/picongpu/extra/plugins/data/radiation.py
Labels: component: plugin, component: tools, CI:no-compile

#4801 add Pusher Test
  share/picongpu/tests/Pusher/README.rst
  share/picongpu/tests/Pusher/bin/ci.sh
  share/picongpu/tests/Pusher/bin/validate.sh
  share/picongpu/tests/Pusher/cmakeFlags
  share/picongpu/tests/Pusher/etc/picongpu/1.cfg
  share/picongpu/tests/Pusher/include/picongpu/param/density.param
  share/picongpu/tests/Pusher/include/picongpu/param/dimension.param
  share/picongpu/tests/Pusher/include/picongpu/param/fieldBackground.param
  share/picongpu/tests/Pusher/include/picongpu/param/fileOutput.param
  share/picongpu/tests/Pusher/include/picongpu/param/grid.param
  share/picongpu/tests/Pusher/include/picongpu/param/particle.param
  share/picongpu/tests/Pusher/include/picongpu/param/species.param
  share/picongpu/tests/Pusher/include/picongpu/param/speciesDefinition.param
  share/picongpu/tests/Pusher/include/picongpu/param/speciesInitialization.param
  share/picongpu/tests/Pusher/lib/python/test/Pusher/MainTest.py
  share/picongpu/tests/Pusher/lib/python/test/Pusher/requirements.txt
  share/picongpu/tests/PusherScaling/README.rst
  share/picongpu/tests/PusherScaling/bin/ci.sh
  share/picongpu/tests/PusherScaling/bin/validate.sh
  share/picongpu/tests/PusherScaling/cmakeFlags
  share/picongpu/tests/PusherScaling/etc/picongpu/1.cfg
  share/picongpu/tests/PusherScaling/include/picongpu/param/density.param
  share/picongpu/tests/PusherScaling/include/picongpu/param/dimension.param
  share/picongpu/tests/PusherScaling/include/picongpu/param/fieldBackground.param
  share/picongpu/tests/PusherScaling/include/picongpu/param/fileOutput.param
  share/picongpu/tests/PusherScaling/include/picongpu/param/grid.param
  share/picongpu/tests/PusherScaling/include/picongpu/param/particle.param
  share/picongpu/tests/PusherScaling/include/picongpu/param/species.param
  share/picongpu/tests/PusherScaling/include/picongpu/param/speciesDefinition.param
  share/picongpu/tests/PusherScaling/include/picongpu/param/speciesInitialization.param
  share/picongpu/tests/PusherScaling/lib/python/test/Pusher/MainTest.py
  share/picongpu/tests/PusherScaling/lib/python/test/Pusher/requirements.txt
Labels: component: core, component: tests

#4986 improve moving window documentation
  docs/TBG_macros.cfg
Labels: documentation, CI:no-compile

#4988 Support for toml11 library version 4.0 (adapt to breaking changes)
  include/picongpu/CMakeLists.txt
  include/picongpu/plugins/openPMD/toml.cpp
Labels: component: plugin

#4992 Fix incorrect data type
  include/picongpu/plugins/binning/Binner.hpp
Labels: bug, component: plugin

#4990 refactor requirements.txt of PICMI and PyPIConGPU
  .gitlab-ci.yml
  lib/python/picongpu/picmi/requirements.txt
  lib/python/picongpu/pypicongpu/requirements.txt
  lib/python/picongpu/requirements.txt
  share/ci/install/pypicongpu.sh
  share/ci/pypicongpu_generator.py
Labels: PICMI

#4991 refactor schema resolver
  lib/python/picongpu/pypicongpu/rendering/renderedobject.py
  lib/python/picongpu/pypicongpu/requirements.txt
  share/ci/pypicongpu_generator.py
  test/python/picongpu/quick/pypicongpu/rendering/renderedobject.py
  test/python/picongpu/quick/pypicongpu/runner.py
  test/python/picongpu/quick/pypicongpu/species/operation/densityprofile/densityprofile.py
Labels: PICMI

#4987 add moving window configuration to the interface PICMI
  lib/python/picongpu/picmi/requirements.txt
  lib/python/picongpu/picmi/simulation.py
  lib/python/picongpu/pypicongpu/movingwindow.py
  lib/python/picongpu/pypicongpu/simulation.py
  share/picongpu/pypicongpu/schema/movingwindow.MovingWindow.json
  share/picongpu/pypicongpu/schema/simulation.Simulation.json
  share/picongpu/pypicongpu/template/etc/picongpu/N.cfg.mustache
  test/python/picongpu/compiling/simulation.py
  test/python/picongpu/quick/picmi/simulation.py
  test/python/picongpu/quick/pypicongpu/simulation.py
Labels: PICMI

#4998 Fix filtering for plugins
  docs/source/usage/workflows/particleFilters.rst
  include/picongpu/plugins/misc/ExecuteIfNameIsEqual.hpp
Labels: bug, component: plugin

#4996 Refactor PICMI custom user input
  docs/source/dev/PlantUML.rst
  docs/source/index.rst
  docs/source/usage/media/PICMI_structure_DetailMiddle.png
  docs/source/usage/media/PICMI_structure_DetailMiddle.txt
  docs/source/usage/picmi/custom_template.rst
  docs/source/usage/picmi/intro.rst
  lib/python/picongpu/picmi/simulation.py
  lib/python/picongpu/pypicongpu/customuserinput.py
  lib/python/picongpu/pypicongpu/simulation.py
  test/python/picongpu/quick/picmi/simulation.py
  test/python/picongpu/quick/pypicongpu/simulation.py
Labels: PICMI

#4999 Fix bunch initialization script
  lib/python/picongpu/extra/input/bunchInit_openPMD_bp.py
Labels: bug, component: tools

#5002 pypicongpu: reduce compile paralism
  lib/python/picongpu/pypicongpu/runner.py
Labels: component: tests, PICMI

#5005 fix CMake compute/cpu architecture selection
  bin/pic-configure
  share/ci/backendFlags.sh
Labels: bug, install

#5006 unit test fix missing qualifier
  share/picongpu/unit/MoveParticle.cpp
Labels: bug, component: tests

#5004 set required CMake to 3.25.0
  .gitlab-ci.yml
  INSTALL.rst
  include/picongpu/CMakeLists.txt
  include/pmacc/CMakeLists.txt
  include/pmacc/PMaccConfig.cmake
  include/pmacc/test/random/CMakeLists.txt
  share/ci/install/cmake.sh
  share/picongpu/unit/CMakeLists.txt
Labels: refactoring, install

#5009 fix tbg: resolving variables
  bin/tbg
Labels: bug, component: tools, CI:no-compile
