Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2025-04, with the labels that each got.

#5339 Split unit tests into those depending on simDim and those that dont
  share/picongpu/unit/CMakeLists.txt
  share/picongpu/unit/dimensional_tests/CMakeLists.txt
  share/picongpu/unit/dimensional_tests/MoveParticle.cpp
  share/picongpu/unit/dimensional_tests/TWTSTight.cpp
  share/picongpu/unit/dimensional_tests/include/picongpu/param/dimension.param
  share/picongpu/unit/dimensional_tests/radiationFormFactor.cpp
  share/picongpu/unit/dimensional_tests/radiationWindowFunction.cpp
  share/picongpu/unit/dimensional_tests/shape.cpp
  share/picongpu/unit/non_dimensional_tests/CMakeLists.txt
  share/picongpu/unit/non_dimensional_tests/atomicPhysics/TestAtomicConfigNumber.cpp
  share/picongpu/unit/non_dimensional_tests/metadata/metadataCLI.cpp
  share/picongpu/unit/non_dimensional_tests/metadata/metadataDescription.cpp
  share/picongpu/unit/non_dimensional_tests/metadata/metadataPolicies.cpp
  share/picongpu/unit/non_dimensional_tests/toSlice.cpp
Labels: refactoring, component: tests

#5344 fix IPD accounting in delta energy calculatíon
  include/picongpu/particles/atomicPhysics/DeltaEnergyTransition.hpp
Labels: bug, component: core

#5345 guard against bound-free transitions with a negative or zero energy difference
  include/picongpu/particles/atomicPhysics/debug/TestRateCalculation.hpp
  include/picongpu/particles/atomicPhysics/rateCalculation/AutonomousTransitionRates.hpp
  include/picongpu/particles/atomicPhysics/rateCalculation/BoundBoundTransitionRates.hpp
  include/picongpu/particles/atomicPhysics/rateCalculation/BoundFreeCollisionalTransitionRates.hpp
  include/picongpu/particles/atomicPhysics/rateCalculation/BoundFreeFieldTransitionRates.hpp
  lib/python/picongpu/extra/utils/FLYonPICRateCalculationReference/BoundFreeCollisionalTransitions.py
  lib/python/picongpu/extra/utils/FLYonPICRateCalculationReference/BoundFreeFieldTransitions.py
  lib/python/picongpu/extra/utils/FLYonPICRateCalculationReference/calculatorMain.py
Labels: component: core

#5342 Remove normalization from the Binning plugin
  docs/source/usage/plugins/binningPlugin.rst
  include/picongpu/plugins/binning/BinningData.hpp
  include/picongpu/plugins/binning/WriteHist.hpp
  include/picongpu/plugins/binning/axis/LinearAxis.hpp
  include/picongpu/plugins/binning/axis/LogAxis.hpp
  include/picongpu/plugins/binning/binners/Binner.hpp
  include/picongpu/plugins/binning/functors/helpers.hpp
  share/picongpu/examples/AtomicPhysics/include/picongpu/param/binningSetup.param
  share/picongpu/examples/LaserWakefield/include/picongpu/param/binningSetup.param
  share/picongpu/tests/compile2/include/picongpu/param/binningSetup.param
Labels: bug, component: plugin

#5343 Remove circular imports in generic contexts
  lib/python/picongpu/pypicongpu/output/auto.py
  lib/python/picongpu/pypicongpu/output/energy_histogram.py
  lib/python/picongpu/pypicongpu/output/macro_particle_count.py
  lib/python/picongpu/pypicongpu/output/phase_space.py
  lib/python/picongpu/pypicongpu/output/plugin.py
  lib/python/picongpu/pypicongpu/rendering/__init__.py
  lib/python/picongpu/pypicongpu/rendering/renderedobject.py
  lib/python/picongpu/pypicongpu/simulation.py
  lib/python/picongpu/pypicongpu/species/operation/densityprofile/densityprofile.py
  lib/python/picongpu/pypicongpu/species/operation/densityprofile/foil.py
  lib/python/picongpu/pypicongpu/species/operation/densityprofile/gaussian.py
  lib/python/picongpu/pypicongpu/species/operation/densityprofile/plasmaramp/exponential.py
  lib/python/picongpu/pypicongpu/species/operation/densityprofile/plasmaramp/none.py
  lib/python/picongpu/pypicongpu/species/operation/densityprofile/plasmaramp/plasmaramp.py
  lib/python/picongpu/pypicongpu/species/operation/densityprofile/uniform.py
  lib/python/picongpu/pypicongpu/species/operation/simpledensity.py
  lib/python/picongpu/pypicongpu/util.py
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/densityprofile.DensityProfile.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/plasmaramp/plasmaramp.PlasmaRamp.json
  share/picongpu/pypicongpu/template/include/picongpu/param/density.param.mustache
  test/python/picongpu/quick/picmi/distribution.py
  test/python/picongpu/quick/pypicongpu/output/auto.py
  test/python/picongpu/quick/pypicongpu/output/phase_space.py
  test/python/picongpu/quick/pypicongpu/species/operation/densityprofile/densityprofile.py
  test/python/picongpu/quick/pypicongpu/species/operation/densityprofile/foil.py
  test/python/picongpu/quick/pypicongpu/species/operation/densityprofile/gaussian.py
  test/python/picongpu/quick/pypicongpu/species/operation/densityprofile/uniform.py
  test/python/picongpu/quick/pypicongpu/species/operation/simpledensity.py
Labels: refactoring, CI:no-compile, PICMI

#5330 editing doc string
  docs/source/usage/picmi/custom_template.rst
  docs/source/usage/picmi/intro.rst
  lib/python/picongpu/pypicongpu/species/operation/setchargestate.py
Labels: documentation, CI:no-compile

#5341 Richard's slice test cases
  share/picongpu/unit/non_dimensional_tests/toSlice.cpp
Labels: component: tests

#5289 Flexible accumulation for binning
  docs/source/usage/plugins/binningPlugin.rst
  include/picongpu/plugins/binning/BinningCreator.hpp
  include/picongpu/plugins/binning/BinningData.hpp
  include/picongpu/plugins/binning/BinningFunctors.hpp
  include/picongpu/plugins/binning/binners/FieldBinner.hpp
  include/picongpu/plugins/binning/binners/ParticleBinner.hpp
  share/picongpu/tests/compile2/include/picongpu/param/binningSetup.param
Labels: component: plugin

#5326 Topic png plugin for picmi
  lib/python/picongpu/picmi/__init__.py
  lib/python/picongpu/picmi/diagnostics/__init__.py
  lib/python/picongpu/picmi/diagnostics/auto.py
  lib/python/picongpu/picmi/diagnostics/macro_particle_count.py
  lib/python/picongpu/picmi/diagnostics/png.py
  lib/python/picongpu/pypicongpu/__init__.py
  lib/python/picongpu/pypicongpu/output/__init__.py
  lib/python/picongpu/pypicongpu/output/plugin.py
  lib/python/picongpu/pypicongpu/output/png.py
  share/picongpu/pypicongpu/examples/laser_wakefield/main.py
  share/picongpu/pypicongpu/examples/warm_plasma/main.py
  share/picongpu/pypicongpu/schema/output/plugin.Plugin.json
  share/picongpu/pypicongpu/schema/output/png.Png.json
  share/picongpu/pypicongpu/template/etc/picongpu/N.cfg.mustache
  share/picongpu/pypicongpu/template/include/picongpu/param/png.param.mustache
Labels: CI:no-compile, PICMI

#5352 Checkpoint plugin picmi
  lib/python/picongpu/picmi/diagnostics/__init__.py
  lib/python/picongpu/picmi/diagnostics/checkpoint.py
  lib/python/picongpu/pypicongpu/__init__.py
  lib/python/picongpu/pypicongpu/output/__init__.py
  lib/python/picongpu/pypicongpu/output/checkpoint.py
  share/picongpu/pypicongpu/examples/laser_wakefield/main.py
  share/picongpu/pypicongpu/schema/output/checkpoint.Checkpoint.json
  share/picongpu/pypicongpu/schema/output/plugin.Plugin.json
  share/picongpu/pypicongpu/template/etc/picongpu/N.cfg.mustache
Labels: CI:no-compile, PICMI

#5354 update Boris pusher URL
  docs/source/usage/reference.rst
Labels: documentation, CI:no-compile

#5356 openPMD backend: Fix warning when using openPMD-api without ADIOS2
  include/picongpu/plugins/common/openPMDDefaultExtension.hpp
Labels: component: plugin, warning

#5347 Binning plugin axis rework
  docs/source/usage/plugins/binningPlugin.rst
  include/picongpu/plugins/binning/FunctorDescription.hpp
  include/picongpu/plugins/binning/UnitConversion.hpp
  include/picongpu/plugins/binning/axis/Axis.hpp
  include/picongpu/plugins/binning/axis/LinearAxis.hpp
  include/picongpu/plugins/binning/axis/LogAxis.hpp
  share/picongpu/unit/non_dimensional_tests/binningAxis.cpp
Labels: bug, component: plugin, refactoring, component: tests
