Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2025-06, with the labels that each got.

#5379 fix CI
  include/picongpu/particles/densityProfiles/GaussianImpl.hpp
Labels: bug, component: core

#5384 Documentation fixes for perlmutter-nersc
  etc/picongpu/perlmutter-nersc/README.md
Labels: documentation, machine/system, CI:no-compile

#5376 Topic cylyndrical density profile
  docs/source/usage/picmi/intro.rst
  include/picongpu/param/density.param
  include/picongpu/particles/densityProfiles/CylindricalImpl.def
  include/picongpu/particles/densityProfiles/CylindricalImpl.hpp
  include/picongpu/particles/densityProfiles/profiles.def
  include/picongpu/particles/densityProfiles/profiles.hpp
  lib/python/picongpu/picmi/__init__.py
  lib/python/picongpu/picmi/distribution/CylindricalDistribution.py
  lib/python/picongpu/picmi/distribution/__init__.py
  lib/python/picongpu/pypicongpu/species/operation/densityprofile/__init__.py
  lib/python/picongpu/pypicongpu/species/operation/densityprofile/cylinder.py
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/cylinder.Cylinder.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/densityprofile.DensityProfile.json
  share/picongpu/pypicongpu/template/include/picongpu/param/density.param.mustache
  test/python/picongpu/quick/picmi/distribution.py
  test/python/picongpu/quick/pypicongpu/species/operation/densityprofile/__init__.py
  test/python/picongpu/quick/pypicongpu/species/operation/densityprofile/cylinder.py
  test/python/picongpu/quick/pypicongpu/species/operation/densityprofile/densityprofile.py
Labels: component: core, PICMI

#5391 Fix max steps
  lib/python/picongpu/picmi/simulation.py
Labels: bug, CI:no-compile, PICMI

#5392 Fix integer casting in TimeStepSpec
  lib/python/picongpu/picmi/diagnostics/timestepspec.py
  test/python/picongpu/quick/picmi/diagnostics/timestepspec.py
Labels: bug, CI:no-compile, PICMI

#5396 update particle filter documentation
  docs/source/usage/workflows/particleFilters.rst
Labels: documentation, CI:no-compile
