Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2025-07, with the labels that each got.

#5404 Fix unset period in pypicongpu checkpoint
  lib/python/picongpu/picmi/diagnostics/checkpoint.py
Labels: bug, CI:no-compile, PICMI

#5395 fix broken test case
  include/picongpu/param/isaac.param
  include/picongpu/plugins/IsaacPlugin.x.cpp
  share/picongpu/tests/compile/include/picongpu/param/isaac.param
  share/picongpu/tests/compileLaser/include/picongpu/param/isaac.param
Labels: bug, component: plugin

#5406 Update cpow algorithm
  include/pmacc/algorithms/math/PowerFunction.hpp
Labels: component: PMacc

#5407 Add profile for Meluxina at Luxprovide
  etc/picongpu/meluxina-lxp/gpu.tpl
  etc/picongpu/meluxina-lxp/gpu_picongpu.profile.example
Labels: machine/system, CI:no-compile

#5378 Free formula density for PICMI
  .gitlab-ci.yml
  lib/python/picongpu/picmi/__init__.py
  lib/python/picongpu/picmi/distribution/AnalyticDistribution.py
  lib/python/picongpu/picmi/distribution/CylindricalDistribution.py
  lib/python/picongpu/picmi/distribution/FoilDistribution.py
  lib/python/picongpu/picmi/distribution/GaussianBunchDistribution.py
  lib/python/picongpu/picmi/distribution/GaussianDistribution.py
  lib/python/picongpu/picmi/distribution/UniformDistribution.py
  lib/python/picongpu/picmi/distribution/__init__.py
  lib/python/picongpu/picmi/grid.py
  lib/python/picongpu/picmi/requirements.txt
  lib/python/picongpu/picmi/simulation.py
  lib/python/picongpu/pypicongpu/rendering/__init__.py
  lib/python/picongpu/pypicongpu/rendering/pmaccprinter.py
  lib/python/picongpu/pypicongpu/species/operation/densityprofile/__init__.py
  lib/python/picongpu/pypicongpu/species/operation/densityprofile/free_formula.py
  share/picongpu/pypicongpu/examples/laser_wakefield/main.py
  share/picongpu/pypicongpu/schema/simulation.Simulation.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/densityprofile.DensityProfile.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/free_formula.FreeFormula.json
  share/picongpu/pypicongpu/template/include/picongpu/param/density.param.mustache
  test/python/picongpu/compiling/distribution.py
  test/python/picongpu/end-to-end/__init__.py
  test/python/picongpu/end-to-end/__main__.py
  test/python/picongpu/end-to-end/compare_particles.py
  test/python/picongpu/end-to-end/free_formula_density.py
  test/python/picongpu/quick/picmi/distribution.py
  test/python/picongpu/quick/picmi/distribution/analytic_distribution.py
  test/python/picongpu/quick/pypicongpu/rendering/__init__.py
  test/python/picongpu/quick/pypicongpu/rendering/pmaccprinter.py
  test/python/picongpu/quick/pypicongpu/species/operation/densityprofile/densityprofile.py
Labels: CI:no-compile, PICMI

#5410 By using zsh one would get the following error:
  etc/picongpu/hemera-hzdr/fwkt_v100_picongpu.profile.example
Labels: CI:no-compile
