Repository ComputationalRadiationPhysics/picongpu, pull requests merged in 2025-03, with the labels that each got.

#5298 Enable 2D simulations with the FromOpenPMDPulse profile
  docs/source/usage/workflows/addLaser.rst
  include/picongpu/fields/incidentField/profiles/FromOpenPMDPulse.def
  include/picongpu/fields/incidentField/profiles/FromOpenPMDPulse.hpp
  include/picongpu/fields/incidentField/profiles/profiles.def
  include/picongpu/fields/incidentField/profiles/profiles.hpp
  include/picongpu/param/incidentField.param
  lib/python/picongpu/extra/input/preparingInsightData.py
  lib/python/picongpu/extra/input/preparingInsightData_example.ipynb
Labels: component: core, refactoring

#5275 Made bunch creation tool compatible with CTR plugin
  lib/python/picongpu/extra/input/bunchInit_openPMD_bp.py
Labels: component: tools

#5282 Fixed variable naming and errors in CTR doku
  docs/source/usage/plugins/transitionRadiation.rst
  include/picongpu/param/transitionRadiation.param
Labels: documentation

#5288 Harden cut command in Snakefiles
  share/picongpu/examples/LaserWakefield/lib/python/snakemake/Snakefile
  share/picongpu/examples/LaserWakefield/lib/python/snakemake/Snakefile_LSF
Labels: bug, component: tools, component: examples, affects latest release

#5278 implementing phase space plugin in picmi
  lib/python/picongpu/picmi/__init__.py
  lib/python/picongpu/picmi/phase_space.py
  lib/python/picongpu/picmi/simulation.py
  lib/python/picongpu/pypicongpu/__init__.py
  lib/python/picongpu/pypicongpu/output/__init__.py
  lib/python/picongpu/pypicongpu/output/auto.py
  lib/python/picongpu/pypicongpu/output/phase_space.py
  lib/python/picongpu/pypicongpu/output/plugin.py
  lib/python/picongpu/pypicongpu/rendering/renderedobject.py
  lib/python/picongpu/pypicongpu/simulation.py
  share/picongpu/pypicongpu/examples/laser_wakefield/main.py
  share/picongpu/pypicongpu/schema/output/auto.Auto.json
  share/picongpu/pypicongpu/schema/output/phase_space.PhaseSpace.json
  share/picongpu/pypicongpu/schema/output/plugin.Plugin.json
  share/picongpu/pypicongpu/schema/simulation.Simulation.json
  share/picongpu/pypicongpu/schema/species/species.Species.json
  share/picongpu/pypicongpu/template/etc/picongpu/N.cfg.mustache
  test/python/picongpu/compiling/simulation.py
  test/python/picongpu/quick/pypicongpu/simulation.py
Labels: CI:no-compile, PICMI

#5304 Fix installation of mallocMC and alpaka
  include/pmacc/PMaccConfig.cmake
Labels: bug, component: third party, install

#5311 fix picmi time steps calc
  lib/python/picongpu/picmi/simulation.py
Labels: PICMI

#5306 Add perlmutter profile
  etc/picongpu/perlmutter-nersc/README.md
  etc/picongpu/perlmutter-nersc/dependencies_autoinstall.sh
  etc/picongpu/perlmutter-nersc/gpu.profile.example
  etc/picongpu/perlmutter-nersc/gpu.tpl
  etc/picongpu/perlmutter-nersc/gpu_stream.tpl
Labels: machine/system, CI:no-compile

#5302 Add unit tests for phasespace picmi
  lib/python/picongpu/pypicongpu/output/phase_space.py
  test/python/picongpu/quick/pypicongpu/output/__init__.py
  test/python/picongpu/quick/pypicongpu/output/phase_space.py
Labels: component: tests, CI:no-compile, PICMI

#5314 Topic energy histogram plugin for picmi
  lib/python/picongpu/picmi/__init__.py
  lib/python/picongpu/picmi/energy_histogram.py
  lib/python/picongpu/picmi/phase_space.py
  lib/python/picongpu/pypicongpu/__init__.py
  lib/python/picongpu/pypicongpu/output/__init__.py
  lib/python/picongpu/pypicongpu/output/energy_histogram.py
  lib/python/picongpu/pypicongpu/output/plugin.py
  share/picongpu/pypicongpu/examples/laser_wakefield/main.py
  share/picongpu/pypicongpu/schema/output/energy_histogram.EnergyHistogram.json
  share/picongpu/pypicongpu/schema/output/phase_space.PhaseSpace.json
  share/picongpu/pypicongpu/schema/output/plugin.Plugin.json
  share/picongpu/pypicongpu/template/etc/picongpu/N.cfg.mustache
Labels: CI:no-compile, PICMI

#5317 Supercharge getParticlePosition in binning plugin
  include/picongpu/plugins/binning/DomainInfo.hpp
Labels: component: plugin

#5309 Fix bugs in and refactor toSlice.hpp
  include/pmacc/pluginSystem/toSlice.hpp
  share/picongpu/unit/toSlice.cpp
Labels: bug, component: plugin, refactoring, affects latest release

#5313 Topic macro particle count plugin for picmi
  lib/python/picongpu/picmi/__init__.py
  lib/python/picongpu/picmi/macro_particle_count.py
  lib/python/picongpu/pypicongpu/__init__.py
  lib/python/picongpu/pypicongpu/output/__init__.py
  lib/python/picongpu/pypicongpu/output/macro_particle_count.py
  lib/python/picongpu/pypicongpu/output/plugin.py
  share/picongpu/pypicongpu/examples/laser_wakefield/main.py
  share/picongpu/pypicongpu/schema/output/macro_particle_count.MacroParticleCount.json
  share/picongpu/pypicongpu/schema/output/plugin.Plugin.json
  share/picongpu/pypicongpu/template/etc/picongpu/N.cfg.mustache
Labels: CI:no-compile, PICMI

#5312 Add ability to pass extra data to kernels and execute a host side hook to binning plugin
  include/picongpu/param/binningSetup.param
  include/picongpu/plugins/binning/BinningCreator.hpp
  include/picongpu/plugins/binning/BinningData.hpp
  include/picongpu/plugins/binning/BinningDispatcher.x.cpp
  include/picongpu/plugins/binning/BinningFunctors.hpp
  include/picongpu/plugins/binning/DomainInfo.hpp
  include/picongpu/plugins/binning/FilteredSpecies.hpp
  include/picongpu/plugins/binning/WriteHist.hpp
  include/picongpu/plugins/binning/axis/Axis.hpp
  include/picongpu/plugins/binning/axis/LinearAxis.hpp
  include/picongpu/plugins/binning/axis/LogAxis.hpp
  include/picongpu/plugins/binning/binnerPlugin.hpp
  include/picongpu/plugins/binning/binners/Binner.hpp
  include/picongpu/plugins/binning/binners/ParticleBinner.hpp
  include/picongpu/plugins/binning/functors/helpers.hpp
  include/picongpu/plugins/binning/utility.hpp
  share/picongpu/examples/AtomicPhysics/include/picongpu/param/binningSetup.param
  share/picongpu/examples/LaserWakefield/include/picongpu/param/binningSetup.param
  share/picongpu/tests/compile2/include/picongpu/param/binningSetup.param
Labels: component: plugin, refactoring, component: user input

#5316 add auto output to picmi
  lib/python/picongpu/picmi/__init__.py
  lib/python/picongpu/picmi/output/__init__.py
  lib/python/picongpu/picmi/output/auto.py
  share/picongpu/pypicongpu/examples/warm_plasma/main.py
Labels: component: user input, CI:no-compile, PICMI

#5320 Fix a bug in getParticlePosition where position is returned in PIC units instead of the expected SI units
  include/picongpu/plugins/binning/DomainInfo.hpp
Labels: bug, component: plugin

#5322 Binning Plugin: Fix output logic
  include/picongpu/plugins/binning/WriteHist.hpp
Labels: bug, component: plugin

#5323 Checkpoint-restart: Fix reading of RNG states
  include/picongpu/plugins/openPMD/openPMDWriter.x.cpp
Labels: component: plugin

#5286 guard against rate cache equal to zero
  include/picongpu/particles/atomicPhysics/kernel/ChooseInstantNonReversibleTransition.kernel
  include/picongpu/particles/atomicPhysics/kernel/ChooseTransitionGroup.kernel
  include/picongpu/particles/atomicPhysics/kernel/ChooseTransition_Autonomous.kernel
  include/picongpu/particles/atomicPhysics/kernel/ChooseTransition_BoundBound.kernel
  include/picongpu/particles/atomicPhysics/kernel/ChooseTransition_CollisionalBoundFree.kernel
  include/picongpu/particles/atomicPhysics/kernel/ChooseTransition_FieldBoundFree.kernel
  include/picongpu/particles/atomicPhysics/kernel/UpdateIon.hpp
Labels: bug, component: core

#5324 Remove unused return statement that breaks compile
  include/picongpu/plugins/binning/DomainInfo.hpp
Labels: bug, component: plugin

#5287 fix infinite instant transition loop
  include/picongpu/particles/atomicPhysics/kernel/ChooseInstantNonReversibleTransition.kernel
  include/picongpu/particles/atomicPhysics/kernel/ChooseTransition_FieldBoundFree.kernel
  include/picongpu/particles/atomicPhysics/kernel/FillRateCache_BoundFree.kernel
  include/picongpu/particles/atomicPhysics/kernel/SpawnIonizationMacroElectrons.kernel
  include/picongpu/particles/atomicPhysics/kernel/UpdateIonAtomicState.kernel
  include/picongpu/particles/atomicPhysics/rateCalculation/BoundFreeFieldTransitionRates.hpp
  include/picongpu/particles/atomicPhysics/stage/SpawnIonizationElectrons.hpp
  include/picongpu/simulation/stage/AtomicPhysics.x.cpp
Labels: bug, component: core

#5328 add warning message for force constant temperature
  include/picongpu/simulation/stage/AtomicPhysics.x.cpp
Labels: component: core, refactoring

#5327 fix Typo in IPD console note
  include/picongpu/particles/atomicPhysics/atomicData/AtomicData.hpp
Labels: component: core, refactoring

#5329 Use lazy parsing for checkpoint-restart in the openPMD plugin
  include/picongpu/plugins/openPMD/NDScalars.hpp
  include/picongpu/plugins/openPMD/openPMDWriter.x.cpp
  include/picongpu/plugins/openPMD/restart/LoadSpecies.hpp
  include/picongpu/plugins/openPMD/restart/RestartFieldLoader.hpp
Labels: refactoring, component: third party

#5332 Add json formatter and replace ASCII enforcement in pre-commit
  .pre-commit-config.yaml
  .zenodo.json
  lib/python/picongpu/extra/input/createBunch_example.ipynb
  lib/python/picongpu/extra/input/preparingInsightData_example.ipynb
  share/picongpu/pypicongpu/schema/customrenderingcontext.CustomRenderingContext.json
  share/picongpu/pypicongpu/schema/customuserinput.CustomUserInput.json
  share/picongpu/pypicongpu/schema/grid.Grid3D.json
  share/picongpu/pypicongpu/schema/laser.GaussianLaser.json
  share/picongpu/pypicongpu/schema/movingwindow.MovingWindow.json
  share/picongpu/pypicongpu/schema/output/phase_space.PhaseSpace.json
  share/picongpu/pypicongpu/schema/output/plugin.Plugin.json
  share/picongpu/pypicongpu/schema/simulation.Simulation.json
  share/picongpu/pypicongpu/schema/solver.YeeSolver.json
  share/picongpu/pypicongpu/schema/species/constant/charge.Charge.json
  share/picongpu/pypicongpu/schema/species/constant/densityratio.DensityRatio.json
  share/picongpu/pypicongpu/schema/species/constant/elementproperties.ElementProperties.json
  share/picongpu/pypicongpu/schema/species/constant/groundstateionization.GroundStateIonization.json
  share/picongpu/pypicongpu/schema/species/constant/ionizationcurrent.ionizationcurrent.IonizationCurrent.json
  share/picongpu/pypicongpu/schema/species/constant/ionizationmodel.Implementation.json
  share/picongpu/pypicongpu/schema/species/constant/ionizationmodel.ionizationmodel.IonizationModel.json
  share/picongpu/pypicongpu/schema/species/constant/mass.Mass.json
  share/picongpu/pypicongpu/schema/species/initmanager.InitManager.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/densityprofile.DensityProfile.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/foil.Foil.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/gaussian.Gaussian.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/plasmaramp/exponential.Exponential.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/plasmaramp/none.None_.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/plasmaramp/plasmaramp.PlasmaRamp.json
  share/picongpu/pypicongpu/schema/species/operation/densityprofile/uniform.Uniform.json
  share/picongpu/pypicongpu/schema/species/operation/momentum/drift.Drift.json
  share/picongpu/pypicongpu/schema/species/operation/momentum/temperature.Temperature.json
  share/picongpu/pypicongpu/schema/species/operation/setchargestate.SetChargeState.json
  share/picongpu/pypicongpu/schema/species/operation/simpledensity.SimpleDensity.json
  share/picongpu/pypicongpu/schema/species/operation/simplemomentum.SimpleMomentum.json
  share/picongpu/pypicongpu/schema/species/species.Species.json
  share/picongpu/pypicongpu/schema/species/util/element.Element.json
Labels: component: tools, refactoring, CI:no-compile

#5319 Add field binning to the binning plugin
  docs/source/usage/plugins/binningPlugin.rst
  include/picongpu/plugins/binning/BinningCreator.hpp
  include/picongpu/plugins/binning/BinningData.hpp
  include/picongpu/plugins/binning/BinningFunctors.hpp
  include/picongpu/plugins/binning/DomainInfo.hpp
  include/picongpu/plugins/binning/binners/FieldBinner.hpp
  include/picongpu/plugins/binning/binners/ParticleBinner.hpp
  share/picongpu/tests/compile2/include/picongpu/param/binningSetup.param
Labels: component: plugin

#5335 fix position offsets not being calculated correctly in Binning Plugin
  include/picongpu/plugins/binning/DomainInfo.hpp
Labels: bug, component: plugin
